// out
.out
	padding-bottom: 423px
	height: 100%
	height: auto
	min-height: 100%
	+box
	&.is-non-foot
		padding-bottom: 30px
	&.is-error
		height: 100%
		padding: 0

// center
.center
	@extend %in
	+clr
	&.is-pad
		padding: 28px 15px 39px
	&.is-order
		padding: 40px 15px 100px

// sidebar
.sidebar
	float: left
	width: 31.7%

// layout
.layout
	float: right
	width: 65.8%
	+box
	.title-h2
		margin: 20px 0
		&:first-child
			margin-top: 0

// is-resp
.is-resp
	display: none
	+r(1024)
		display: block

// topic
.topic
	position: relative
	background-size: cover
	background-repeat: no-repeat
	background-position: 50% 50%
	+m700
	&:before
		position: absolute
		content: ''
		top: 0
		left: 0
		right: 0
		bottom: 0
		opacity: .2
		z-index: 1
		background-color: #000
	&.is-mod
		.like
			bottom: 0
	&__in
		position: relative
		height: 230px
		@extend %in
		+vertical
	&__text
		position: relative
		color: #fff
		font-size: 80px
		vertical-align: middle
		z-index: 2
		background: transparent
		display: inline-block
		+r(1200)
			font-size: 60px
		+r(768)
			font-size: 45px
		+r(560)
			font-size: 30px
	.like
		position: absolute
		right: 35px
		bottom: 5px
		z-index: 1
		+r(980)
			display: none

article
	& + .l
		margin-top: 35px
	.title-h3
		margin: 16px 0 
		text-align: left
		&:first-child
			margin-top: 0
	p 
		color: $c_foot
		letter-spacing: .42px
		& + p
			margin-top: 22px

// theme
.theme
	padding: 10px 18px 9px
	color: #fff
	+m700
	font-size: 15px
	text-transform: uppercase
	background: $purple

// title
.title-h2
	margin: 28px 0 35px
	color: $c_body
	font-size: 25px
	text-transform: uppercase
	+m400
	+clr
	&.is-mod
		margin: 28px 0 10px
	.rating
		margin-left: 14px
		font-size: 0
		.star
			margin-left: 1px
	.fa
		vertical-align: middle
	.view-all
		float: right
		margin-top: 4px
		text-transform: initial

.title-h3
	margin: 45px 0 35px
	text-align: center
	line-height: 1.2
	color: $c_body
	+m700
	font-size: 24px
	+r(1024)
		margin: 30px 0 20px
	+r(560)
		margin: 20px 0 15px
.title-h4
	+m400
	font-size: 21px
h5
	font-size: 15px
	+l700

.title-h6
	+l700
	font-size: 15px
	text-transform: uppercase
	.rating
		margin-left: 8px
		vertical-align: middle
		line-height: 1
	a
		transition: border-color .2s
		border-bottom: 1px solid transparent
		&:active
			border-color: $c_body
		+rm(1024)
			&:hover
				border-color: $c_body

// title-small
.title-small
	font-size: 14px
	text-transform: uppercase
	+m700

// list
.list
	&.is-red
		li
			&:before
				color: $red
	li
		position: relative
		padding-left: 20px
		&:before
			position: absolute
			left: 0
			top: 3px
			content: "\f105"
			display: inline-block
			font: normal normal normal 14px/1 FontAwesome
			font-size: inherit
			text-rendering: auto
			-webkit-font-smoothing: antialiased
			-moz-osx-font-smoothing: grayscale
	a
		transition: border-color .2s
		border-bottom: 1px solid transparent
		&:active
			border-color: $c_body
		+rm(1024)
			&:hover
				border-color: $c_body

// line
.line
	border: none
	height: 1px
	background: $gray

// like
.like
	padding: 9px 20px
	font-size: 14px
	+m700
	color: #fff
	background: rgba(#000, .5)
	display: inline-block
	&__short
		margin-right: 8px
		color: $yellow
	&__short,
	&__text
		vertical-align: baseline
		display: inline-block

// tabs
.tab
	position: relative
	margin-top: -5px
	border-top: 5px solid $red
	z-index: 3
	background: #fff
	&_mod
		.tab__link
			padding-top: 10px
			border: 1px solid $red
			border-bottom: none
			+box
	&__list
		margin-top: -42px
		font-size: 0
		@extend %in
		+r(767)
			margin-top: -36px
		+r(480)
			display: none
	&__item
		position: relative
		margin-left: 5px
		+m700
		font-size: 14px
		vertical-align: top
		text-transform: uppercase
		display: inline-block
		background: $red
		+transition(background .2s)
		&:first-child
			margin-left: 0
		&.is-active,
		&:active
			background: #fff
			.tab__link
				color: $red
		+rm(1024)
			&:hover
				background: #fff
				.tab__link
					color: $red
		+r(768)
			font-size: 12px
	&__link
		padding: 11px 28px
		color: #fff
		+transition(color .2s)
		display: block
		+r(768)
			padding: 8px 18px
	&__in
		border-bottom: 5px solid $gray
	&__accord
		font-size: 16px
		text-transform: uppercase
		border-bottom: 1px solid $gray
		display: none
		&.is-active
			a
				&:after
					transform: translate(0, calc(-50% + 1px)) rotate(180deg)
		+r(480)
			display: block
		a
			position: relative
			padding: 10px 40px 10px 10px
			color: $red
			display: block
			&:after
				content: "\f107"
				position: absolute
				right: 30px
				top: 50%
				transform: translate(0,-50%)
				font: normal normal normal 14px/1 FontAwesome
				font-size: inherit
				text-rendering: auto
				-webkit-font-smoothing: antialiased
				transition: transform .3s
	&__cont
		padding: 30px 15px
		font-size: 0
		@extend %in
		display: none
		+r(1200)
			text-align: center
		+r(980)
			padding: 20px 10px
		+r(480)
			padding: 10px
			border-bottom: 1px solid $gray
	&__text
		font-size: 14px
	.select,
	.input,
	.btn
		margin-left: 1.7%
		&:first-child
			margin-left: 0
		+r(900)
			margin-left: 1.2%
		+r(768)
			margin: 10px 0 0
			width: 100%
			&:first-child
				margin-top: 0
	.select,
	.input
		width: 18%
		+r(1199)
			width: 17%
			min-width: 120px
		+r(768)
			width: 100%
	.input
		input
			padding-left: 44px
			+r(980)
				padding-left: 40px
			+r(900)
				padding-left: 35px

// select
.select
	position: relative
	min-width: 220px
	color: $c_form
	+l300
	font-size: 16px
	text-align: left
	user-select: none
	cursor: pointer
	vertical-align: top
	display: inline-block
	+r(900)
		font-size: 14px
	&.is-mask
		.select__text
			white-space: normal
			overflow: initial
	select
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		opacity: 0
		z-index: -1
	&__text
		position: relative
		display: block
		padding: 17px 35px 17px 15px
		border: 3px solid $l_gray
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
		+box
		+clr
		&:after
			content: "\f107"
			position: absolute
			right: 17px
			top: 50%
			transform: translate(0,-50%)
			font: normal normal normal 14px/1 FontAwesome
			font-size: inherit
			text-rendering: auto
			-webkit-font-smoothing: antialiased
		+r(980)
			padding: 12px 10px
		+r(900)
			padding: 8px 10px

	&__list
		position: absolute
		display: none
		left: 0
		right: 0
		top: 100%
		z-index: 100
		border: 3px solid $l_gray
		border-top: 0 
		max-height: 200px
		overflow-x: hidden
		overflow-y: auto
		background: #fff
		li
			padding: 15px 
			cursor: pointer
			line-height: 1
			transition: background .2s
			&:active
				background: $l_gray
			+rm(1024)
				&:hover
					background: $l_gray
	&__mask
		margin: -3px 0
		min-width: 15px
		height: 28px
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
		border-bottom: 1px solid #a1a1a1
		display: inline-block

// input textarea
.input,
.textarea
	position: relative
	vertical-align: top
	display: inline-block
	&__star
		position: absolute
		top: 9px
		left: 10px
		color: $red
		+l300
		font-size: 25px
	input,
	textarea
		padding: 0 15px
		height: 60px
		width: 100%
		color: $c_form
		+l300
		font-size: 16px
		border: 3px solid $l_gray
		+box
		display: block
		&.is-error,
		&.error
			& + .text-error
				display: block
		&::placeholder
			color: $c_form
		+r(980)
			padding: 0 10px
			height: 50px
		+r(900)
			height: 42px
			font-size: 14px
	.fa
		position: absolute
		left: 19px
		top: 50%
		margin-top: -9px
		font-size: 19px
		color: $c_form
		transition: color .2s
		+r(980)
			left: 14px
		+r(900)
			font-size: 16px
	.ui-datepicker-trigger
		position: absolute
		left: 19px
		top: 50%
		transform: translate(0,-50%)
		cursor: pointer
		opacity: 0
		z-index: 2
		&:active
			& + .fa
				color: rgba($c_form, .7)
		+rm(1024)
			&:hover
				& + .fa
					color: rgba($c_form, .7)

// textarea
.textarea
	textarea
		padding-top: 17px
		height: 160px
		resize: none
	
// checkbox
.checkbox
	position: relative
	user-select: none
	display: block
	input,
	&__text:before
		position: absolute
		top: 0
		left: 0
		width: 22px
		height: 22px
	input
		opacity: 0
		z-index: 1
		cursor: pointer
		&:checked
			cursor: default
			& + .checkbox__text
				&:after
					display: block
		&:disabled
			& + .checkbox__text
				cursor: default
				color: #d1d1d1
	&__text
		position: relative
		padding-left: 30px
		cursor: pointer
		&:before
			content: ''
			border: 2px solid $l_gray
			+box
		&:after
			position: absolute
			top: 4px
			left: 5px
			content: "\f00c"
			color: $red
			font: normal normal normal 14px/1 FontAwesome
			font-size: inherit
			text-rendering: auto
			-webkit-font-smoothing: antialiased
			-moz-osx-font-smoothing: grayscale
			display: none
	&__in
		+clr
	&__left
		float: left
	&__right
		float: right

// btn
.btn
	padding: 20px 35px
	color: #fff
	+l300
	text-transform: uppercase
	vertical-align: top
	font-size: 16px
	line-height: 20px
	text-align: center
	transition: color .3s, background-color .3s
	background: $red
	+box
	display: inline-block
	&:active
		background: darken($red, 20%)
	+rm(1024)
		&:hover
			background: darken($red, 10%)
	+r(980)
		padding: 15px 20px
	+r(900)
		padding: 11px 25px
		font-size: 14px
	&_purple
		background: $purple
		&:active
			background: darken($purple, 20%)
		+rm(1024)
			&:hover
				background: darken($purple, 10%)
	&_black
		background: $c_body
		&:active
			background: darken($c_body, 20%)
		+rm(1024)
			&:hover
				background: darken($c_body, 10%)
	&_gray
		color: $c_body
		background: $l_gray
		&:active
			background: $yellow
		+rm(1024)
			&:hover
				background: $yellow
	&_yellow
		padding: 20px
		+m700
		color: $purple
		font-size: 15px
		text-transform: uppercase
		-webkit-font-smoothing: antialiased
		-moz-osx-font-smoothing: grayscale
		background: $yellow
		&:active
			color: #fff
			background: $c_body
		+rm(1024)
			&:hover
				color: #fff
				background: $c_body
	&_yellow-black
		color: $c_body
		text-transform: uppercase
		background: $yellow
		&:active
			color: #fff
			background: $c_body
		+rm(1024)
			&:hover
				color: #fff
				background: $c_body
	&_small
		padding: 0 12px
		height: 30px
		min-width: 112px
		font-size: 14px
		+m700
		letter-spacing: -.6px
		line-height: 30px
		-webkit-font-smoothing: antialiased
		-moz-osx-font-smoothing: grayscale
	&_sm-m
		padding: 0 28px
		min-width: 93px
		height: 40px
		line-height: 40px
		+l700
		font-size: 13px
	&_middle
		padding: 0 20px
		height: 45px
		font-size: 15px
		line-height: 45px
	&_bold
		+m700
		-webkit-font-smoothing: antialiased
		-moz-osx-font-smoothing: grayscale
	&_print
		height: 70px
		line-height: 30px
		text-transform: initial
		font-size: 15px
		+l700
		.fa,
		.icon
			margin-right: 18px
			font-size: 20px
	&__small
		text-transform: initial

// inf
.inf
	text-align: center
	color: $purple
	text-transform: uppercase
	background: $yellow
	&__in
		position: relative
		padding: 15px 35px
		margin: 0 auto
		max-width: 1482px
		+box
	&__close
		position: absolute
		top: 50%
		right: 10px
		transform: translate(0,-50%)
		background-color: transparent
		transition: opacity .2s
		+s(close)
		&:active
			opacity: .6
		+rm(1024)
			&:hover
				opacity: .8
	strong
		+l700

// quote
.quote
	margin: 50px 0 40px
	font-size: 24px
	line-height: 1.3
	text-align: center
	+m700
	+r(1200)
		margin: 40px 0 30px
	+r(980)
		margin: 30px 0
		font-size: 20px
	+r(768)
		margin: 25px 0 30px
		font-size: 20px
	+r(480)
		font-size: 16px
	&__top
		padding: 6px 0 14px
		color: $yellow
		font-size: 46px
		line-height: 1
		+r(768)
			padding-bottom: 10px
			font-size: 40px
	&__text
		position: relative
		padding: 0 100px 32px
		+r(1200)
			padding: 0 50px 20px
		+r(768)
			padding: 0 30px 20px
		+r(480)
			padding: 0 0 20px
		&:before
			position: absolute
			content: ''
			left: 50%
			bottom: 0
			margin-left: -35px
			height: 1px
			width: 70px
			background: $d_gray
// stat
.stat
	margin: 40px 0
	padding: 55px 0
	color: $purple
	line-height: 39px
	font-size: 30px
	text-align: center
	text-transform: uppercase
	+m400
	background: url(../img/stat-bg.png) 0 0 repeat
	+r(1200)
		padding: 46px 0
		font-size: 26px
	+r(1024)
		padding: 25px 0
		font-size: 20px
		line-height: 1.2
	+r(768)
		margin: 20px 0
		font-size: 18px
	+r(480)
		padding: 15px 0
		font-size: 14px
	&__in
		@extend %in
		+r(480)
			padding: 0 10px
	strong
		color: #fff
		font-size: 48px
		+m700
		display: inline-block
		vertical-align: text-bottom
		+r(1200)
			font-size: 40px
		+r(1024)
			font-size: 30px
			vertical-align: inherit
		+r(480)
			font-size: 20px

// hr
.hr
	margin: 0
	height: 1px
	background: #f1f1f1
	border: none

// reviews
.reviews
	margin: 55px 0 60px
	+r(768)
		margin: 35px 0
	+r(480)
		margin: 20px 0 30px
	&__in
		@extend %in
	&__title
		color: $c_title
		+m700
		font-size: 24px
		line-height: 24px
		text-align: center
	&__row
		margin: 50px 0
		+clr
		+r(1024)
			margin: 30px 0
		+r(480)
			margin: 15px 0
	&__bot
		margin-top: 60px
		text-align: center
		+r(1024)
			margin-top: 30px
		+r(480)
			margin-top: 15px
	.review
		float: left
		width: 50%
		+r(1024)
			margin-top: 30px
			width: 100%
			&:first-child
				margin-top: 0
		+r(768)
			margin-top: 15px

// review
.review
	padding-right: 30px
	font-size: 15px
	+box
	+clr
	&__left
		float: left
		margin-right: 15px
	&__img
		position: relative
		height: 126px
		width: 126px
		overflow: hidden
		border-radius: 50%
		z-index: 1
		img
			display: block
		+r(768)
			display: none
	&__right
		float: right
		width: calc(100% - 146px)
		+r(768)
			width: 100%
	&__top
		margin-bottom: 5px
	&__title
		color: $red
		+m400
		font-size: 15px
		text-transform: uppercase
		vertical-align: top
		display: inline-block
	&__text
		position: relative
		color: $c_text
		font-size: 15px
		line-height: 24px
		&:before
			position: absolute
			top: -14px
			left: -37px
			content: '“'
			color: #ddd
			+m400
			font-size: 93px
			line-height: 1
			text-transform: uppercase
		+r(480)
			font-size: 14px
			line-height: 1.2
	&__more
		color: $red
	.comment
		margin-top: 12px

// rating
.rating
	font-size: 0
	vertical-align: top
	display: inline-block
.star
	margin-left: 2px
	font-size: 0
	color: #fff
	vertical-align: top
	display: inline-block
	&:first-child
		margin-left: 0
	&.is-check
		color: $yellow
	.fa
		font-size: 15px


// comment
.comment
	&__user,
	&__name,
	&__text
		margin-right: 2px
		vertical-align: top
		display: inline-block
	&__user
		img
			display: block
	&__name
		+m700

// img
.img
	position: relative
	padding-bottom: 16.8%
	background-position: 50% 50%
	background-repeat: no-repeat
	background-size: cover
	+r(1024)
		padding-bottom: 20%
	+r(768)
		padding-bottom: 30%
	+r(560)
		padding-bottom: 40%
	+r(480)
		padding-bottom: 60%
	&:before
		position: absolute
		content: ''
		top: 0
		left: 0
		right: 0
		bottom: 0
		opacity: 0.1
		background-color: #000

// hint
.hint
	margin-left: 8px
	padding: 1px 9px 4px
	color: #fff
	font-size: 14px
	+l300
	border-radius: 8px
	background-color: $d_red
	display: inline-block
	&.is-purple
		background: $purple

// breadcrumbs
.breadcrumbs
	margin: 15px 0 18px
	font-size: 0
	color: $c_bread
	+l400
	li
		font-size: 15px
		vertical-align: top
		display: inline-block
	a
		border-bottom: 1px solid transparent
		transition: border-color .2s
		&:active
			border-color: $c_bread
		+rm(1024)
			&:hover
				border-color: $c_bread
	.fa
		margin: 7px 5px 0
		font-size: 11px
		vertical-align: top
		color: $red

// view
.view
	padding: 10px 8px 8px
	width: 125px
	+l700
	text-align: center
	transition: opacity .2s
	border: 1px dashed $bord_view
	display: inline-block
	&:active
		opacity: .7
	+rm(1024)
		&:hover
			opacity: .7
	&.is-red
		color: $red
		border-color: $red
	.icon
		margin-bottom: 5px
		font-size: 18px

// view-all
.view-all
	+m700
	font-size: 15px
	color: $red
	transition: border-color .2s
	border-bottom: 1px solid transparent
	&:active
		border-color: $red
	+rm(1024)
		&:hover
			border-color: $red

// more
.more
	color: $red
	font-size: 14px
	+l300
	transition: border-color .2s
	text-transform: uppercase
	border-bottom: 1px solid transparent
	&:active
		border-color: $red
	+rm(1024)
		&:hover
			border-color: $red

// map
.map
	margin: 25px 0 28px
	width: 100%
	height: 360px
	.gm-style-cc,
	a
		display: none !important

.map-contact
	height: 400px
	width: 100%
	border-bottom: 5px solid $red
	.gm-style-cc,
	a
		display: none !important

// shadow
.shadow
	position: relative
	z-index: 1
	box-shadow: 0 0 18px rgba(0, 0, 0, 0.19)

// widget
.widget
	img
		width: 100%
		display: block

// price
.price
	position: relative
	+m700
	color: $purple
	font-size: 25px
	sup
		vertical-align: top
		font-size: 13px
		line-height: 1.2
	.discount
		position: absolute
		left: 0
		bottom: 100%
		margin-bottom: 7px

// check
.check
	position: relative
	cursor: pointer
	user-select: none
	color: $c_check
	font-size: 31px
	input
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		opacity: 0
		z-index: 1
		cursor: pointer
		&:checked
			& + .icon,
			& + .fa
				color: $red

// discount, text-error
.discount,
.text-error
	position: relative
	+l400
	font-size: 12px
	line-height: 1.5
	color: #fff
	white-space: nowrap
	&:before
		position: absolute
		content: ''
		top: 100%
		left: 10px
		+arr(10,5,$red,b)
	span
		padding: 0 10px
		background: $red
		display: inline-block

// text-error
.text-error
	display: none
	.is-error
		display: block
	&:before
		+arr(10,5,$d_red,b)
	span
		padding: 0 8px
		background: $d_red

// preloader
.preloader
	padding: 36px 0

// loader
.loader
	position: relative
	width: 52px
	height: 52px
	margin: auto
	&__item
		position: absolute
		background-color: $purple
		width: 10px
		height: 10px
		border-radius: 8px
		animation: loader 1.25s infinite normal
	&__item_1
		left: 0
		top: 21px
		animation-delay: 0.47s
	&__item_2
		left: 5px
		top: 5px
		animation-delay: 0.62s
	&__item_3
		top: 0
		left: 21px
		animation-delay: 0.78s
	&__item_4
		right: 5px
		top: 5px
		animation-delay: 0.94s
	&__item_5
		right: 0
		top: 21px
		animation-delay: 1.09s
	&__item_6
		right: 5px
		bottom: 5px
		animation-delay: 1.25s
	&__item_7
		left: 21px
		bottom: 0
		animation-delay: 1.4s
	&__item_8
		left: 5px
		bottom: 5px
		animation-delay: 1.56s

@keyframes loader
	0%
		transform: scale(1)
	100%
		transform: scale(0)

// load
.load
	overflow: hidden
	&__in
		width: 1000%
		height: 16px
		white-space: nowrap
		animation-name: loadleft
		animation-duration: 95s
		animation-iteration-count: infinite
		animation-timing-function: linear
		font-size: 0
	&__item
		height: 16px
		width: 1000%
		background: url(../img/load-bg.png) repeat-x 0 0
		vertical-align: top
		display: inline-block

@keyframes loadleft
	0%
		margin-left: 0px

	100%
		margin-left: -1000%

// flag
.flag
	display: inline-block
	img
		display: block

// banner
.banner
	display: block
	& + .banner
		margin-top: 30px
	img
		width: 100%
		display: block

// 
.spiner
	position: relative
	width: 130px
	font-size: 0
	+m700
	vertical-align: top
	display: inline-block
	&__minus,
	&__plus
		position: absolute
		top: 0
		width: 40px
		height: 40px
		color: #fff
		font-size: 14px
		line-height: 1
		transition: background .2s
		background: $yellow
		vertical-align: top
		display: inline-block
		&:active
			background: darken($yellow, 10%)
		+rm(1024)
			&:hover
				background: darken($yellow, 5%)
	&__minus
		left: 0
	&__plus
		right: 0
	&__input
		color: #fff
		height: 40px
		width: 100%
		+m700
		font-size: 14px
		text-align: center
		-webkit-font-smoothing: antialiased
		-moz-osx-font-smoothing: grayscal
		background: $purple

// time
.time
	font-size: 14px
	&__for,
	&__to
		vertical-align: top
		display: inline-block
	&__to
		position: relative
		padding-left: 8px
		margin-left: 5px
		&:before
			position: absolute
			content: ''
			top: 6px
			left: 0
			+arr(5,8,$c_text,r)
	.fa
		margin: 2px 5px 0 0
		font-size: 16px
		vertical-align: top

// date
.date
	.fa,
	.icon
		margin: 2px 4px 0 0
		font-size: 16px
		vertical-align: top

// back
.back
	position: relative
	padding-left: 12px
	font-size: 15px
	+l400
	color: $c_menu
	vertical-align: top
	display: inline-block
	&:active
		span
			border-color: $c_menu
	+rm(1024)
		&:hover
			span
				border-color: $c_menu
	.fa,
	.icon
		position: absolute
		top: 50%
		left: 0
		transform: translate(0,-50%)
	span
		border-bottom: 1px solid transparent
		transition: border-color .2s

// accord
.accord
	overflow: hidden
	&.is-active
		.accord__top
			&:before
				transform: translate(0,-5px)
				transform: rotate(90deg)
	&__top
		position: relative
		padding: 20px
		+m700
		color: $c_text
		font-size: 14px
		text-transform: uppercase
		cursor: pointer
		box-shadow: 0 0 9px rgba(0, 0, 0, 0.19)
		transition: background .3s
		border-bottom: 1px solid #dedede
		background: $l_gray
		+rm(1024)
			&:hover
				background: $yellow
				&:before
					transform: translate(5px,0)
		&:active
			background: $yellow
		&:before
			position: absolute
			right: 20px
			top: 50%
			margin-top: -7px
			content: "\f054"
			color: #c4c4c4
			font: normal normal normal 14px/1 FontAwesome
			font-size: inherit
			transition: transform .3s
			text-rendering: auto
			-webkit-font-smoothing: antialiased
			-moz-osx-font-smoothing: grayscale
	&__in
		display: none
	&__wrap
		padding: 20px


// link
.link
	padding: 20px
	+m700
	color: $c_text
	font-size: 14px
	text-transform: uppercase
	background: $l_gray
	transition: background .3s
	display: block
	+rm(1024)
		&:hover
			background: $yellow
			&:before
				transform: translate(5px,0)
	&:active
		background: $yellow

// total-price
.total-price
	font-size: 15px
	+m700
	background: $l_gray
	vertical-align: top
	display: inline-block
	+clr
	&__text
		padding: 0 18px
		line-height: 45px
		min-height: 45px
		overflow: hidden
		span
			margin-top: -2px
			line-height: 1.4
			vertical-align: middle
			display: inline-block
	.btn
		float: right
		font-size: 18px

// liked 
.liked
	color: #bbb
	vertical-align: top
	display: inline-block
	.fa,
	.icon
		margin-right: 2px
		transition: opacity .2s
		&:active
			opacity: .8
		+rm(1024)
			&:hover
				opacity: .8

// tell
.tell
	color: #bbb
	vertical-align: top
	display: inline-block
	.fa,
	.icon
		margin-right: 2px
		transition: opacity .2s
		&:active
			opacity: .8
		+rm(1024)
			&:hover
				opacity: .8

// pag
.pag
	margin-top: 29px
	font-size: 0
	+l400
	li
		margin-left: 10px
		font-size: 16px
		vertical-align: top
		display: inline-block
		&:first-child
			margin-left: 0
		&.is-active,
		&:active
			a
				background: $red
				color: #fff
				border-color: $red
		+rm(1024)
			&:hover
				a
					background: $red
					color: #fff
					border-color: $red
	a,
	span
		width: 50px
		height: 50px
		color: $c_pag
		text-align: center
		line-height: 48px
		transition: border-color .2s, color .2s, background .2s
		+box
		border: 1px solid $c_pag
		display: block


// title-border
.title-border
	margin-bottom: 30px
	padding-top: 24px
	+m400
	font-size: 25px
	border-top: 4px solid $yellow

// list-border
.list-border
	font-size: 14px
	li
		min-height: 39px
		line-height: 39px
		border-bottom: 1px solid #eee
		display: block
		a
			margin-top: -2px
			line-height: 1.3
			color: $c_menu
			vertical-align: middle
			transition: border-color .2s
			border-bottom: 1px solid transparent
			display: inline-block
			&:active
				border-color: $c_menu
			+rm(1024)
				&:hover
					border-color: $c_menu

// accent
.accent
	margin: 25px 0
	padding: 6px 0 5px 25px
	color: #393939
	border-left: 3px solid $yellow

// ind
.ind
	+m700
	font-size: 24px
	text-transform: uppercase
	color: $purple
