// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)
// =book
// 	font-family: "book", Arial, sans-serif
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)


body
	color: $c_body
	+l300
	font-size: 14px
	line-height: 20px

a
	color: inherit
	text-decoration: none

// common blocks


// destinations
.destinations
	&__in
		+clr

// destin
.destin
	position: relative
	float: left
	width: 50%
	color: $c_destin
	font-size: 15px
	background: $gray
	+clr
	+r(1200)
		width: 100%
	&.is-left
		.destin__img
			left: auto
			right: 0
		.destin__art
			float: left
			&:before
				right: auto
				left: 100%
				+arr(18,34,$gray,r)
	&:nth-child(odd)
		+r(1200)
			.destin__img
				left: auto
				right: 0
			.destin__art
				float: left
				&:before
					right: auto
					left: 100%
					+arr(18,34,$gray,r)
		+r(560)
			.destin__art
				&:before
					top: auto
					left: 50%
					right: auto
					bottom: 100%
					transform: translate(-50%,0)
					+arr(17,9,$gray,t)
	&:nth-child(even)
		+r(1200)
			.destin__img
				left: 0
				right: auto
			.destin__art
				float: right
				&:before
					left: auto
					right: 100%
					+arr(18,34,$gray,l)
		+r(560)
			.destin__art
				&:before
					top: auto
					left: 50%
					right: auto
					bottom: 100%
					transform: translate(-50%,0)
					+arr(17,9,$gray,t)
	&__img
		position: absolute
		top: 0
		left: 0
		bottom: 0
		width: 50%
		background-repeat: no-repeat
		background-position: 50% 50%
		background-size: cover
		+r(560)
			position: relative
			padding-bottom: 50%
			width: 100%
	&__art
		position: relative
		float: right
		width: 50%
		&:before
			position: absolute
			content: ''
			top: 50%
			right: 100%
			transform: translate(0,-50%)
			+arr(18,34,$gray,l)
		+r(560)
			width: 100%
	&__in
		padding: 15% 24% 7% 10.5%
		font-size: 15px
		text-align: left
		+r(560)
			padding: 20px 10px
	&__bot
		margin-top: 20px
		+r(560)
			margin-top: 10px
	&__select
		color: $red
		text-transform: uppercase
		border-bottom: 1px solid transparent
		transition: border-color .2s
		&:active
			border-color: $red
		+rm(1024)
			&:hover
				border-color: $red
	.title-h4
		margin-bottom: 20px
		color: $c_body
		+r(560)
			margin-bottom: 10px