// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)
// =book
// 	font-family: "book", Arial, sans-serif
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)


body
	color: $c_body
	+l300
	font-size: 14px
	line-height: 20px
	+r(768)
		font-size: 13px
	&.is-hidden
		overflow: hidden
	&.is-registration
		background: url(../img/sl1.png) 50% 50% no-repeat
		background-size: cover
		.out
			overflow: hidden
		.header
			position: absolute
			top: 0
			left: 0
			right: 0
			background: transparent
			&:before
				position: absolute
				content: ''
				top: 0
				left: 0
				width: 100%
				height: 90px
				background: transparent
				z-index: -1
				transition: background .2s
				+r(1200)
					height: 70px
				+r(768)
					height: 0
			&.is-open-menu
				&:before
					z-index: 1
					background: #fff
		.menu
			width: calc(100% - 380px)
			+r(1200)
				padding-left: 0
				width: 100%
			.menu__item 
				position: relative
				z-index: -1
				& > a
					visibility: hidden
					opacity: 0
					transition: opacity .2s
		.menu-open__btn
			&:before,
			&:after,
			span
				background: #fff
			&:active
				&:before,
				&:after,
				span
					background: $d_red
			+rm(1024)
				&:hover
					&:before,
					&:after,
					span
						background: $d_red

a
	color: inherit
	text-decoration: none

// destinations
.destinations
	&__in
		+clr

// destin
.destin
	position: relative
	float: left
	width: 50%
	color: $c_destin
	font-size: 15px
	background: $gray
	+clr
	+r(1200)
		width: 100%
	&.is-left
		.destin__img
			left: auto
			right: 0
		.destin__art
			float: left
			&:before
				right: auto
				left: 100%
				+arr(18,34,$gray,r)
	&:nth-child(odd)
		+r(1200)
			.destin__img
				left: auto
				right: 0
			.destin__art
				float: left
				&:before
					right: auto
					left: 100%
					+arr(18,34,$gray,r)
		+r(560)
			.destin__art
				&:before
					top: auto
					left: 50%
					right: auto
					bottom: 100%
					transform: translate(-50%,0)
					+arr(17,9,$gray,t)
	&:nth-child(even)
		+r(1200)
			.destin__img
				left: 0
				right: auto
			.destin__art
				float: right
				&:before
					left: auto
					right: 100%
					+arr(18,34,$gray,l)
		+r(560)
			.destin__art
				&:before
					top: auto
					left: 50%
					right: auto
					bottom: 100%
					transform: translate(-50%,0)
					+arr(17,9,$gray,t)
	&__img
		position: absolute
		top: 0
		left: 0
		bottom: 0
		width: 50%
		background-repeat: no-repeat
		background-position: 50% 50%
		background-size: cover
		display: block
		+r(560)
			position: relative
			padding-bottom: 50%
			width: 100%
	&__art
		position: relative
		float: right
		width: 50%
		&:before
			position: absolute
			content: ''
			top: 50%
			right: 100%
			transform: translate(0,-50%)
			+arr(18,34,$gray,l)
		+r(560)
			width: 100%
	&__in
		padding: 15% 24% 7% 10.5%
		font-size: 15px
		text-align: left
		+r(560)
			padding: 20px 10px
	&__bot
		margin-top: 20px
		+r(560)
			margin-top: 10px
	&__select
		color: $red
		text-transform: uppercase
		border-bottom: 1px solid transparent
		transition: border-color .2s
		&:active
			border-color: $red
		+rm(1024)
			&:hover
				border-color: $red
	.title-h4
		margin-bottom: 20px
		color: $c_body
		+r(560)
			margin-bottom: 10px

// names
.names
	margin: 28px 0
	color: $d_gray
	line-height: 1.4
	font-size: 0
	+l700
	+clr
	&.is-last
		margin-bottom: 60px
	+r(560)
		margin: 15px 0
	&__list
		padding-right: 40px
		width: 25%
		font-size: 15px
		box-sizing: border-box
		vertical-align: top
		display: inline-block
		+r(980)
			width: 50%
			text-align: center
			&:nth-child(+n+3)
				margin-top: 15px
		+r(560)
			padding-right: 0
			width: 100%
			&:nth-child(+n+2)
				margin-top: 10px
	.names__letter
		margin-top: 15px
		+m700
		color: $red
		text-transform: uppercase
		&:first-child
			margin-top: 0
		+r(560)
			margin-top: 10px
	li
		margin-top: 5px
		&:first-child
			margin-top: 0
		+r(560)
			margin-top: 0
	a
		color: $c_title
		border-bottom: 1px solid transparent
		transition: border-color .2s
		&:active
			border-color: $c_title
		+rm(1024)
			&:hover
				border-color: $c_title

// nav
.nav
	padding-top: 11px
	font-size: 0
	background: $l_gray
	&__in
		@extend %in
		.nav__list
			padding: 0
			margin: 0
			width: 100%
			display: table
			+r(768)
				display: block
		.nav__item
			display: table-cell
			width: 14.28%
			max-width: 14.28%
			+r(768)
				width: 100%
				max-width: 100%
				border-bottom: 1px solid $l_gray
				border-left: none
				display: block
			a
				padding-left: 20px
				padding-right: 20px
	&__list
		@extend %in
	&__item
		color: $c_nav
		+m700
		font-size: 14px
		text-transform: uppercase
		border-left: 1px solid $l_gray
		background: #fff
		vertical-align: top
		display: inline-block
		+r(1024)
			font-size: 12px
		+r(768)
			width: 100%
			max-width: 100%
			border-bottom: 1px solid $l_gray
			border-left: none
			display: block
		&:first-child
			border-left: none
		&.is-gray
			background: $l_gray
			.fa
				margin-right: 10px
				color: $red
		&.is-active
			a
				color: $red
	&__ico
		margin-bottom: 1px
		height: 33px
		color: $c_nav-ico
		+r(768)
			display: none
		.fa,
		.icon
			font-size: 31px
			transition: color .2s
			+r(1024)
				font-size: 26px
	a
		padding: 22px 38px
		text-align: center
		transform: translate3(0,0,0)
		transition: color .2s
		display: block
		+r(1024)
			padding: 12px 19px
		&:active
			color: $red
			.nav__ico
				color: $red
		+rm(1024)
			&:hover
				color: $red
				.nav__ico
					color: $red
		span
			line-height: 1.75
			display: inline-block

// description
.description
	margin: 25px 0
	font-size: 14px
	+clr
	&__left
		padding-right: 25px
		overflow: hidden
	&__title
		margin-bottom: 22px
		font-size: 15px
		+l700
	&__right
		float: right
		+r(768)
			margin-bottom: 20px
			width: 100%
			text-align: center
		+r(480)
			font-size: 0
	.view
		margin-top: 10px
		display: block
		&:first-child
			margin-top: 0
		+r(768)
			margin: 0 0 0 20px
			vertical-align: top
			display: inline-block
			&:first-child
				margin-left: 0
		+r(480)
			margin-left: 4%
			width: 48%
			font-size: 14px
			+box
			&:first-child
				margin-left: 0
	p
		margin-top: 22px
		&:first-child
			margin-top: 0

// slider-for
.slider-for
	.slick-next,
	.slick-prev
		height: 40px
		width: 40px
		z-index: 2
		font-size: 15px
		background: #fff
		+r(768)
			height: 30px
			width: 30px
		&:active
			&:before
				color: $red
		+rm(1024)
			&:hover
				&:before
					color: $red
		&:before
			position: absolute
			top: 50%
			left: 50%
			color: $purple
			transform: translate(-50%,-50%)
			height: auto
			line-height: 1
			transition: color .2s
			font: normal normal normal 14px/1 FontAwesome
			font-size: inherit
			text-rendering: auto
			-webkit-font-smoothing: antialiased
			-moz-osx-font-smoothing: grayscal
	.slick-next
		right: 4px
		&:before
			content: "\f054"
	.slick-prev
		left: 4px
		&:before
			content: "\f053"

// slider-nav
.slider-nav
	margin-top: 11px
	img
		margin-left: 12px
		cursor: pointer
		&:focus
			outline: none
		&:first-child
			margin-left: 0

// facilities
.facilities
	&__in
		font-size: 0
		+clr
	.title-h2
		margin: 24px 0 28px
	.facility
		margin: 0 0 0 4%
		width: 48%
		vertical-align: top
		display: inline-block
		&:nth-child(odd)
			margin-left: 0
		&:nth-child(+n+3)
			margin-top: 24px
		+r(480)
			margin-left: 0
			width: 100%

// facility
.facility
	margin: 24px 0
	font-size: 14px
	& + .facility
		+r(480)
			margin-top: 20px
	&__img
		margin-bottom: 16px
		display: block
	&__bot
		margin-top: 20px
	img
		width: 100%
		display: block
	p + p
		margin-top: 24px

// check-prices
.check-prices
	position: relative
	padding: 20px 19px
	color: $purple
	font-size: 14px
	background: $yellow
	+clr
	+r(480)
		text-align: center
	&__left
		float: left
		margin-top: -5px
		+r(480)
			margin-bottom: 10px
			width: 100%
	&__price
		font-size: 30px
		+m700
	&__right
		float: right
		+r(480)
			width: 100%
	sup
		margin-top: -2px
		font-size: 18px
		vertical-align: top
	.btn
		+r(480)
			width: 100%
			display: block

// info
.info
	padding: 12px 20px
	&.is-gray
		background: $l_gray
	&__row,
	&__date
		position: relative
		padding-left: 24px
	&__row
		margin-top: 3px
		line-height: 1.7
		+clr
	&__text
		overflow: hidden
	&__img
		float: right
		font-size: 0
		line-height: 1
		+r(480)
			display: none
	&__nights
		color: $red
		display: inline-block
	&__top
		margin-bottom: 16px
		border-bottom: 1px solid $gray
	&__in
		margin-bottom: 15px
		+clr
		.price
			float: left
			margin-top: 5px
			color: $red
			font-size: 22px
			+r(480)
				float: none
		.tot
			float: right
			+r(480)
				margin-top: 15px
				float: none
	&__title
		margin-bottom: 11px
		font-size: 14px
		+m700
	.info__date
		margin-bottom: 15px
		+l700
		.icon
			top: 3px
	.info__company
		position: relative
		padding-right: 80px
		.icon
			position: absolute
			top: 3px
			left: auto
			right: 0
		.info-block
			.icon
				position: relative
				top: 5px
	.info__more
		border: none
		span
			transition: border-color .2s
			border-bottom: 1px solid transparent
			&:active
				border-color: $red
			+rm(1024)
				&:hover
					border-color: $red
		.fa
			margin-left: 2px
	.icon
		position: absolute
		top: 5px
		left: 0
	.info-block
		margin-left: 5px
	a
		color: $red
		transition: border-color .2s
		border-bottom: 1px solid transparent
		&:active
			border-color: $red
		+rm(1024)
			&:hover
				border-color: $red

// info-block
.info-block
	display: inline-block
	.icon
		position: relative
		transition: opacity .2s
		&:active
			opacity: .8
		+rm(1024)
			&:hover
				opacity: .8
				border-color: transparent
// loc
.loc
	padding: 28px 20px 32px
	.title-h2
		margin: 24px 0
		&:first-child
			margin-top: 0
	.list
		padding-right: 20px
	.soc
		margin-top: 28px
	.soc__item
		font-size: 18px

// call
.call
	padding: 35px 19px
	color: #fff
	line-height: 1.1
	+m400
	font-size: 25px
	-webkit-font-smoothing: antialiased
	box-shadow: inset 0 0 0 5px rgba(#fff, .2)
	background: url(../img/call-bg.png) no-repeat 0 0
	background-size: cover
	&__up
		text-transform: uppercase

// hot-tours
.hot-tours
	padding: 20px
	box-shadow: 0 0 18px rgba(0, 0, 0, 0.19)
	&__all
		margin-top: 20px
		+m700
		text-align: center
		font-size: 15px
		text-transform: uppercase
		a
			color: $purple
			transition: border-color .2s
			border-bottom: 1px solid transparent
			&:active
				border-color: $purple
			+rm(1024)
				&:hover
					border-color: $purple
	&__in
		+clr
		+r(1200)
			.hot
				float: left
				&:first-child,
				& + .hot
					margin: 0 0 0 4%
					float: left
					width: 48%
				&:nth-child(odd)
					margin-left: 0
				&:nth-child(n+3)
					margin-top: 20px
			.hot-tours__all
				width: 100%
		+r(768)
			.hot
				float: none
				margin-left: 0
				width: 100%
				&:first-child,
				& + .hot,
				&:nth-child(odd),
				&:nth-child(n+3)
					margin: 20px 0 0
					width: 100%
				&:first-child
					margin-top: 0
	.title-h2
		margin: 28px 0
		&:first-child
			margin-top: 8px

// hot
.hot
	padding-bottom: 16px
	border-bottom: 1px solid $bor_hot
	& + .hot
		margin-top: 20px
	.hot__img
		display: block
	img
		width: 100%
		display: block
	&__title
		text-transform: uppercase
	&__row
		margin-top: 12px
	&__in
		+clr
		.view-all
			margin-top: 5px
			float: right
		.price
			float: left
	.title-h6
		text-transform: initial
		.rating
			vertical-align: text-bottom

// filter
.filter
	padding: 25px 0 30px
	color: $c_form
	+l400
	font-size: 16px
	&__in
		@extend %in
	+r(1024)
		font-size: 0

// adults children
.adults,
.children,
.duration
	margin-left: 2.5%
	width: 14.4%
	vertical-align: top
	display: inline-block
	&:first-child
		margin-left: 0
	+r(1200)
		margin-left: 1.5%
	+r(1024)
		width: 32.3%
		font-size: 16px
		text-align: center
	+r(768)
		margin: 20px 0 0
		width: 100%
		&:first-child
			margin-top: 0
	&__quantity
		margin-left: 15px
		+l700
		width: 10px
		color: $red
		font-size: 16px
		vertical-align: top
		display: inline-block
.adults,
.children
	&__group
		margin-top: 20px
		font-size: 0
		+r(768)
			margin-top: 10px

// duration
.duration 
	&__quantity
		width: 42px
	&__inf
		margin: 11px 0 7px
		font-size: 13px
		+clr
	&__from
		float: left
	&__to
		float: right
	&__range
		height: 9px
		border: none
		border-radius: 0
		background: $gray
		.ui-slider-handle
			height: 17px
			width: 17px
			cursor: pointer
			border-radius: 50%
			border: none
			background: $yellow
		.ui-slider-range
			background: $red

// dates
.dates
	margin-left: 2.5%
	width: 48.4%
	vertical-align: top
	display: inline-block
	+r(1200)
		margin-left: 1.5%
	+r(1024)
		margin-left: 0
		width: 100%
	&__in
		margin-top: 15px
		font-size: 0

// tally
.tally
	position: relative
	padding: 2px
	width: 14.28%
	color: #fff
	font-size: 13px
	+l400
	line-height: 1.2
	text-align: center
	vertical-align: top
	user-select: none
	cursor: pointer
	+box
	border-left: 1px solid #fff
	display: inline-block
	&:first-child
		border-left: none
	&__bg
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: $red
	&__name,
	&__numb
		position: relative
		z-index: 1
	&__numb
		+l700
	input
		position: absolute
		top: 0
		left: 0
		height: 100%
		width: 100%
		opacity: 0
		z-index: 2
		cursor: pointer
		&:checked
			& + .tally__bg
				background: $gray
				& + .tally__name
					color: $c_form
					& + .tally__numb
						color: $c_form

// tour
.tour
	margin-top: 28px
	padding-bottom: 29px
	border-bottom: 1px solid $gray
	&:first-child
		margin-top: 0
	&__in
		+clr
	&__bot
		margin-top: 15px
		+clr
	&__left
		float: left
	&__right
		float: right
	.gall
		float: left
		margin-right: 30px
		+r(768)
			max-width: 100%
	.info
		float: right
		padding: 0
		color: $c_text
		width: calc(100% - 400px)
		+r(768)
			margin-top: 25px
			width: 100%
	.title-h2
		&:first-child
			margin-top: 0
	.town
		margin-bottom: 5px

// tot
.tot
	font-size: 0
	+m700
	text-transform: uppercase
	box-shadow: 0 0 18px rgba(0, 0, 0, 0.19)
	vertical-align: top
	display: inline-block
	&__item
		padding: 5px 8px
		font-size: 14px
		color: $c_text
		vertical-align: top
		display: inline-block
		&.is-active
			color: #fff
			background: $purple
			box-shadow: 0 0 18px rgba(0, 0, 0, 0.19)

// town
.town
	margin-bottom: 16px
	color: $c_town
	+l400

// gall
.gall
	max-width: 370px
	overflow: hidden
	+r(768)
		width: 100%
	&__top
		height: 234px
		.slick-slide
			width: 100%
		+r(768)
			height: auto
			img
				width: 100%
	.gall__pag
		margin: 10px -5px 0
		height: 54px
		+r(768)
			display: none
		img
			margin: 0 5px
			cursor: pointer
			&:focus
				outline: none

// portrait
.portrait
	margin: 32px 0 30px
	& + .widget
		margin-top: 30px
	&__img
		position: relative
		border-bottom: 3px solid $l_yellow
		img
			width: 100%
			display: block
	&__flag
		position: absolute
		bottom: -13px
		left: 20px
	&__row
		margin-top: 18px
		color: $c_foot
		&:first-child
			margin-top: 0
	&__label
		+l700
	&__inf
		color: $c_body
	.shadow
		padding: 28px 20px 33px
	.title-h2
		margin: 1px 0
		&:first-child
			margin-top: 0

// article
.article
	padding-top: 49px
	+r(480)
		padding-top: 30px
	&__in
		+clr
	&__wrap
		overflow: hidden
		+clr
	&__col
		float: left
		padding-right: 28px
		width: 50%
		color: $c_foot
		letter-spacing: 0.46px
		+box
		+r(480)
			float: none
			margin-top: 15px
			padding: 0
			width: 100%
			&:first-child
				margin-top: 0
	img
		float: right
		+r(1200)
			display: none
	p
		& + p,
		& + h5
			margin-top: 20px
	.title-h3
		margin: 18px 0
		text-align: left
		&:first-child
			margin-top: 0

// overview
.overview
	position: relative
	border-top: 1px solid $gray
	border-bottom: 1px solid $gray
	color: $c_foot
	+clr
	+r(1200)
		margin-top: 20px
	&__col
		float: left
		padding: 22px 30px 15px
		width: 18%
		+box
		&.is-name
			+l700
		+r(1200)
			padding-left: 0
			width: 50%
	&__row
		margin-top: 15px
		&:first-child
			margin-top: 0
	img
		float: left
		margin: -1px 0
	.widget
		position: absolute
		right: 0
		bottom: 0
		+r(1200)
			display: none

// resorts
.resorts
	border-bottom: 1px solid $gray
	&__row
		position: relative
		+clr
		&:before
			position: absolute
			content: ''
			top: 0
			left: 50%
			bottom: 0
			width: 1px
			background: $gray
			+r(768)
				display: none
		.resort
			position: static
			float: left
			width: 50%
			border-left: 1px solid transparent
			+r(768)
				position: relative
				width: 100%
		.resort__hidden
			width: 50%
			+r(768)
				width: 100%

// resort
.resort
	position: relative
	text-align: center
	+box
	&:active
		.resort__hidden
			opacity: 1
			visibility: visible
			z-index: 1
	+rm(1024)
		&:hover
			.resort__hidden
				opacity: 1
				visibility: visible
				z-index: 1
	&__img
		position: relative
		padding-bottom: 46%
		background-position: 50% 50%
		background-repeat: no-repeat
		background-size: cover
		+r(480)
			padding-bottom: 65%
	&__inf
		position: absolute
		top: 20px
		left: 0
		color: #fff
		text-transform: uppercase
		white-space: nowrap
		span
			padding: 10px 20px
			background: $purple
			background: rgba($purple, .9)
			display: block
	&__text
		padding: 28px 55px 28px 60px
		min-height: 200px
		color: $c_foot
		letter-spacing: .5px
		+box
		+r(768)
			padding: 28px
			min-height: auto
	&__hidden
		position: absolute
		top: 0
		height: 100%
		width: 100%
		bottom: 0
		border: 7px solid $yellow
		opacity: 0
		visibility: hidden
		z-index: -1
		transform: translate3d(0,0,0)
		transition: opacity .2s, visibility .2s
		box-shadow: 0 0 18px rgba(0, 0, 0, 0.29)
		+box
	&__in
		position: absolute
		top: 50%
		left: 50%
		transform: translate3(0,0,0)
		transform: translate(-50%,-50%)
	&__btn
		margin-left: 10px
		width: 60px
		height: 60px
		line-height: 60px
		text-align: center
		color: #fff
		font-size: 0
		transition: background .2s
		background: rgba($purple, .9)
		display: inline-block
		&:first-child
			margin-left: 0
		&:active
			background: $purple
		+rm(1024)
			&:hover
				background: $purple
		i,
		.icon,
		.fa
			vertical-align: middle
			font-size: 27px
	.title-h6
		margin: 15px 0
		color: $c_body
		&:first-child
			margin-top: 0

// clause
.clause
	padding-bottom: 18px
	border-bottom: 1px solid $gray
	& + .clause
		margin-top: 32px
	&__inf
		margin-bottom: 15px
		font-size: 18px
		+m700
		+r(768)
			margin-bottom: 10px
			font-size: 12px
	&__bot
		margin-top: 33px
		+clr
	&__right
		float: right
	& > img
		margin-bottom: 25px
		width: 100%
	img
		display: block
	p
		margin-top: 15px
		color: $c_foot
		+r(768)
			margin-top: 10px
	.author
		margin-bottom: 18px
	.title-h3
		margin: 0
		text-align: left
	.tell
		margin-left: 20px
	.view-all
		float: left
		color: $purple
		&:active
			border-color: $purple
		+rm(1024)
			&:hover
				border-color: $purple

// author
.author
	margin-bottom: 18px
	color: $c_author
	+clr
	&__img
		position: relative
		float: left
		margin-right: 18px
		width: 52px
		height: 52px
		overflow: hidden
		&:active
			& + .author__in .author__name
				border-color: $c_body
		+rm(1024)
			&:hover
				& + .author__in .author__name
					border-color: $c_body
		img
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%,-50%)
			display: block
	&__in
		padding-top: 5px
		overflow: hidden
	&__name
		color: $c_body
		+l700
		transition: border-color .2s
		border-bottom: 1px solid transparent
		&:hover
			border-color: $c_body

// email pass
.email,
.pass
	position: relative
	margin-top: 20px
	display: block
	&:first-child
		margin-top: 0
	.input input
		padding-left: 55px
	.icon,
	.fa
		position: absolute
		top: 50%
		left: 22px
		font-size: 18px
		color: $c_pop-ico
		transform: translate3d(0,0,0)
		transform: translate(0,-50%)
		z-index: 1
	.text-error
		position: absolute
		top: -11px
		left: 13px
		z-index: 1

// preloader
.preload
	padding: 17px 0
	text-align: center
	&__load
		margin-bottom: 55px
	&__in
		@extend %in
	&__wrap
		margin: 36px auto 0
		padding: 45px 0 70px
		max-width: 770px
		border-top: 5px solid $l_yellow
		box-shadow: 0 0 18px rgba(0, 0, 0, 0.19)
		.title-h6
			margin-bottom: 3px
		+r(480)
			display: none
	&__row
		+clr
	&__col
		float: left
		padding: 0 10px
		width: 33.3%
		+box
	&__ico
		height: 138px
		line-height: 138px
		font-size: 48px
		color: $yellow
		.fa,
		.icon
			vertical-align: middle
	.icon-financial_protection
		font-size: 66px
	.icon-price_match_promise
		font-size: 70px
	.title-h2
		margin-bottom: 25px
	.title-small
		margin: 0 0 38px
	.title-h6
		text-transform: initial

// sort
.sort
	border: 1px solid $l_gray
	font-size: 14px
	& + .sort
		margin-top: 30px
		+r(768)
			margin-top: 20px
	&__top
		padding: 19px 18px
		text-transform: uppercase
		font-size: 25px
		+m400
		background: $l_gray
	&__wrap
		padding: 24px 19px
	.checkbox
		margin-top: 8px
		&:first-child
			margin-top: 0
	.price
		margin-left: 2px
		color: inherit
		font-size: 14px
		+l700
	strong
		+l700
	.duration
		padding: 0 10px
		margin: 0 0 14px
		width: 100%
		+box
		display: block
		&:first-child
			.duration__inf
				margin-top: 0
	.duration__inf
		margin: 14px -8px 17px
	.duration__quantity	
		width: 82px
		font-size: 14px
		+l300
		color: $c_body

// profile
.profile
	border: 1px solid $bord_profile
	+l700
	&.is-view
		.profile__in
			position: relative
			padding-right: 93px
			+r(768)
				padding-right: 0
				padding-bottom: 20px
	& + .profile
		margin-top: 30px
	& + .title-h6
		margin: 28px 0 18px
	&__top
		padding: 20px
		+box
		border-bottom: 1px solid $bord_profile
		background: $l_gray
		span
			+l300
	&__in
		padding: 30px 18px
		+clr
		+r(768)
			overflow: auto
			.inform
				min-width: 620px
	.profile__row
		margin-top: 20px
		+clr
		&:first-child
			margin-top: 0
		+r(768)
			margin-top: 10px
			&:first-child
				margin-top: 0
		.input,
		.select
			+r(980)
				margin-top: 0
			+r(768)
				margin-top: 10px
	&__checkbox
		margin-top: 20px
		padding-left: 180px
		+clr
		&:first-child
			margin-top: 0
		+r(768)
			padding-left: 0
	&__label
		float: left
		width: 180px
		min-height: 60px
		line-height: 60px
		+r(980)
			line-height: 42px
			min-height: 42px
		+r(768)
			min-height: auto
			width: 100%
			line-height: 1.4
		label,
		span
			display: inline-block
			vertical-align: middle
		sup
			margin-right: 2px
			font-size: 15px
			color: $yellow
			+l700
	&__right
		float: left
		width: calc(100% - 180px)
		+clr
		+r(768)
			width: 100%
	&__info
		margin-top: 8px
		&:first-child
			margin-top: 0
		a
			color: $red
			border-bottom: 1px solid transparent
			transition: border-color .2s
			&:active
				border-color: $red
			+rm(1024)
				&:hover
					border-color: $red
	&__bot
		margin-top: 40px
	&__wrap
		padding: 30px 69px 38px 49px
		+r(768)
			padding: 20px
	&__wrapper
		padding: 30px 69px 30px 99px
		+r(768)
			padding: 20px
	&__field
		position: relative
		padding: 20px 20px 20px 49px
		+r(768)
			padding: 20px 
	&__wrap,
	&__wrapper,
	&__field
		& + .profile__wrap,
		& + .profile__wrapper,
		& + .profile__field
			border-top: 1px solid $bord_profile
	&__block
		padding-left: 50px
		+r(768)
			padding-left: 0
	&__title
		margin-bottom: 16px
		+l700
		font-size: 15px
		text-transform: uppercase
		+r(768)
			margin-bottom: 5px
			text-align: center
	&__title,
	&__point
		position: relative
		padding-left: 50px
		+r(768)
			padding-left: 0
		.fa,
		.icon
			position: absolute
			top: 50%
			left: 0
			transform: translate(0,-50%)
			font-size: 27px
			color: $yellow
			+r(768)
				display: none
	&__numb,
	&__date,
	&__code
		width: 100%
		margin-left: 10px
		vertical-align: top
		display: inline-block
		&:first-child
			margin-left: 0
		.select
			min-width: 0
			width: 100%
	&__numb
		margin-right: 8px
		max-width: 88px
		+r(980)
			max-width: calc(50% - 15px)
	&__date
		max-width: 108px
		+r(980)
			max-width: calc(50% - 15px)
	&__code
		max-width: 68px
		+r(900)
			width: calc(100% - 180px)
			max-width: 100%
		+r(768)
			margin: 0
			width: 100%
	&__slash
		min-height: 60px
		color: #a5a5a5
		line-height: 60px
		font-size: 17px
		+l300
		vertical-align: top
		display: inline-block
		+r(980)
			line-height: 42px
			min-height: 42px
		+r(768)
			margin-top: 10px
	&__text
		min-height: 60px
		line-height: 60px
		vertical-align: top
		display: inline-block
		+r(980)
			line-height: 42px
			min-height: 42px
		label,
		span
			display: inline-block
			vertical-align: middle
		sup
			margin-right: 2px
			font-size: 15px
			color: $yellow
			+l700
	.profile__float
		float: right
		margin-left: 5px
		+r(900)
			float: none
			margin: 20px 0 0 -180px
			width: calc(100% + 180px)
			.input
				margin-top: 0
			.profile__text
				width: 167px
		+r(768)
			margin: 0
			width: 100%
			.profile__text
				width: 100%
	&__filter
		.sort-by
			+r(480)
				margin: 10px 0 0
				width: 100%
				&:first-child
					margin-top: 0
	&__view
		position: absolute
		top: 30px
		right: -1px
		+r(768)
			position: relative
			top: 0
			right: 0
			margin: 10px 0 0
	.inform
		margin-top: 0
	.inform__col
		width: 57%
		&:first-child
			width: 38.2%
		.inform__row
			margin-top: 10px
			line-height: 1.4
	.inform__row
		margin-top: 10px
	.checkbox
		+l300
	.input,
	.select
		max-width: 420px
		display: block
		& + .input,
		& + .select
			margin-top: 20px
		+r(1200)
			max-width: 100%
		+r(980)
			margin-top: 15px
		+r(768)
			margin-top: 10px
	.select__text
		height: 60px
		+r(980)
			height: auto
// prof-in
.prof-in
	+clr
	.btn
		margin-top: 8px
		text-align: left
		display: block
		&:first-child
			margin-top: 0
		+r(1200)
			float: left
			margin: 0 0 0 4%
			width: 48%
			text-align: center
			&:first-child
				margin-left: 0
		+r(480)
			margin: 10px 0 0 
			width: 100%
			&:first-child
				margin-top: 0

// addition
.addition
	+m700
	text-transform: uppercase
	color: $c_text
	+clr
	&__text
		min-height: 40px
		line-height: 40px
		overflow: hidden
		+r(768)
			overflow: initial
		span
			vertical-align: middle
			display: inline-block
	&__right
		float: right
		+r(768)
			float: none
			width: 100%
	&__inf
		margin-right: 12px
		min-height: 40px
		line-height: 40px
		vertical-align: top
		display: inline-block
		span
			vertical-align: middle
			display: inline-block

// flights
.flights
	&__title
		margin: 20px 0
		color: $red
		+m700
		font-size: 14px
		text-transform: uppercase
		+r(768)
			margin: 20px 0 15px

// flight
.flight
	border: 1px solid $yellow
	+clr
	& + .flight
		margin-top: 16px
	&.is-mod
		.flight__col
			width: 33.3%
			font-size: 15px
			vertical-align: top
			display: inline-block
			&:first-child
				width: 34.3%
			&:nth-child(2)
				width: 30%
			&:nth-child(3)
				width: 35%
		.flight__row
			margin-top: 10px
			&:first-child
				margin-top: 0
	&__left
		padding: 22px 30px 28px
		overflow: hidden
	&__right
		float: right
		margin: 0 -1px 0 0 
		+r(768)
			margin: 0
			width: 100%
		.btn
			width: 100%
			+m700
			-webkit-font-smoothing: antialiased
			-moz-osx-font-smoothing: grayscal
			display: block
		.check-prices
			padding: 20px 27px
			color: $c_title
			+r(768)
				padding: 10px 27px
				text-align: center
	&__row
		margin-top: 28px
		&:first-child
			margin-top: 0
		+r(480)
			margin-top: 15px
	&__field
		padding-left: 38px
		font-size: 0
		color: $c_text
		+r(480)
			padding-left: 25px
	&__col
		width: 33.3%
		font-size: 15px
		vertical-align: top
		display: inline-block
		&:first-child
			width: 46.3%
		&:nth-child(2)
			width: 39%
		&:nth-child(3)
			width: 14%
		+r(480)
			margin-top: 5px
			width: 100%
			&:first-child,
			&:nth-child(2),
			&:nth-child(3)
				width: 100%
			&:first-child
				margin-top: 0
	&__bold
		+l700
	.info
		margin-bottom: 8px
		padding: 0
		+l700
		.icon
			font-size: 18px
	.info__row
		padding-left: 38px
		+r(480)
			padding-left: 25px

// armor
.armor
	margin: 25px 0
	line-height: 1.3 
	overflow-x: auto
	&.is-mod
		.armor__row
			& + .armor__row
				margin-top: 20px
				+r(768)
					margin-top: 10px
		.armor__about
			max-width: 378px
			+r(480)
				width: 100%
				max-width: 100%
	&__top
		padding: 0 20px
		background: $light_yellow
		+clr
	&__right
		float: right
		padding-top: 5px
		width: 59%
		font-size: 0
	&__col
		padding-right: 30px
		width: 29.5%
		font-size: 14px
		vertical-align: top
		+box
		display: inline-block
		&:first-child
			width: 40%
		&:nth-child(2)
			width: 30.5%
		&:nth-child(3)
			padding-right: 0
			text-align: right
	strong
		+l700
	&__in
		+clr
		+r(480)
			display: flex
			flex-flow: row wrap
			text-align: center
	&__about
		overflow: hidden
		max-width: 340px
		+r(480)
			width: 100%
			max-width: 100%
	&__but
		float: right
		margin: 4px 0 4px 10px
		text-align: center
		.armor__price
			margin-top: 12px
			font-size: 14px
			+m700
		+r(480)
			margin: 10px 0 0 
			width: 100%
			order: 2
	&__ico
		float: left
		margin-left: 8px
		padding-top: 4px
		width: 50px
		font-size: 27px
		line-height: 1
		color: $yellow
		+r(480)
			display: none
		&.is-nonpad
			padding-top: 1px
	&__wrap
		overflow: hidden
		min-height: 30px
		line-height: 30px
	&__wrapper
		min-width: 750px
	&__l
		line-height: 1.3
		vertical-align: middle
		display: inline-block
	&__row
		padding: 20px
		border: 1px solid $bord_armor
		+box
		+clr
		& + .armor__row
			margin-top: 10px
	&__left
		float: left
		width: 41%
	&__title
		font-size: 15px
		+l700
	&__text
		margin-top: 2px
	&__label
		margin-top: 20px
		font-size: 14px
		+l700
	&__list
		padding-left: 18px
		font-size: 14px
		letter-spacing: -.5px
		-webkit-font-smoothing: antialiased
		-moz-osx-font-smoothing: grayscale
		+l300
		font-style: italic
		li
			margin-top: 7px
			display: block
	.price
		color: $c_text
	.line
		margin: 30px 0 15px
		+r(768)
			display: none
	.title-small
		margin-bottom: 16px

// booking
.booking
	margin: 10px 0
	+clr
	.book
		float: left
		width: 48%
		margin-left: 4%
		&:first-child
			margin-left: 0
		+r(768)
			margin: 10px 0 0 0 
			width: 100%
			&:first-child
				margin-top: 0

// book
.book
	border: 1px solid $purple
	font-size: 14px
	+box
	+clr
	&__left
		padding: 12px 10px 12px 18px
		overflow: hidden
	&__right
		float: right
		padding: 16px 18px 13px 0
	.price
		font-size: 30px
		.fa
			margin-right: 8px
	.btn
		min-width: 157px
		+m700

// fors
.paym
	margin: 30px 0
	padding-bottom: 18px
	border-bottom: 1px solid $l_gray
	+clr
	&__col
		float: left
		width: 48%
		margin-left: 4%
		&:first-child
			margin-left: 0
		+r(768)
			margin: 10px 0 0 0
			width: 100%
			&:first-child
				margin-top: 0
	&__inf
		margin-top: 15px
		padding-left: 20px
	&__title
		font-size: 14px
		+l700
	.for
		margin: 0
	.for__right
		float: none
		display: block

// for
.for
	margin: 10px 0 38px
	padding: 12px 18px 11px
	+m700
	font-size: 22px
	color: $purple
	background: $yellow
	+box
	+clr
	+r(768)
		padding: 12px 20px
	&.is-nonmarg
		margin-bottom: 0
	+r(768)
		margin: 10px 0
	&__left
		float: left
		+r(768)
			width: 100%
		.price
			font-size: 22px
			vertical-align: top
			display: inline-block
	&__people
		margin-bottom: 15px
		line-height: 1
		font-size: 14px
		+l300
	a.for__text
		transition: opacity .2s
		display: block
		&:active
			opacity: .8
		+rm(1024)
			&:hover
				opacity: .8
	&__right
		position: relative
		float: right
		padding-right: 20px
		min-width: 258px
		transition: opacity .2s
		+box
		+r(768)
			margin-top: 10px
			width: 100%
		+r(480)
			min-width: 100%
		&:active
			opacity: .8
			&:before
				right: -4px
		+rm(1024)
			&:hover
				opacity: .8
				&:before
					right: -4px
		&:before
			position: absolute
			content: "\f054"
			top: 50%
			right: 0
			margin-top: -10px
			font: normal normal normal 14px/1 FontAwesome
			font-size: 20px
			line-height: 1
			font-size: inherit
			text-rendering: auto
			transition: right .2s
			-webkit-font-smoothing: antialiased
			-moz-osx-font-smoothing: grayscale
		.price
			font-size: 30px

// tot-price
.tot-price
	padding: 5px 20px
	font-size: 14px
	background: #fff
	&__text,
	&__adults
		vertical-align: top
		display: inline-block
	&__adults
		position: relative
		margin-left: 18px
		padding-left: 27px
		&:before
			position: absolute
			content: ''
			top: 8px
			left: 0
			height: 6px
			width: 6px
			border-radius: 50%
			background: $c_text
	a
		color: $red
		font-size: 11px
		+l700
		transition: border-color .2s
		border-bottom: 1px solid transparent
		&:active
			border-color: $red
		+rm(1024)
			&:hover
				border-color: $red

// ord
.ord
	color: $c_body
	background: $l_gray
	&__row
		padding: 15px 20px
		border-top: 1px solid $yellow
		&:first-child
			border-top: none
		& > p 
			font-size: 13px
			line-height: 1.2
			& + p
				margin-top: 15px
	&__in
		font-size: 0
	&__item
		margin-bottom: 8px
		width: 33.3%
		font-size: 11px
		text-transform: uppercase
		vertical-align: top
		text-align: center
		display: inline-block
		a
			margin-top: -2px
			line-height: 1
			vertical-align: top
			display: inline-block
	&__col
		padding-right: 10px
		font-size: 14px
		width: 50%
		vertical-align: top
		+box
		display: inline-block
	&__img
		color: $c_check
		min-height: 34px
		line-height: 34px
		+l700
		font-size: 42px
		.icon,
		.fa
			font-size: 32px
	&__text
		margin-top: 11px
	&__change
		margin-top: 15px
	a

		color: $red
		font-size: 11px
		+l700
		text-transform: initial
		transition: border-color .2s
		border-bottom: 1px solid transparent
		&:active
			border-color: $red
		+rm(1024)
			&:hover
				border-color: $red
	.title-small
		margin: 0 0 24px
	.time,
	.date
		& + .time,
		& + .date
			margin-top: 8px

// block
.block
	+clr
	&.is-mod
		margin-bottom: 15px
	.breadcrumbs
		overflow: hidden
	.back
		float: right
		margin-top: 2px
	.title-h2
		overflow: hidden

// apart
.apart
	padding: 20px 20px 24px
	&__img
		margin-bottom: 14px
		img
			width: 100%
			display: block
	&__back
		margin-top: 5px
		a
			color: $red
			font-size: 11px
			+l700
			text-transform: initial
			transition: border-color .2s
			border-bottom: 1px solid transparent
			&:active
				border-color: $red
			+rm(1024)
				&:hover
					border-color: $red
	.title-h6
		text-transform: initial
	.rating
		margin-top: -3px

// period
.period
	padding: 16px 20px
	&__title
		font-size: 15px
		+l700
	&__row
		margin-top: 10px
		+clr
	&__col
		float: left
		width: 50%
	.title-small
		margin-top: 12px

// places
.places
	padding: 14px 20px
	border-top: 1px solid $l_gray
	&__row
		margin-top: 5px
		+clr
		&:first-child
			margin-top: 0
	&__right
		float: right
		padding-right: 22px
	a
		+l700
		font-size: 14px
		color: $purple
		transition: border-color .2s
		border-bottom: 1px solid transparent
		&:active
			border-color: $purple
		+rm(1024)
			&:hover
				border-color: $purple

// together
.together
	font-size: 14px
	color: $purple
	background: $yellow
	&__in
		padding: 16px 20px
		.price
			+l700
			font-size: 14px
	&__row
		margin-top: 2px
		+clr
		&:first-child
			margin-top: 0
	&__wrap
		padding: 20px 20px 28px
		border-top: 1px solid #fff
		.price
			font-size: 30px
		+r(768)
			padding: 15px 20px
	&__tot
		float: left
		margin-top: 10px
		+m700
		text-transform: uppercase
	.price
		float: right

// guarant
.guarant
	+clr
	+r(768)
		text-align: center
	&__left
		float: left
		width: 262px
		+r(768)
			float: none
			width: 100%
	&__right
		overflow: hidden
		+r(768)
			margin-top: 5px
			overflow: initial
	&__item
		margin-left: 25px
		height: 40px
		vertical-align: top
		display: inline-block
		+vertical
		&:first-child
			margin-left: 0
		img
			vertical-align: middle
			display: inline-block

// item
.item
	margin-top: 40px
	&:first-child
		margin-top: 0
	&__in
		padding: 16px 18px 22px
		background: $l_gray 
		.title-h3
			margin: 11px 0
			color: $purple
			text-align: left
			&:first-child
				margin-top: 0
			& + .item__row
				margin-top: 11px
	&__row
		margin-top: 22px
		&:first-child
			margin-top: 0
	&__lab
		margin-bottom: 2px
		+l700
		span
			line-height: 1
			vertical-align: bottom
			display: inline-block
	&__inf
		color: $purple
		+m700
		font-size: 24px
		vertical-align: top
		display: inline-block

// inform
.inform
	margin-top: 30px
	+l400
	+clr
	&__col
		float: left
		margin-left: 4%
		width: 48%
		+r(768)
			margin: 20px 0 0 0
			width: 100%
			&:first-child
				margin-top: 0
		&:first-child
			margin-left: 0
		.inform__name
			width: 27%
		.inform__row
			margin-top: 2px
			line-height: 2
			&:first-child
				margin-top: -7px
	&__img
		+r(768)
			margin-right: 10px
		a
			display: block
		img
			width: 100%
			display: block
	&__in
		padding: 0 20px
		+clr
		+r(768)
			padding: 0
		& + .inform__in
			margin-top: 20px
			padding-top: 20px
			border-top: 1px solid $gray
		.inform__row
			margin-top: 10px
			&:first-child
				margin-top: 0
	&__row
		margin-top: 20px
		+clr
		&:first-child
			margin-top: -3px
	&__wrap
		+clr
	&__name
		float: left
		width: 23%
		+r(768)
			width: 27%
		img
			margin: 5px 0
			display: block
	&__reply
		+l700
		overflow: hidden
	&__title
		margin-bottom: 8px
		text-transform: uppercase
	&__field
		margin-top: 28px
		text-align: right
		+r(768)
			text-align: center
	&__left
		overflow: hidden
	&__right
		float: right
		width: 21%
	&__count
		margin-top: 2px
		color: $purple
		+l700
	.rating
		margin-bottom: 4px
		display: block
	strong
		+l700

	ul
		li
			margin-top: 8px
			display: block
			&:first-child
				margin-top: 0

// manage
.manage
	padding: 0 20px
	+l700
	color: $c_text
	&__foot
		margin-top: 20px 
		a
			+l300
			transition: border-color .2s
			border-bottom: 1px solid transparent
			&:active
				border-color: $c_text
			+rm(1024)
				&:hover
					border-color: $c_text

	.title-h6
		color: $c_menu
	p
		margin-top: 15px
		&:first-child
			margin-top: 0
	ul
		margin: 20px 0 0 20px
		li
			list-style-type: disc

// notification
.notification
	background: url(../img/bg-not.png) repeat 0 0
	height: calc(100% - 90px)
	min-height: calc(100% - 90px)
	line-height: 1.4
	+vertical
	&__in
		margin: 20px 0
		padding: 0 10px
		max-width: 695px
		font-size: 20px
		text-transform: uppercase
		vertical-align: middle
		display: inline-block
		+r(768)
			font-size: 14px
		+r(480)
			font-size: 10px
	&__name
		margin-bottom: 28px
		vertical-align: top
		display: inline-block
		+r(768)
			margin-bottom: 15px
		+r(480)
			width: 70%
		img
			display: block
			+r(480)
				width: 100%
	&__title
		margin-bottom: 22px
		font-size: 35px
		+l700
		+r(768)
			margin-bottom: 10px
			font-size: 25px
		+r(480)
			font-size: 16px
	&__text
		margin: 0 auto
		max-width: 470px

// top
.top
	margin: -7px 0 25px
	padding-bottom: 16px
	color: $c_foot
	border-bottom: 1px solid $gray
	+clr
	&__left
		float: left
		+r(480)
			float: none
	&__right
		float: right
		+r(480)
			margin-top: 10px
			float: none
	&__item
		margin-left: 35px
		vertical-align: top
		display: inline-block
		+r(480)
			margin: 10px 0 0 
			display: block
		&:first-child
			margin-left: 0
		.icon,
		.fa
			margin-right: 2px
		a
			margin-left: 2px
	.date
		color: $c_text
	a
		color: $purple
		transition: border-color .2s
		border-bottom: 1px solid transparent
		&:active
			border-color: $purple
		+rm(1024)
			&:hover
				border-color: $purple

// paper
.paper
	color: $c_foot
	.title-h3
		margin: 25px 0 22px
		color: $c_title
	.soc
		margin: 25px 0
	.soc__item
		font-size: 18px
	p
		margin-top: 22px
	img
		margin: 22px 0
		width: 100%
		display: block
	ul
		margin: 22px 0 22px 45px
		+r(480)
			margin-left: 25px
		li
			list-style-type: disc

// tags
.tags
	margin: 30px 0
	&__title
		color: #3d3d3d
	.tags__list
		margin: 0
	.tag
		list-style-type: none

// tag
.tag
	margin-left: 5px
	list-style-type: none
	vertical-align: top
	display: inline-block
	&:first-child
		margin-left: 0
	a
		color: $c_foot
		transition: border-color .2s
		border-bottom: 1px solid transparent
		&:active
			border-color: $c_foot
		+rm(1024)
			&:hover
				border-color: $c_foot

// blog-form
.blog-form
	margin: 45px 0
	&__row
		margin-top: 20px
		+clr
		&:first-child
			margin-top: 0
	&__col
		float: left
		width: 31%
		margin-left: 3.4%
		&:first-child
			margin-left: 0
		+r(768)
			margin: 20px 0 0 0
			width: 100%
	.input,
	.textarea
		position: relative
		display: block
	.btn
		+r(480)
			width: 100%

// comment
.comm
	font-size: 15px
	+l700
	color: $c_foot
	+r(768)
		font-size: 13px
	.comm
		margin: 30px 0 30px 60px
	// &__in
	&__top
		+clr
	&__date
		float: right
		margin-top: 12px
		+l400
	&__text
		margin: 25px 0 20px
		+r(768)
			margin: 10px 0
		p
			margin-top: 20px
			&:first-child
				margin-top: 0
	.author
		float: left
		margin: 0
	.author__img 
		+r(768)
			width: 42px
			height: 42px
	.author__name
		margin-top: 10px
		display: inline-block

// reply
.reply
	border-bottom: 1px solid $l_gray
	&__btn
		padding: 8px 16px 7px
		font-size: 14px
		+l400
		transition: background-color .3s
		background: $l_gray
		&:active
			background: darken($l_gray, 20%)
		+rm(1024)
			&:hover
				background: darken($l_gray, 20%)

// rounds
.rounds
	margin: 58px 0 0
	&__row
		+clr
	&__col
		float: left
		margin-left: 3.4%
		width: 31%
		&:first-child
			margin-left: 0
		+r(620)
			width: 100%
		& + .rounds__col
			+r(620)
				margin: 20px 0 0 0

// suite
.suite
	&__title
		+l700
		font-size: 15px
		display: block
		color: $c_body
		span
			transition: border-color .3s
			border-bottom: 1px solid transparent
			&:active
				border-color: $c_body
			+rm(1024)
				&:hover
					border-color: $c_body
	&__img
		display: block
		margin-bottom: 15px
	&__inf
		margin-top: 15px
		text-transform: uppercase
	&__view
		margin-top: 12px
	.rating
		margin-bottom: 2px
	.price
		font-size: 25px
	img
		width: 100%
		display: block

// contact
.contact
	&__form
		.btn
			margin-left: 16px
			min-width: 170px
			&:first-child
				margin-left: 0
			+r(480)
				margin: 20px 0 0 0
				width: 100%
				&:first-child
					margin-top: 0
	&__bot
		+r(768)
			text-align: center
	&__bot,
	.input,
	.textarea
		margin-top: 20px
		display: block
	.title-h2
		margin: 35px 0 25px
		&:first-child
			margin-top: 0
	p
		letter-spacing: .5px

// office
.office
	& + .office
		margin-top: 28px
	+l700
	.title-border
		margin-bottom: 19px
		padding-left: 20px
		padding-right: 20px
		text-transform: uppercase
	img
		width: 100%
		display: block

.office-info
	padding: 0 20px 30px

// sort-by
.sort-by
	margin-left: 44px
	color: $c_body
	+l700
	vertical-align: top
	display: inline-block
	&:first-child
		margin-left: 0
	&__label,
	&__text
		vertical-align: top
		display: inline-block
	&__text
		position: relative
		padding-right: 15px
		color: $red
		.fa
			position: absolute
			top: 0
			right: 0
			// transform: translate(0,-50%)
			color: #a5a5a5
			font-size: 17px
			line-height: 1
		span
			+l700
	select
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		opacity: 0
		z-index: 1
		cursor: pointer