// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)
// =book
// 	font-family: "book", Arial, sans-serif
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)


body
	color: $c_body
	+l300
	font-size: 14px
	line-height: 20px
	&.is-hidden
		overflow: hidden
	&.is-registration
		background: url(../img/sl1.png) 50% 50% no-repeat
		background-size: cover
		.out
			overflow: hidden
		.header
			position: absolute
			top: 0
			left: 0
			right: 0
			background: transparent
			&:before
				position: absolute
				content: ''
				top: 0
				left: 0
				width: 100%
				height: 90px
				background: transparent
				z-index: -1
				transition: background .2s
				+r(1200)
					height: 70px
				+r(768)
					height: 0
			&.is-open-menu
				&:before
					z-index: 1
					background: #fff
		.menu
			width: calc(100% - 380px)
			+r(1200)
				padding-left: 0
				width: 100%
			.menu__item 
				position: relative
				z-index: -1
				& > a
					visibility: hidden
					opacity: 0
					transition: opacity .2s
		.menu-open__btn
			&:before,
			&:after,
			span
				background: #fff
			&:active
				&:before,
				&:after,
				span
					background: $d_red
			+rm(1024)
				&:hover
					&:before,
					&:after,
					span
						background: $d_red

a
	color: inherit
	text-decoration: none

// destinations
.destinations
	&__in
		+clr

// destin
.destin
	position: relative
	float: left
	width: 50%
	color: $c_destin
	font-size: 15px
	background: $gray
	+clr
	+r(1200)
		width: 100%
	&.is-left
		.destin__img
			left: auto
			right: 0
		.destin__art
			float: left
			&:before
				right: auto
				left: 100%
				+arr(18,34,$gray,r)
	&:nth-child(odd)
		+r(1200)
			.destin__img
				left: auto
				right: 0
			.destin__art
				float: left
				&:before
					right: auto
					left: 100%
					+arr(18,34,$gray,r)
		+r(560)
			.destin__art
				&:before
					top: auto
					left: 50%
					right: auto
					bottom: 100%
					transform: translate(-50%,0)
					+arr(17,9,$gray,t)
	&:nth-child(even)
		+r(1200)
			.destin__img
				left: 0
				right: auto
			.destin__art
				float: right
				&:before
					left: auto
					right: 100%
					+arr(18,34,$gray,l)
		+r(560)
			.destin__art
				&:before
					top: auto
					left: 50%
					right: auto
					bottom: 100%
					transform: translate(-50%,0)
					+arr(17,9,$gray,t)
	&__img
		position: absolute
		top: 0
		left: 0
		bottom: 0
		width: 50%
		background-repeat: no-repeat
		background-position: 50% 50%
		background-size: cover
		display: block
		+r(560)
			position: relative
			padding-bottom: 50%
			width: 100%
	&__art
		position: relative
		float: right
		width: 50%
		&:before
			position: absolute
			content: ''
			top: 50%
			right: 100%
			transform: translate(0,-50%)
			+arr(18,34,$gray,l)
		+r(560)
			width: 100%
	&__in
		padding: 15% 24% 7% 10.5%
		font-size: 15px
		text-align: left
		+r(560)
			padding: 20px 10px
	&__bot
		margin-top: 20px
		+r(560)
			margin-top: 10px
	&__select
		color: $red
		text-transform: uppercase
		border-bottom: 1px solid transparent
		transition: border-color .2s
		&:active
			border-color: $red
		+rm(1024)
			&:hover
				border-color: $red
	.title-h4
		margin-bottom: 20px
		color: $c_body
		+r(560)
			margin-bottom: 10px

// names
.names
	margin: 28px 0
	color: $d_gray
	line-height: 1.4
	font-size: 0
	+l700
	+clr
	&.is-last
		margin-bottom: 60px
	+r(560)
		margin: 15px 0
	&__list
		padding-right: 40px
		width: 25%
		font-size: 15px
		box-sizing: border-box
		vertical-align: top
		display: inline-block
		+r(980)
			width: 50%
			text-align: center
			&:nth-child(+n+3)
				margin-top: 15px
		+r(560)
			padding-right: 0
			width: 100%
			&:nth-child(+n+2)
				margin-top: 10px
	.names__letter
		margin-top: 15px
		+m700
		color: $red
		text-transform: uppercase
		&:first-child
			margin-top: 0
		+r(560)
			margin-top: 10px
	li
		margin-top: 5px
		&:first-child
			margin-top: 0
		+r(560)
			margin-top: 0
	a
		color: $c_title
		border-bottom: 1px solid transparent
		transition: border-color .2s
		&:active
			border-color: $c_title
		+rm(1024)
			&:hover
				border-color: $c_title

// nav
.nav
	padding-top: 11px
	font-size: 0
	background: $l_gray
	&__in
		@extend %in
		.nav__list
			padding: 0
			margin: 0
			width: 100%
			display: table
		.nav__item
			display: table-cell
			width: 14.28%
			max-width: 14.28%
			a
				padding-left: 20px
				padding-right: 20px
	&__list
		@extend %in
	&__item
		color: $c_nav
		+m700
		font-size: 14px
		text-transform: uppercase
		border-left: 1px solid $l_gray
		background: #fff
		vertical-align: top
		display: inline-block
		&:first-child
			border-left: none
		&.is-gray
			background: $l_gray
			.fa
				margin-right: 10px
				color: $red
		&.is-active
			a
				color: $red
	&__ico
		margin-bottom: 1px
		height: 33px
		color: $c_nav-ico
		.fa,
		.icon
			font-size: 31px
			transition: color .2s
	a
		padding: 22px 38px
		text-align: center
		transform: translate3(0,0,0)
		transition: color .2s
		display: block
		&:active
			color: $red
			.nav__ico
				color: $red
		+rm(1024)
			&:hover
				color: $red
				.nav__ico
					color: $red
		span
			line-height: 1.75
			display: inline-block

// description
.description
	margin: 25px 0
	font-size: 14px
	+clr
	&__left
		padding-right: 25px
		overflow: hidden
	&__title
		margin-bottom: 22px
		font-size: 15px
		+l700
	&__right
		float: right
	.view
		margin-top: 10px
		display: block
		&:first-child
			margin-top: 0
	p
		margin-top: 22px
		&:first-child
			margin-top: 0

// slider-for
.slider-for
	.slick-next,
	.slick-prev
		height: 40px
		width: 40px
		z-index: 2
		font-size: 15px
		background: #fff
		&:active
			&:before
				color: $red
		+rm(1024)
			&:hover
				&:before
					color: $red
		&:before
			position: absolute
			top: 50%
			left: 50%
			color: $purple
			transform: translate(-50%,-50%)
			height: auto
			line-height: 1
			transition: color .2s
			font: normal normal normal 14px/1 FontAwesome
			font-size: inherit
			text-rendering: auto
			-webkit-font-smoothing: antialiased
			-moz-osx-font-smoothing: grayscal
	.slick-next
		right: 4px
		&:before
			content: "\f054"
	.slick-prev
		left: 4px
		&:before
			content: "\f053"

// slider-nav
.slider-nav
	margin-top: 11px
	img
		margin-left: 12px
		cursor: pointer
		&:focus
			outline: none
		&:first-child
			margin-left: 0

// facilities
.facilities
	&__in
		font-size: 0
		+clr
	.title-h2
		margin: 24px 0 28px
	.facility
		margin: 0 0 0 4%
		width: 48%
		vertical-align: top
		display: inline-block
		&:nth-child(odd)
			margin-left: 0
		&:nth-child(+n+3)
			margin-top: 24px

// facility
.facility
	margin: 24px 0
	font-size: 14px
	&__img
		margin-bottom: 16px
		display: block
	&__bot
		margin-top: 20px
	img
		width: 100%
		display: block
	p + p
		margin-top: 24px

// check-prices
.check-prices
	position: relative
	padding: 20px
	color: $purple
	font-size: 14px
	background: $yellow
	+clr
	&__left
		float: left
		margin-top: -5px
	&__price
		font-size: 30px
		+m700
	&__right
		float: right
	sup
		margin-top: -2px
		font-size: 18px
		vertical-align: top

// info
.info
	padding: 12px 20px
	&.is-gray
		background: $l_gray
	&__row,
	&__date
		position: relative
		padding-left: 24px
	&__row
		margin-top: 3px
		line-height: 1.7
	&__nights
		color: $red
		display: inline-block
	&__top
		margin-bottom: 16px
		border-bottom: 1px solid $gray
	&__in
		margin-bottom: 15px
		+clr
		.price
			float: left
			margin-top: 5px
			color: $red
			font-size: 22px
		.tot
			float: right
	&__title
		margin-bottom: 11px
		font-size: 14px
		+m700
	.info__date
		margin-bottom: 15px
		+l700
		.icon
			top: 3px
	.info__company
		position: relative
		padding-right: 80px
		.icon
			position: absolute
			top: 3px
			left: auto
			right: 0
		.info-block
			.icon
				position: relative
				top: 5px
	.info__more
		border: none
		span
			transition: border-color .2s
			border-bottom: 1px solid transparent
			&:active
				border-color: $red
			+rm(1024)
				&:hover
					border-color: $red
		.fa
			margin-left: 2px
	.icon
		position: absolute
		top: 5px
		left: 0
	.info-block
		margin-left: 5px
	a
		color: $red
		transition: border-color .2s
		border-bottom: 1px solid transparent
		&:active
			border-color: $red
		+rm(1024)
			&:hover
				border-color: $red

// info-block
.info-block
	display: inline-block
	.icon
		position: relative
		transition: opacity .2s
		&:active
			opacity: .8
		+rm(1024)
			&:hover
				opacity: .8
				border-color: transparent
// loc
.loc
	padding: 28px 20px 32px
	.title-h2
		margin: 24px 0
		&:first-child
			margin-top: 0
	.list
		padding-right: 20px
	.soc
		margin-top: 28px
	.soc__item
		font-size: 18px

// call
.call
	padding: 35px 19px
	color: #fff
	line-height: 1.1
	+m400
	font-size: 25px
	-webkit-font-smoothing: antialiased
	box-shadow: inset 0 0 0 5px rgba(#fff, .2)
	background: url(../img/call-bg.png) no-repeat 0 0
	background-size: cover
	&__up
		text-transform: uppercase

// hot-tours
.hot-tours
	padding: 20px
	box-shadow: 0 0 18px rgba(0, 0, 0, 0.19)
	&__all
		margin-top: 20px
		+m700
		text-align: center
		font-size: 15px
		text-transform: uppercase
		a
			color: $purple
			transition: border-color .2s
			border-bottom: 1px solid transparent
			&:active
				border-color: $purple
			+rm(1024)
				&:hover
					border-color: $purple
	.title-h2
		margin: 28px 0
		&:first-child
			margin-top: 8px

// hot
.hot
	padding-bottom: 16px
	border-bottom: 1px solid $bor_hot
	& + .hot
		margin-top: 20px
	.hot__img
		display: block
	img
		width: 100%
		display: block
	&__title
		text-transform: uppercase
	&__row
		margin-top: 12px
	&__in
		+clr
		.view-all
			margin-top: 5px
			float: right
		.price
			float: left
	.title-h6
		text-transform: initial
		.rating
			vertical-align: text-bottom

// filter
.filter
	padding: 25px 0 30px
	color: $c_form
	+l400
	font-size: 16px
	&__in
		@extend %in

// adults children
.adults,
.children,
.duration
	width: 14.4%
	vertical-align: top
	display: inline-block
	&__quantity
		margin-left: 15px
		+l700
		width: 10px
		color: $red
		font-size: 16px
		vertical-align: top
		display: inline-block
.adults,
.children
	&__group
		margin-top: 20px
		font-size: 0

.children
	margin-left: 2.5%

.duration 
	margin-left: 2.5%
	&__quantity
		width: 42px
	&__inf
		margin: 11px 0 7px
		font-size: 13px
		+clr
	&__from
		float: left
	&__to
		float: right
	&__range
		height: 9px
		border: none
		border-radius: 0
		background: $gray
		.ui-slider-handle
			height: 17px
			width: 17px
			cursor: pointer
			border-radius: 50%
			border: none
			background: $yellow
		.ui-slider-range
			background: $red

// dates
.dates
	margin-left: 2.5%
	width: 48.4%
	vertical-align: top
	display: inline-block
	&__in
		margin-top: 15px
		font-size: 0
.tally
	position: relative
	padding: 2px
	width: 14.28%
	color: #fff
	font-size: 13px
	+l400
	line-height: 1.2
	text-align: center
	vertical-align: top
	user-select: none
	cursor: pointer
	+box
	border-left: 1px solid #fff
	display: inline-block
	&:first-child
		border-left: none
	&__bg
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: $red
	&__name,
	&__numb
		position: relative
		z-index: 1
	&__numb
		+l700
	input
		position: absolute
		top: 0
		left: 0
		height: 100%
		width: 100%
		opacity: 0
		z-index: 2
		cursor: pointer
		&:checked
			& + .tally__bg
				background: $gray
				& + .tally__name
					color: $c_form
					& + .tally__numb
						color: $c_form

// tour
.tour
	margin-top: 28px
	padding-bottom: 29px
	border-bottom: 1px solid $gray
	&:first-child
		margin-top: 0
	&__in
		+clr
	&__bot
		margin-top: 15px
		+clr
	&__left
		float: left
	&__right
		float: right
	.gall
		float: left
		margin-right: 30px
	.info
		float: right
		padding: 0
		color: $c_text
		width: calc(100% - 400px)
	.title-h2
		&:first-child
			margin-top: 0

// tot
.tot
	font-size: 0
	+m700
	text-transform: uppercase
	box-shadow: 0 0 18px rgba(0, 0, 0, 0.19)
	vertical-align: top
	display: inline-block
	&__item
		padding: 5px 8px
		font-size: 14px
		color: $c_text
		vertical-align: top
		display: inline-block
		&.is-active
			color: #fff
			background: $purple
			box-shadow: 0 0 18px rgba(0, 0, 0, 0.19)

// town
.town
	margin-bottom: 16px
	color: $c_town
	+l400

// gall
.gall
	max-width: 370px
	overflow: hidden
	&__top
		height: 234px
	&__pag
		margin: 10px -5px 0
		height: 54px
		img
			margin: 0 5px
			cursor: pointer
			&:focus
				outline: none

// portrait
.portrait
	margin: 32px 0 30px
	& + .widget
		margin-top: 30px
	&__img
		position: relative
		border-bottom: 3px solid $l_yellow
		img
			width: 100%
			display: block
	&__flag
		position: absolute
		bottom: -13px
		left: 20px
	&__row
		margin-top: 18px
		color: $c_foot
		&:first-child
			margin-top: 0
	&__label
		+l700
	&__inf
		color: $c_body
	.shadow
		padding: 28px 20px 33px
	.title-h2
		margin: 1px 0
		&:first-child
			margin-top: 0

// article
.article
	padding-top: 49px
	&__in
		+clr
	&__wrap
		overflow: hidden
		+clr
	&__col
		float: left
		padding-right: 28px
		width: 50%
		color: $c_foot
		letter-spacing: 0.46px
		+box
	img
		float: right
	p
		& + p,
		& + h5
			margin-top: 20px
	.title-h3
		margin: 18px 0
		text-align: left
		&:first-child
			margin-top: 0

// overview
.overview
	position: relative
	border-top: 1px solid $gray
	border-bottom: 1px solid $gray
	color: $c_foot
	+clr
	&__col
		float: left
		padding: 22px 30px 15px
		width: 18%
		&.is-name
			+l700
	&__row
		margin-top: 15px
		&:first-child
			margin-top: 0
	img
		float: left
		margin: -1px 0
	.widget
		position: absolute
		right: 0
		bottom: 0

// resorts
.resorts
	border-bottom: 1px solid $gray
	&__row
		position: relative
		+clr
		&:before
			position: absolute
			content: ''
			top: 0
			left: 50%
			bottom: 0
			width: 1px
			background: $gray
		.resort
			position: static
			float: left
			width: 50%
			border-left: 1px solid transparent
		.resort__hidden
			width: 50%

// resort
.resort
	position: relative
	text-align: center
	+box
	&:active
		.resort__hidden
			opacity: 1
			visibility: visible
			z-index: 1
	+rm(1024)
		&:hover
			.resort__hidden
				opacity: 1
				visibility: visible
				z-index: 1
	&__img
		position: relative
		padding-bottom: 46%
		background-position: 50% 50%
		background-repeat: no-repeat
		background-size: cover
	&__inf
		position: absolute
		top: 20px
		left: 0
		color: #fff
		text-transform: uppercase
		white-space: nowrap
		span
			padding: 10px 20px
			background: $purple
			background: rgba($purple, .9)
			display: block
	&__text
		padding: 28px 55px 28px 60px
		min-height: 200px
		color: $c_foot
		letter-spacing: .5px
		+box
	&__hidden
		position: absolute
		top: 0
		height: 100%
		width: 100%
		bottom: 0
		border: 7px solid $yellow
		opacity: 0
		visibility: hidden
		z-index: -1
		transition: opacity .2s, visibility .2s
		box-shadow: 0 0 18px rgba(0, 0, 0, 0.29)
		+box
	&__in
		position: absolute
		top: 50%
		left: 50%
		transform: translate3(0,0,0)
		transform: translate(-50%,-50%)
	&__btn
		margin-left: 10px
		width: 60px
		height: 60px
		line-height: 60px
		text-align: center
		color: #fff
		font-size: 0
		transition: background .2s
		background: rgba($purple, .9)
		display: inline-block
		&:first-child
			margin-left: 0
		&:active
			background: $purple
		+rm(1024)
			&:hover
				background: $purple
		i,
		.icon,
		.fa
			vertical-align: middle
			font-size: 27px
	.title-h6
		margin: 15px 0
		color: $c_body
		&:first-child
			margin-top: 0

// clause
.clause
	& > img
		width: 100%
	img
		display: block
	.author
		margin-bottom: 18px

// author
.author
	color: $c_author
	&__img
		position: relative
		float: left
		margin-right: 18px
		width: 52px
		height: 52px
		overflow: hidden
		&:active
			& + .author__in .author__name
				border-color: $c_body
		+rm(1024)
			&:hover
				& + .author__in .author__name
					border-color: $c_body
		img
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%,-50%)
			display: block
	&__in
		padding-top: 5px
		overflow: hidden
	&__name
		color: $c_body
		+l700
		transition: border-color .2s
		border-bottom: 1px solid transparent
		&:hover
			border-color: $c_body

// email pass
.email,
.pass
	position: relative
	margin-top: 20px
	display: block
	&:first-child
		margin-top: 0
	.input input
		padding-left: 55px
	.icon,
	.fa
		position: absolute
		top: 50%
		left: 22px
		font-size: 18px
		color: $c_pop-ico
		transform: translate3d(0,0,0)
		transform: translate(0,-50%)
		z-index: 1
	.text-error
		position: absolute
		top: -11px
		left: 13px
		z-index: 1

// preloader
.preload
	padding: 17px 0
	text-align: center
	&__load
		margin-bottom: 55px
	&__in
		@extend %in
	&__wrap
		margin: 36px auto 0
		padding: 45px 0 70px
		max-width: 770px
		border-top: 5px solid $l_yellow
		box-shadow: 0 0 18px rgba(0, 0, 0, 0.19)
		.title-h6
			margin-bottom: 3px
	&__row
		+clr
	&__col
		float: left
		padding: 0 10px
		width: 33.3%
		+box
	&__ico
		height: 138px
		line-height: 138px
		font-size: 48px
		color: $yellow
		.fa,
		.icon
			vertical-align: middle
	.icon-financial_protection
		font-size: 66px
	.icon-price_match_promise
		font-size: 70px
	.title-h2
		margin-bottom: 25px
	.title-small
		margin: 0 0 38px
	.title-h6
		text-transform: initial

// sort
.sort
	border: 1px solid $l_gray
	font-size: 14px
	& + .sort
		margin-top: 30px
	&__top
		padding: 19px 18px
		text-transform: uppercase
		font-size: 25px
		+m400
		background: $l_gray
	&__wrap
		padding: 24px 19px
	.checkbox
		margin-top: 8px
	.price
		margin-left: 2px
		color: inherit
		font-size: 14px
		+l700
	strong
		+l700
	.duration
		margin: 0
		width: 100%
		display: block

// profile
.profile
	border: 1px solid $bord_profile
	+l700
	&__top
		padding: 20px
		+box
		border-bottom: 1px solid $bord_profile
		background: $l_gray
	&__in
		padding: 30px 18px
	&__row
		margin-top: 20px
		+clr
		&:first-child
			margin-top: 0
	&__label
		float: left
		width: 180px
		min-height: 60px
		line-height: 60px
		label,
		span
			display: inline-block
			vertical-align: middle
	&__right
		float: left
		width: calc(100% - 180px)
	&__info
		margin-top: 8px
		&:first-child
			margin-top: 0
		a
			color: $red
			border-bottom: 1px solid transparent
			transition: border-color .2s
			&:active
				border-color: $red
			+rm(1024)
				&:hover
					border-color: $red
	&__bot
		margin-top: 40px
	.input,
	.select
		max-width: 420px
		display: block
		& + .input,
		& + .select
			margin-top: 20px
.prof-in
	.btn
		margin-top: 8px
		text-align: left
		display: block
		&:first-child
			margin-top: 0