// default layout
.l
	padding-bottom: 60px
	+clr
	&_mod
		padding: 20px 0 0
	&_pad
		padding: 0
		.l-left
			padding: 0
	&_blog
		padding: 50px 0 125px
		.l-left
			padding-top: 0
	&_blog-view
		padding: 50px 0 84px
	&_profile
		padding: 35px 0 60px
		.title-h2
			margin: 0 0 15px
	&__in
		+clr
	&-col1
		float: left
		width: 65.813%
	&-col2
		float: right
		width: 31.625%
		.shadow,
		.widget,
		.call,
		.hot-tours,
		.item,
		.manage
			margin-top: 30px
			&:first-child
				margin-top: 0
		.check-prices
			& + .shadow
				margin-top: 0
		.btn_print
			width: 100%
		.list-border
			margin-bottom: 40px
	&-left
		float: left
		padding-top: 28px
		width: 74.4%
	&-right
		float: right
		width: 23%
		.list-border
			margin-bottom: 40px
