$icons: (0:0)
$icons: map-merge($icons,(close: (X: -227px, Y:-79px, W: 20px, H: 20px, TW: 435px, TH: 120px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(codedby: (X: -332px, Y:-79px, W: 47px, H: 5px, TW: 435px, TH: 120px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(coderiver: (X: -279px, Y:-79px, W: 49px, H: 5px, TW: 435px, TH: 120px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(cruises: (X: -251px, Y:-79px, W: 24px, H: 14px, TW: 435px, TH: 120px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(deals: (X: -205px, Y:-79px, W: 18px, H: 24px, TW: 435px, TH: 120px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(destinations: (X: -401px, Y:-51px, W: 24px, H: 22px, TW: 435px, TH: 120px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(estras: (X: -373px, Y:-51px, W: 24px, H: 22px, TW: 435px, TH: 120px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(flights: (X: -317px, Y:-51px, W: 24px, H: 24px, TW: 435px, TH: 120px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(hover-holidays: (X: -205px, Y:-51px, W: 24px, H: 24px, TW: 435px, TH: 120px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(logo: (X: -205px, Y:0px, W: 230px, H: 47px, TW: 435px, TH: 120px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(logo_foot: (X: 0px, Y:-62px, W: 201px, H: 58px, TW: 435px, TH: 120px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(logo_home: (X: 0px, Y:0px, W: 201px, H: 58px, TW: 435px, TH: 120px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(search-white: (X: -233px, Y:-51px, W: 24px, H: 24px, TW: 435px, TH: 120px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(search: (X: -345px, Y:-51px, W: 24px, H: 24px, TW: 435px, TH: 120px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(user-white: (X: -289px, Y:-51px, W: 24px, H: 24px, TW: 435px, TH: 120px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(user: (X: -261px, Y:-51px, W: 24px, H: 24px, TW: 435px, TH: 120px, IMG: '../img/icons.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
	$icon: map-get($icons, $icon)
	@return map-get($icon, $attr)

@mixin sprite($iconName)
	background-image: url(icon-attr($iconName, IMG))
	width: icon-attr($iconName, W)
	height: icon-attr($iconName, H)
	background-position: icon-attr($iconName, X) icon-attr($iconName, Y)

@mixin s($i)
	+sprite($i)

.icon-close
	width: 20px
	height: 20px
	background-image: url('../img/icons.png')
	background-position: -227px -79px
.icon-codedby
	width: 47px
	height: 5px
	background-image: url('../img/icons.png')
	background-position: -332px -79px
.icon-coderiver
	width: 49px
	height: 5px
	background-image: url('../img/icons.png')
	background-position: -279px -79px
.icon-cruises
	width: 24px
	height: 14px
	background-image: url('../img/icons.png')
	background-position: -251px -79px
.icon-deals
	width: 18px
	height: 24px
	background-image: url('../img/icons.png')
	background-position: -205px -79px
.icon-destinations
	width: 24px
	height: 22px
	background-image: url('../img/icons.png')
	background-position: -401px -51px
.icon-estras
	width: 24px
	height: 22px
	background-image: url('../img/icons.png')
	background-position: -373px -51px
.icon-flights
	width: 24px
	height: 24px
	background-image: url('../img/icons.png')
	background-position: -317px -51px
.icon-hover-holidays
	width: 24px
	height: 24px
	background-image: url('../img/icons.png')
	background-position: -205px -51px
.icon-logo
	width: 230px
	height: 47px
	background-image: url('../img/icons.png')
	background-position: -205px 0px
.icon-logo_foot
	width: 201px
	height: 58px
	background-image: url('../img/icons.png')
	background-position: 0px -62px
.icon-logo_home
	width: 201px
	height: 58px
	background-image: url('../img/icons.png')
	background-position: 0px 0px
.icon-search-white
	width: 24px
	height: 24px
	background-image: url('../img/icons.png')
	background-position: -233px -51px
.icon-search
	width: 24px
	height: 24px
	background-image: url('../img/icons.png')
	background-position: -345px -51px
.icon-user-white
	width: 24px
	height: 24px
	background-image: url('../img/icons.png')
	background-position: -289px -51px
.icon-user
	width: 24px
	height: 24px
	background-image: url('../img/icons.png')
	background-position: -261px -51px
