$icons: (0:0)
$icons: map-merge($icons,(bonus-bg: (X: 0px, Y:0px, W: 1600px, H: 500px, TW: 1600px, TH: 590px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(close: (X: -924px, Y:-504px, W: 20px, H: 20px, TW: 1600px, TH: 590px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(codedby: (X: -1029px, Y:-504px, W: 47px, H: 5px, TW: 1600px, TH: 590px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(coderiver: (X: -976px, Y:-504px, W: 49px, H: 5px, TW: 1600px, TH: 590px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(cruises: (X: -948px, Y:-504px, W: 24px, H: 14px, TW: 1600px, TH: 590px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(deals: (X: 0px, Y:-566px, W: 18px, H: 24px, TW: 1600px, TH: 590px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(destinations: (X: -868px, Y:-504px, W: 24px, H: 22px, TW: 1600px, TH: 590px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(estras: (X: -840px, Y:-504px, W: 24px, H: 22px, TW: 1600px, TH: 590px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(flights: (X: -756px, Y:-504px, W: 24px, H: 24px, TW: 1600px, TH: 590px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(holidays: (X: -784px, Y:-504px, W: 24px, H: 24px, TW: 1600px, TH: 590px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(hover-destinations: (X: -896px, Y:-504px, W: 24px, H: 22px, TW: 1600px, TH: 590px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(hover-holidays: (X: -812px, Y:-504px, W: 24px, H: 24px, TW: 1600px, TH: 590px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(logo: (X: -410px, Y:-504px, W: 230px, H: 47px, TW: 1600px, TH: 590px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(logo_foot: (X: -205px, Y:-504px, W: 201px, H: 58px, TW: 1600px, TH: 590px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(logo_home: (X: 0px, Y:-504px, W: 201px, H: 58px, TW: 1600px, TH: 590px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(more: (X: -644px, Y:-532px, W: 14px, H: 15px, TW: 1600px, TH: 590px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(search-white: (X: -644px, Y:-504px, W: 24px, H: 24px, TW: 1600px, TH: 590px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(search: (X: -728px, Y:-504px, W: 24px, H: 24px, TW: 1600px, TH: 590px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(user-white: (X: -700px, Y:-504px, W: 24px, H: 24px, TW: 1600px, TH: 590px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(user: (X: -672px, Y:-504px, W: 24px, H: 24px, TW: 1600px, TH: 590px, IMG: '../img/icons.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
	$icon: map-get($icons, $icon)
	@return map-get($icon, $attr)

@mixin sprite($iconName)
	background-image: url(icon-attr($iconName, IMG))
	width: icon-attr($iconName, W)
	height: icon-attr($iconName, H)
	background-position: icon-attr($iconName, X) icon-attr($iconName, Y)

@mixin s($i)
	+sprite($i)

.icon-bonus-bg
	width: 1600px
	height: 500px
	background-image: url('../img/icons.png')
	background-position: 0px 0px
.icon-close
	width: 20px
	height: 20px
	background-image: url('../img/icons.png')
	background-position: -924px -504px
.icon-codedby
	width: 47px
	height: 5px
	background-image: url('../img/icons.png')
	background-position: -1029px -504px
.icon-coderiver
	width: 49px
	height: 5px
	background-image: url('../img/icons.png')
	background-position: -976px -504px
.icon-cruises
	width: 24px
	height: 14px
	background-image: url('../img/icons.png')
	background-position: -948px -504px
.icon-deals
	width: 18px
	height: 24px
	background-image: url('../img/icons.png')
	background-position: 0px -566px
.icon-destinations
	width: 24px
	height: 22px
	background-image: url('../img/icons.png')
	background-position: -868px -504px
.icon-estras
	width: 24px
	height: 22px
	background-image: url('../img/icons.png')
	background-position: -840px -504px
.icon-flights
	width: 24px
	height: 24px
	background-image: url('../img/icons.png')
	background-position: -756px -504px
.icon-holidays
	width: 24px
	height: 24px
	background-image: url('../img/icons.png')
	background-position: -784px -504px
.icon-hover-destinations
	width: 24px
	height: 22px
	background-image: url('../img/icons.png')
	background-position: -896px -504px
.icon-hover-holidays
	width: 24px
	height: 24px
	background-image: url('../img/icons.png')
	background-position: -812px -504px
.icon-logo
	width: 230px
	height: 47px
	background-image: url('../img/icons.png')
	background-position: -410px -504px
.icon-logo_foot
	width: 201px
	height: 58px
	background-image: url('../img/icons.png')
	background-position: -205px -504px
.icon-logo_home
	width: 201px
	height: 58px
	background-image: url('../img/icons.png')
	background-position: 0px -504px
.icon-more
	width: 14px
	height: 15px
	background-image: url('../img/icons.png')
	background-position: -644px -532px
.icon-search-white
	width: 24px
	height: 24px
	background-image: url('../img/icons.png')
	background-position: -644px -504px
.icon-search
	width: 24px
	height: 24px
	background-image: url('../img/icons.png')
	background-position: -728px -504px
.icon-user-white
	width: 24px
	height: 24px
	background-image: url('../img/icons.png')
	background-position: -700px -504px
.icon-user
	width: 24px
	height: 24px
	background-image: url('../img/icons.png')
	background-position: -672px -504px
