@font-face
	font-family: "svgfont"
	src: url('fonts/svgfont.eot')
	src: url('fonts/svgfont.eot?#iefix') format('eot'), url('fonts/svgfont.woff') format('woff'), url('fonts/svgfont.woff2') format('woff2'), url('fonts/svgfont.ttf') format('truetype')
	font-weight: normal
	font-style: normal

$icon-accomodation: "\EA01"
$icon-adult: "\EA02"
$icon-all_inclusive: "\EA03"
$icon-board: "\EA04"
$icon-bus: "\EA05"
$icon-calendar: "\EA06"
$icon-children: "\EA07"
$icon-cruises: "\EA08"
$icon-deals: "\EA09"
$icon-destination: "\EA0A"
$icon-destination_2: "\EA0B"
$icon-disabled_people: "\EA0C"
$icon-earth: "\EA0D"
$icon-extras: "\EA0E"
$icon-financial_protection: "\EA0F"
$icon-flight: "\EA10"
$icon-flight_fill: "\EA11"
$icon-flight_fill_back: "\EA12"
$icon-type_2: "\EA13"
$icon-gallery: "\EA14"
$icon-holiday: "\EA15"
$icon-hotel: "\EA16"
$icon-ico_search: "\EA17"
$icon-ico_user: "\EA18"
$icon-low_deposit: "\EA19"
$icon-luggage_large: "\EA1A"
$icon-luggage_small: "\EA1B"
$icon-parking: "\EA1C"
$icon-price: "\EA1D"
$icon-price_match_promise: "\EA1E"
$icon-rating: "\EA1F"
$icon-room: "\EA20"
$icon-search: "\EA21"
$icon-sl-arr-next: "\EA22"
$icon-sl-arr-prev: "\EA23"
$icon-taxi: "\EA24"
$icon-type: "\EA25"
$icon-video: "\EA26"


%icon
	font-family: "svgfont"
	font-style: normal
	font-weight: normal
	text-rendering: auto
	speak: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

.icon, [class^="icon-"], [class*=" icon-"]
	@extend %icon
	display: inline-block

.icon-accomodation:before
	content: $icon-accomodation
.icon-adult:before
	content: $icon-adult
.icon-all_inclusive:before
	content: $icon-all_inclusive
.icon-board:before
	content: $icon-board
.icon-bus:before
	content: $icon-bus
.icon-calendar:before
	content: $icon-calendar
.icon-children:before
	content: $icon-children
.icon-cruises:before
	content: $icon-cruises
.icon-deals:before
	content: $icon-deals
.icon-destination:before
	content: $icon-destination
.icon-destination_2:before
	content: $icon-destination_2
.icon-disabled_people:before
	content: $icon-disabled_people
.icon-earth:before
	content: $icon-earth
.icon-extras:before
	content: $icon-extras
.icon-financial_protection:before
	content: $icon-financial_protection
.icon-flight:before
	content: $icon-flight
.icon-flight_fill:before
	content: $icon-flight_fill
.icon-flight_fill_back:before
	content: $icon-flight_fill_back
.icon-type_2:before
	content: $icon-type_2
.icon-gallery:before
	content: $icon-gallery
.icon-holiday:before
	content: $icon-holiday
.icon-hotel:before
	content: $icon-hotel
.icon-ico_search:before
	content: $icon-ico_search
.icon-ico_user:before
	content: $icon-ico_user
.icon-low_deposit:before
	content: $icon-low_deposit
.icon-luggage_large:before
	content: $icon-luggage_large
.icon-luggage_small:before
	content: $icon-luggage_small
.icon-parking:before
	content: $icon-parking
.icon-price:before
	content: $icon-price
.icon-price_match_promise:before
	content: $icon-price_match_promise
.icon-rating:before
	content: $icon-rating
.icon-room:before
	content: $icon-room
.icon-search:before
	content: $icon-search
.icon-sl-arr-next:before
	content: $icon-sl-arr-next
.icon-sl-arr-prev:before
	content: $icon-sl-arr-prev
.icon-taxi:before
	content: $icon-taxi
.icon-type:before
	content: $icon-type
.icon-video:before
	content: $icon-video