// variables and mix

// fonts
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700)
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700)

// font Lato
=l100
	font-family: 'Lato', sans-serif
	font-weight: 100
=l300
	font-family: 'Lato', sans-serif
	font-weight: 300
=l400
	font-family: 'Lato', sans-serif
	font-weight: 400
=l700
	font-family: 'Lato', sans-serif
	font-weight: 700

// font Montserrat
=m400
	font-family: 'Montserrat', sans-serif
	font-weight: 400
=m700
	font-family: 'Montserrat', sans-serif
	font-weight: 700


// extend
.in
	padding: 0 15px
	margin: 0 auto
	max-width: 1200px
	box-sizing: border-box
	+r(768)
		padding: 0 10px
%in
	@extend .in

// variables
$c_body: #444
$c_menu: #333
$c_form: #666
$c_foot: #888
$c_package: $c_form
$c_package-inf: #9e9e9e
$c_package-start: $c_menu
$c_title: $c_menu
$c_text: $c_form
$c_ico: #adadad
$c_destin: $c_foot
$c_nav: $c_form
$c_bread: $c_package-inf
$c_check: #dadada
$c_nav-ico: $c_check
$c_town: $c_package-inf
$c_author: #a8a8a8
$c_pop-ico: #d8d8d8

$red: #ea591b
$d_red: #e10b18
$yellow: #ffdb00
$l_yellow: #ebca00
$light_yellow: #fff4b2
$gray: #ededed
$d_gray: #dcdcdc
$l_gray: #f2f2f2
$purple: #58357b

$bg_arr: $c_menu

$bord_view: #dcdee0
$bor_hot: $bord_view
$bord_profile: #ebebeb
$bord_armor: $bord_profile