// variables and mix

// fonts
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700)
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700)

// font Lato
=l300
	font-family: 'Lato', sans-serif
	font-weight: 300
=l400
	font-family: 'Lato', sans-serif
	font-weight: 400
=l700
	font-family: 'Lato', sans-serif
	font-weight: 700

// font Montserrat
=m400
	font-family: 'Montserrat', sans-serif
	font-weight: 400
=m700
	font-family: 'Montserrat', sans-serif
	font-weight: 400

// variables
$c_body: #444
$c_menu: #333
$red: #ea591b