@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

.in, .footer__in, .copy__in, .center, .topic__in, .tab__list, .tab__cont, .stat__in { padding: 0 15px; margin: 0 auto; max-width: 1200px; box-sizing: border-box; }

body { color: #444; font-family: "Lato", sans-serif; font-weight: 300; font-size: 14px; line-height: 20px; }

a { color: inherit; text-decoration: none; }

.icon-close { width: 20px; height: 20px; background-image: url("../img/icons.png"); background-position: -227px -79px; }

.icon-codedby { width: 47px; height: 5px; background-image: url("../img/icons.png"); background-position: -332px -79px; }

.icon-coderiver { width: 49px; height: 5px; background-image: url("../img/icons.png"); background-position: -279px -79px; }

.icon-cruises { width: 24px; height: 14px; background-image: url("../img/icons.png"); background-position: -251px -79px; }

.icon-deals { width: 18px; height: 24px; background-image: url("../img/icons.png"); background-position: -205px -79px; }

.icon-destinations { width: 24px; height: 22px; background-image: url("../img/icons.png"); background-position: -401px -51px; }

.icon-estras { width: 24px; height: 22px; background-image: url("../img/icons.png"); background-position: -373px -51px; }

.icon-flights { width: 24px; height: 24px; background-image: url("../img/icons.png"); background-position: -317px -51px; }

.icon-hover-holidays { width: 24px; height: 24px; background-image: url("../img/icons.png"); background-position: -205px -51px; }

.icon-logo { width: 230px; height: 47px; background-image: url("../img/icons.png"); background-position: -205px 0px; }

.icon-logo_foot { width: 201px; height: 58px; background-image: url("../img/icons.png"); background-position: 0px -62px; }

.icon-logo_home { width: 201px; height: 58px; background-image: url("../img/icons.png"); background-position: 0px 0px; }

.icon-search-white { width: 24px; height: 24px; background-image: url("../img/icons.png"); background-position: -233px -51px; }

.icon-search { width: 24px; height: 24px; background-image: url("../img/icons.png"); background-position: -345px -51px; }

.icon-user-white { width: 24px; height: 24px; background-image: url("../img/icons.png"); background-position: -289px -51px; }

.icon-user { width: 24px; height: 24px; background-image: url("../img/icons.png"); background-position: -261px -51px; }

@font-face { font-family: "svgfont"; src: url("fonts/svgfont.eot"); src: url("fonts/svgfont.eot?#iefix") format("eot"), url("fonts/svgfont.woff") format("woff"), url("fonts/svgfont.woff2") format("woff2"), url("fonts/svgfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
.icon, [class^="icon-"], [class*=" icon-"] { font-family: "svgfont"; font-style: normal; font-weight: normal; text-rendering: auto; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon, [class^="icon-"], [class*=" icon-"] { display: inline-block; }

.icon-sl-arr-next:before { content: ""; }

.icon-sl-arr-prev:before { content: ""; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

body.is-home .header { position: absolute; top: 0; left: 0; right: 0; z-index: 2; background: transparent; }
body.is-home .tab { margin: -155px auto 30px; max-width: 1170px; }
body.is-home .tab__in { border-bottom: none; }

.slider .slider__slide { padding-bottom: 15%; width: 100%; background-repeat: no-repeat; background-size: cover; text-align: center; font-size: 0; }
.slider .slider__slide:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.slider .slider__slide.slick-active .slider__title, .slider .slider__slide.slick-active .slider__text { -webkit-transform: translate(0, 0) scale(1); -ms-transform: translate(0, 0) scale(1); transform: translate(0, 0) scale(1); }
.slider .slider__slide.slick-active + .slider__slide .slider__title { -webkit-transform: translate(0, -100%); -ms-transform: translate(0, -100%); transform: translate(0, -100%); }
.slider .slider__slide.slick-active + .slider__slide .slider__text { -webkit-transform: translate(100%, 0); -ms-transform: translate(100%, 0); transform: translate(100%, 0); }
.slider__in { position: absolute; top: 50%; left: 50%; margin-top: -28px; min-width: 1200px; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); color: #fff; text-align: center; vertical-align: middle; display: inline-block; }
.slider__title { font-size: 46px; line-height: 1.2; text-transform: uppercase; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -webkit-transform: translate(0, 100%) scale(0.5); -ms-transform: translate(0, 100%) scale(0.5); transform: translate(0, 100%) scale(0.5); transition: -webkit-transform 3.5s; transition: transform 3.5s; transition-delay: 0.1s; font-family: "Lato", sans-serif; font-weight: 100; }
.slider__text { font-size: 80px; line-height: 1.3; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -webkit-transform: translate(-100%, 0) scale(0.5); -ms-transform: translate(-100%, 0) scale(0.5); transform: translate(-100%, 0) scale(0.5); transition: -webkit-transform 2.5s; transition: transform 2.5s; transition-delay: 0.1s; font-family: "Montserrat", sans-serif; font-weight: 700; }
.slider .slick-next, .slider .slick-prev { height: auto; z-index: 2; font-family: "svgfont"; display: inline-block; vertical-align: middle; font-style: normal; font-weight: normal; text-rendering: auto; speak: none; min-width: 1em; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.slider .slick-next:before, .slider .slick-prev:before { height: auto; line-height: 1; font-size: 40px; }
.slider .slick-next { right: 80px; }
.slider .slick-next:before { content: ""; }
.slider .slick-prev { left: 80px; }
.slider .slick-prev:before { content: ""; }
.slider .slick-dots { top: 50%; margin-top: 70px; bottom: auto; }
.slider .slick-dots li { padding: 0 1px; }
.slider .slick-dots li.slick-active button { opacity: 1; }
.slider .slick-dots button { height: 3px; width: 30px; opacity: 0.4; border-radius: 0; transition: opacity 0.2s; }
.slider .slick-dots button:active { opacity: 0.7; }
@media only screen and (min-width: 1024px) { .slider .slick-dots button:hover { opacity: 1; } }

.gallery { margin-top: -5px; font-family: "Montserrat", sans-serif; font-weight: 700; color: #fff; line-height: 24px; }
.gallery__slide { position: relative; margin-top: 5px; padding-bottom: 15%; width: 25%; height: auto; text-align: center; }
.gallery__slide:before { position: absolute; content: ""; top: 100%; left: 0; right: 0; height: 100%; opacity: 0; z-index: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); transition: top cubic-bezier(0, 0, 0.7, 1) 0.4s, opacity cubic-bezier(0, 0, 0.7, 1) 0.3s; background: rgba(88, 53, 123, 0.8); }
.gallery__slide:active:before { top: 5px; opacity: 1; }
.gallery__slide:active .gallery__inf { top: 50%; opacity: 1; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); }
.gallery__slide:active .gallery__in { -webkit-transform: translate(0, -100%); -ms-transform: translate(0, -100%); transform: translate(0, -100%); opacity: 0; }
@media only screen and (min-width: 1024px) { .gallery__slide:hover:before { top: 5px; opacity: 1; }
  .gallery__slide:hover .gallery__inf { top: 50%; opacity: 1; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); }
  .gallery__slide:hover .gallery__in { -webkit-transform: translate(0, -100%); -ms-transform: translate(0, -100%); transform: translate(0, -100%); opacity: 0; }
  .gallery__slide:hover .gallery__bg { -webkit-transform: scale(1.05); -ms-transform: scale(1.05); transform: scale(1.05); } }
.gallery__wrap { position: absolute; top: 0; left: 0; right: 0; bottom: 0; overflow: hidden; }
.gallery__img, .gallery__bg { position: absolute; top: 5px; left: 0; right: 0; bottom: 0; overflow: hidden; }
.gallery__bg { top: 0; -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); transition: -webkit-transform 5s; transition: transform 5s; background-repeat: no-repeat; background-position: 0 0; background-size: cover; }
.gallery__in { position: relative; padding: 15px 28px; vertical-align: top; z-index: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); transition: -webkit-transform cubic-bezier(0, 0, 0.7, 1) 0.4s, opacity cubic-bezier(0, 0, 0.7, 1) 0.3s; transition: transform cubic-bezier(0, 0, 0.7, 1) 0.4s, opacity cubic-bezier(0, 0, 0.7, 1) 0.3s; background: #58357b; background: rgba(88, 53, 123, 0.8); display: inline-block; }
.gallery__inf { position: absolute; top: 100%; left: 0; right: 0; -webkit-transform: translate(0, -100%); -ms-transform: translate(0, -100%); transform: translate(0, -100%); padding: 0 44px; opacity: 0; z-index: 2; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); transition: top cubic-bezier(0, 0, 0.7, 1) 0.4s, opacity cubic-bezier(0, 0, 0.7, 1) 0.3s; }
.gallery__title { position: relative; font-size: 26px; z-index: 1; text-transform: uppercase; }
.gallery__text { position: relative; margin: 5% 0 4%; font-size: 16px; z-index: 1; font-family: "Lato", sans-serif; font-weight: 700; }
.gallery__from { position: relative; margin-top: 2px; font-size: 22px; z-index: 1; }
.gallery .slick-next, .gallery .slick-prev { margin-top: -41px; width: 84px; height: 82px; z-index: 2; background: #333; transition: background 0.3s, opacity 0.3s; font-family: "svgfont"; font-style: normal; font-weight: normal; text-rendering: auto; speak: none; min-width: 1em; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.gallery .slick-next:before, .gallery .slick-prev:before { height: auto; line-height: 1; font-size: 40px; }
.gallery .slick-next:active, .gallery .slick-prev:active { background: black; }
.gallery .slick-next.slick-disabled, .gallery .slick-prev.slick-disabled { opacity: 0; }
@media only screen and (min-width: 1024px) { .gallery .slick-next:hover, .gallery .slick-prev:hover { background: #1a1a1a; } }
.gallery .slick-next:before { content: ""; }
.gallery .slick-prev:before { content: ""; }

.packages { margin-bottom: 60px; *zoom: 1; }
.packages:after { content: " "; display: table; clear: both; }

.package { position: relative; float: left; padding-bottom: 35%; width: 50%; color: #666; font-size: 15px; line-height: 24px; font-family: "Lato", sans-serif; font-weight: 300; background-repeat: no-repeat; background-position: 0 0; background-size: cover; }
.package__in { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 420px; }
.package__title { color: #58357b; font-size: 30px; text-transform: uppercase; font-family: "Montserrat", sans-serif; font-weight: 400; }
.package__inf { margin-bottom: 14px; color: #9e9e9e; font-size: 15px; text-transform: uppercase; }
.package__start { margin-top: 37px; color: #333; font-family: "Montserrat", sans-serif; font-weight: 700; font-size: 22px; }
.package__price { color: #ea591b; }
.package__more { margin-top: 8px; text-transform: uppercase; color: #ea591b; vertical-align: top; border-bottom: 1px solid transparent; transition: border-color 0.3s; display: inline-block; }
@media only screen and (min-width: 1024px) { .package__more:hover { border-color: #ea591b; } }
.package .fa { color: #ea591b; }

.header { height: 90px; font-family: "Lato", sans-serif; font-weight: 300; color: #333; }
.header__in { position: relative; margin: 0 auto; max-width: 1482px; *zoom: 1; }
.header__in:after { content: " "; display: table; clear: both; }
.header__right { float: right; margin-top: 38px; font-size: 0; }
.header .user { margin-left: 16px; }

.logo { position: absolute; top: 26px; left: 0; }
.logo [class^="icon-"] { display: block; }
.logo.logo_home { background-image: url("../img/icons.png"); width: 201px; height: 58px; background-position: 0px 0px; }

.menu { position: relative; float: left; left: 50%; -webkit-transform: translate(-51.5%, 0); -ms-transform: translate(-51.5%, 0); transform: translate(-51.5%, 0); margin-top: 36px; font-size: 0; }
.menu__item { margin-left: 35px; font-size: 14px; vertical-align: top; display: inline-block; }
.menu__item:first-child { margin-left: 0; }
.menu__item.is-active, .menu__item:active { color: #ea591b; }
.menu__item.is-active [class^="icon"], .menu__item:active [class^="icon"] { display: none; }
.menu__item.is-active [class*=" icon-hover-"], .menu__item:active [class*=" icon-hover-"] { display: block; }
@media only screen and (min-width: 1024px) { .menu__item:hover { color: #ea591b; }
  .menu__item:hover [class^="icon"] { display: none; }
  .menu__item:hover [class*=" icon-hover-"] { display: block; } }
.menu a { position: relative; padding-left: 35px; height: 24px; line-height: 24px; display: block; }
.menu a span { line-height: 1.2; vertical-align: baseline; display: inline-block; }
.menu [class*=" icon-hover-"] { display: none; }
.menu .icon { position: absolute; top: 50%; left: 0; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); }

.search { vertical-align: top; display: inline-block; }
.search__btn { vertical-align: top; background: none; display: inline-block; }

.user { vertical-align: top; display: inline-block; }
.user__btn { vertical-align: top; background: none; display: inline-block; }

.footer { margin-top: -423px; letter-spacing: 0.4px; color: #888; background: url(../img/bg-foot.png) repeat 0 0; }
.footer__in { padding: 47px 15px 40px; *zoom: 1; }
.footer__in:after { content: " "; display: table; clear: both; }
.footer__left, .footer__col, .footer__right { float: left; box-sizing: border-box; }
.footer__left { padding-right: 36px; width: 25.7%; }
.footer__col { padding-right: 15px; width: 17%; }
.footer__right { width: 23.3%; }
.footer__logo { margin: -13px 0 10px; vertical-align: top; display: inline-block; background-image: url("../img/icons.png"); width: 201px; height: 58px; background-position: 0px -62px; }
.footer__title { margin-bottom: 16px; color: #444; font-family: "Lato", sans-serif; font-weight: 400; letter-spacing: 0.85px; font-size: 16px; line-height: 34px; text-transform: uppercase; }
.footer__list { font-size: 14px; line-height: 28px; }
.footer__list a { letter-spacing: 0; border-bottom: 1px solid transparent; transition: border-color 0.2s; }
.footer__list a:active { border-color: #888; }
@media only screen and (min-width: 1024px) { .footer__list a:hover { border-color: #888; } }
.footer a { color: #888; }

.copy { background: #58357b; padding: 22px 0 20px; color: #fff; line-height: 20px; letter-spacing: 0; font-size: 13px; }

.soc { margin-top: 16px; font-size: 0; }
.soc__item { margin-left: 5px; font-size: 27px; vertical-align: top; display: inline-block; }
.soc__item:first-child { margin-left: 0; }
.soc__f { background: #3b5998; }
.soc__f:active { background: #1e2e4f; }
@media only screen and (min-width: 1024px) { .soc__f:hover { background: #1e2e4f; } }
.soc__tw { background: #00aced; }
.soc__tw:active { background: #006287; }
@media only screen and (min-width: 1024px) { .soc__tw:hover { background: #006287; } }
.soc__g { background: #dd4b39; }
.soc__g:active { background: #96271a; }
@media only screen and (min-width: 1024px) { .soc__g:hover { background: #96271a; } }
.soc__y { background: #bb0000; }
.soc__y:active { background: #550000; }
@media only screen and (min-width: 1024px) { .soc__y:hover { background: #550000; } }
.soc a { height: 45px; width: 45px; color: #fff; line-height: 45px; text-align: center; border-radius: 50%; transition: background 0.2s; display: block; }

.out { padding-bottom: 423px; height: 100%; height: auto; min-height: 100%; box-sizing: border-box; }

.topic { position: relative; background-size: cover; background-repeat: no-repeat; background-position: 50% 50%; font-family: "Montserrat", sans-serif; font-weight: 700; }
.topic:before { position: absolute; content: ""; top: 0; left: 0; right: 0; bottom: 0; opacity: 0.2; z-index: 1; background-color: #000; }
.topic__in { position: relative; height: 230px; text-align: center; font-size: 0; }
.topic__in:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.topic__text { position: relative; color: #fff; font-size: 80px; vertical-align: middle; z-index: 2; display: inline-block; }
.topic .like { position: absolute; right: 35px; bottom: 5px; z-index: 1; }

.like { padding: 9px 20px; font-size: 14px; font-family: "Montserrat", sans-serif; font-weight: 700; color: #fff; background: rgba(0, 0, 0, 0.5); display: inline-block; }
.like__short { margin-right: 8px; color: #ffdb00; }
.like__short, .like__text { vertical-align: baseline; display: inline-block; }

.tab { position: relative; margin-top: -5px; border-top: 5px solid #ea591b; z-index: 3; background: #fff; }
.tab__list { margin-top: -42px; font-size: 0; }
.tab__item { position: relative; margin-left: 5px; font-family: "Montserrat", sans-serif; font-weight: 700; font-size: 14px; vertical-align: top; text-transform: uppercase; display: inline-block; background: #ea591b; transition: background 0.2s; }
.tab__item:first-child { margin-left: 0; }
.tab__item.is-active, .tab__item:active { background: #fff; }
.tab__item.is-active .tab__link, .tab__item:active .tab__link { color: #ea591b; }
@media only screen and (min-width: 1024px) { .tab__item:hover { background: #fff; }
  .tab__item:hover .tab__link { color: #ea591b; } }
.tab__link { padding: 11px 28px; color: #fff; transition: color 0.2s; display: block; }
.tab__in { border-bottom: 5px solid #ededed; }
.tab__cont { padding: 30px 15px; font-size: 0; display: none; }
.tab__text { font-size: 14px; }
.tab .select, .tab .input, .tab .btn { margin-left: 1.7%; }
.tab .select:first-child, .tab .input:first-child, .tab .btn:first-child { margin-left: 0; }
.tab .select { width: 18%; }
.tab .input input { padding-left: 44px; }

.select { position: relative; min-width: 220px; color: #666; font-family: "Lato", sans-serif; font-weight: 300; font-size: 16px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; cursor: pointer; vertical-align: top; display: inline-block; }
.select select { position: absolute; top: 0; left: 0; right: 0; bottom: 0; opacity: 0; }
.select__text { position: relative; display: block; padding: 17px 15px; border: 3px solid #f2f2f2; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.select__text:after { content: ""; position: absolute; right: 17px; top: 50%; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; }
.select__list { position: absolute; display: none; left: 0; right: 0; top: 100%; z-index: 100; border: 3px solid #f2f2f2; border-top: 0; max-height: 200px; overflow-x: hidden; overflow-y: auto; background: #fff; }
.select__list li { padding: 15px; cursor: pointer; line-height: 1; transition: background 0.2s; }
.select__list li:active { background: #f2f2f2; }
@media only screen and (min-width: 1024px) { .select__list li:hover { background: #f2f2f2; } }

.input { position: relative; vertical-align: top; display: inline-block; }
.input input { padding: 0 15px; height: 60px; color: #666; font-family: "Lato", sans-serif; font-weight: 300; font-size: 16px; border: 3px solid #f2f2f2; box-sizing: border-box; display: block; }
.input input::-webkit-input-placeholder { color: #666; }
.input input::-moz-placeholder { color: #666; }
.input input:-ms-input-placeholder { color: #666; }
.input input::placeholder { color: #666; }
.input .fa { position: absolute; left: 19px; top: 50%; margin-top: -9px; font-size: 19px; color: #666; transition: color 0.2s; }
.input .ui-datepicker-trigger { position: absolute; left: 19px; top: 50%; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); cursor: pointer; opacity: 0; z-index: 2; }
.input .ui-datepicker-trigger:active + .fa { color: rgba(102, 102, 102, 0.7); }
@media only screen and (min-width: 1024px) { .input .ui-datepicker-trigger:hover + .fa { color: rgba(102, 102, 102, 0.7); } }

.btn { padding: 20px 35px; color: #fff; font-family: "Lato", sans-serif; font-weight: 300; text-transform: uppercase; vertical-align: top; font-size: 16px; line-height: 20px; transition: color 0.3s, background-color 0.3s; background: #ea591b; display: inline-block; }
.btn:active { background: #92350d; }
@media only screen and (min-width: 1024px) { .btn:hover { background: #c04612; } }

.inf { text-align: center; color: #58357b; text-transform: uppercase; background: #ffdb00; }
.inf__in { position: relative; padding: 15px 25px; margin: 0 auto; max-width: 1482px; box-sizing: border-box; }
.inf__close { position: absolute; top: 50%; right: 0; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); background-color: transparent; transition: opacity 0.2s; background-image: url("../img/icons.png"); width: 20px; height: 20px; background-position: -227px -79px; }
.inf__close:active { opacity: 0.6; }
@media only screen and (min-width: 1024px) { .inf__close:hover { opacity: 0.8; } }
.inf strong { font-family: "Lato", sans-serif; font-weight: 700; }

.quote { padding: 50px 0 40px; font-size: 24px; line-height: 1.3; text-align: center; font-family: "Montserrat", sans-serif; font-weight: 700; }
.quote__top { padding: 6px 0 14px; color: #ffdb00; font-size: 46px; line-height: 1; }
.quote__text { position: relative; padding: 0 100px 32px; }
.quote__text:before { position: absolute; content: ""; left: 50%; bottom: 0; margin-left: -35px; height: 1px; width: 70px; background: #dcdcdc; }

.stat { margin: 40px 0; padding: 55px 0; color: #58357b; line-height: 39px; font-size: 30px; text-align: center; text-transform: uppercase; font-family: "Montserrat", sans-serif; font-weight: 400; background: url(../img/stat-bg.png) 0 0 repeat; }
.stat strong { color: #fff; font-size: 48px; font-family: "Montserrat", sans-serif; font-weight: 700; display: inline-block; vertical-align: text-bottom; }

.hr { margin: 0; height: 1px; background: #f1f1f1; border: none; }

.ui-datepicker { width: 13.4em; }
.ui-datepicker .ui-datepicker-next, .ui-datepicker .ui-datepicker-prev { cursor: pointer; }
.ui-datepicker .ui-datepicker-next:active span, .ui-datepicker .ui-datepicker-prev:active span { color: #000; }
@media only screen and (min-width: 1024px) { .ui-datepicker .ui-datepicker-next:hover span, .ui-datepicker .ui-datepicker-prev:hover span { color: #000; } }
.ui-datepicker .ui-datepicker-next span, .ui-datepicker .ui-datepicker-prev span { position: relative; font: normal normal normal 14px/1 FontAwesome; text-rendering: auto; -webkit-font-smoothing: antialiased; background: none; color: #fff; font-size: 0 !important; text-indent: 0; }
.ui-datepicker .ui-datepicker-next span:before, .ui-datepicker .ui-datepicker-prev span:before { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); font-size: 16px; content: ""; }
.ui-datepicker .ui-datepicker-next span:before { content: ""; }

.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white slick-image-url("ajax-loader.gif") center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; max-width: 100%; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-prev, .slick-next { position: absolute; top: 50%; margin-top: -14px; font: 0/0 a; text-shadow: none; color: transparent; height: 50px; background: none; }
.slick-prev:focus, .slick-next:focus { outline: none; }
.slick-prev.slick-disabled, .slick-next.slick-disabled { opacity: 0.2; }
.slick-prev:before, .slick-next:before { height: 50px; line-height: 50px; }

.slick-prev { left: 0; }
.slick-prev:before { content: "←"; display: inline-block; vertical-align: middle; font-size: 61px; color: #fff; }

.slick-next { right: 0; }
.slick-next:before { content: "→"; display: inline-block; vertical-align: middle; font-size: 61px; color: #fff; }

.slick-dots { text-align: center; position: absolute; margin: 0; bottom: 0; left: 0; right: 0; }
.slick-dots li { position: relative; display: inline-block; padding: 0 3px; }
.slick-dots li.slick-active button { opacity: 0.3; box-shadow: none; }
.slick-dots li:before { display: none; }
.slick-dots button { display: block; width: 6px; height: 6px; background: #fff; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); cursor: pointer; font: 0/0 a; text-shadow: none; color: transparent; border-radius: 50%; }
.slick-dots button:hover { box-shadow: none; }



/*# sourceMappingURL=screen.css.map */
