@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

.in, .countries__in, .bonus__in, .drop__in, .footer__in, .copy__in, .center, .topic__in, .tab__list, .tab__cont, .stat__in, .reviews__in { padding: 0 15px; margin: 0 auto; max-width: 1200px; box-sizing: border-box; }
@media only screen and (max-width: 768px) { .in, .countries__in, .bonus__in, .drop__in, .footer__in, .copy__in, .center, .topic__in, .tab__list, .tab__cont, .stat__in, .reviews__in { padding: 0 10px; } }

body { color: #444; font-family: "Lato", sans-serif; font-weight: 300; font-size: 14px; line-height: 20px; }

a { color: inherit; text-decoration: none; }

.icon-bonus-bg { width: 1600px; height: 500px; background-image: url("../img/icons.png"); background-position: 0px 0px; }

.icon-close { width: 20px; height: 20px; background-image: url("../img/icons.png"); background-position: -924px -504px; }

.icon-codedby { width: 47px; height: 5px; background-image: url("../img/icons.png"); background-position: -1029px -504px; }

.icon-coderiver { width: 49px; height: 5px; background-image: url("../img/icons.png"); background-position: -976px -504px; }

.icon-cruises { width: 24px; height: 14px; background-image: url("../img/icons.png"); background-position: -948px -504px; }

.icon-deals { width: 18px; height: 24px; background-image: url("../img/icons.png"); background-position: 0px -566px; }

.icon-destinations { width: 24px; height: 22px; background-image: url("../img/icons.png"); background-position: -868px -504px; }

.icon-estras { width: 24px; height: 22px; background-image: url("../img/icons.png"); background-position: -840px -504px; }

.icon-flights { width: 24px; height: 24px; background-image: url("../img/icons.png"); background-position: -756px -504px; }

.icon-holidays { width: 24px; height: 24px; background-image: url("../img/icons.png"); background-position: -784px -504px; }

.icon-hover-destinations { width: 24px; height: 22px; background-image: url("../img/icons.png"); background-position: -896px -504px; }

.icon-hover-holidays { width: 24px; height: 24px; background-image: url("../img/icons.png"); background-position: -812px -504px; }

.icon-logo { width: 230px; height: 47px; background-image: url("../img/icons.png"); background-position: -410px -504px; }

.icon-logo_foot { width: 201px; height: 58px; background-image: url("../img/icons.png"); background-position: -205px -504px; }

.icon-logo_home { width: 201px; height: 58px; background-image: url("../img/icons.png"); background-position: 0px -504px; }

.icon-more { width: 14px; height: 15px; background-image: url("../img/icons.png"); background-position: -644px -532px; }

.icon-search-white { width: 24px; height: 24px; background-image: url("../img/icons.png"); background-position: -644px -504px; }

.icon-search { width: 24px; height: 24px; background-image: url("../img/icons.png"); background-position: -728px -504px; }

.icon-user-white { width: 24px; height: 24px; background-image: url("../img/icons.png"); background-position: -700px -504px; }

.icon-user { width: 24px; height: 24px; background-image: url("../img/icons.png"); background-position: -672px -504px; }

@font-face { font-family: "svgfont"; src: url("fonts/svgfont.eot"); src: url("fonts/svgfont.eot?#iefix") format("eot"), url("fonts/svgfont.woff") format("woff"), url("fonts/svgfont.woff2") format("woff2"), url("fonts/svgfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
.icon, [class^="icon-"], [class*=" icon-"] { font-family: "svgfont"; font-style: normal; font-weight: normal; text-rendering: auto; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon, [class^="icon-"], [class*=" icon-"] { display: inline-block; }

.icon-sl-arr-next:before { content: ""; }

.icon-sl-arr-prev:before { content: ""; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

body.is-home .out { overflow: hidden; }
body.is-home .header { position: absolute; top: 0; left: 0; right: 0; background: transparent; }
body.is-home .header:before { position: absolute; content: ""; top: 0; left: 0; width: 100%; height: 90px; background: transparent; z-index: -1; transition: background 0.2s; }
@media only screen and (max-width: 1200px) { body.is-home .header:before { height: 70px; } }
@media only screen and (max-width: 768px) { body.is-home .header:before { height: 0; } }
body.is-home .header.is-open-menu:before { z-index: 1; background: #fff; }
body.is-home .tab { margin: -155px auto 80px; max-width: 1170px; }
@media only screen and (max-width: 1200px) { body.is-home .tab { margin-bottom: 70px; } }
@media only screen and (max-width: 980px) { body.is-home .tab { margin: -110px 0 8px; } }
@media only screen and (max-width: 900px) { body.is-home .tab { margin-top: -95px; } }
@media only screen and (max-width: 768px) { body.is-home .tab { margin: 0; } }
body.is-home .tab__in { border-bottom: none; }
@media only screen and (max-width: 768px) { body.is-home .tab__in { border-bottom: 5px solid #ededed; } }
body.is-home .menu { width: calc(100% - 380px); }
@media only screen and (max-width: 1200px) { body.is-home .menu { padding-left: 0; width: 100%; } }
body.is-home .menu .menu__item { position: relative; z-index: -1; }
body.is-home .menu .menu__item > a { visibility: hidden; opacity: 0; transition: opacity 0.2s; }
body.is-home .menu-open__btn:before, body.is-home .menu-open__btn:after, body.is-home .menu-open__btn span { background: #fff; }
body.is-home .menu-open__btn:active:before, body.is-home .menu-open__btn:active:after, body.is-home .menu-open__btn:active span { background: #e10b18; }
@media only screen and (min-width: 1024px) { body.is-home .menu-open__btn:hover:before, body.is-home .menu-open__btn:hover:after, body.is-home .menu-open__btn:hover span { background: #e10b18; } }

.slider .slider__slide { width: 100%; background-repeat: no-repeat; background-size: cover; text-align: center; font-size: 0; }
.slider .slider__slide:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.slider .slider__slide.slick-active .slider__title, .slider .slider__slide.slick-active .slider__text { -webkit-transform: translate(0, 0) scale(1); -ms-transform: translate(0, 0) scale(1); transform: translate(0, 0) scale(1); }
.slider .slider__slide.slick-active + .slider__slide .slider__title { -webkit-transform: translate(0, -100%); -ms-transform: translate(0, -100%); transform: translate(0, -100%); }
.slider .slider__slide.slick-active + .slider__slide .slider__text { -webkit-transform: translate(100%, 0); -ms-transform: translate(100%, 0); transform: translate(100%, 0); }
.slider__wrap { padding-bottom: 57%; }
@media only screen and (max-width: 480px) { .slider__wrap { padding-bottom: 70%; } }
@media only screen and (max-width: 360px) { .slider__wrap { padding-bottom: 90%; } }
.slider__in { position: absolute; top: 50%; left: 50%; margin-top: -85px; min-width: 1200px; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); color: #fff; text-align: center; vertical-align: middle; display: inline-block; }
@media only screen and (max-width: 768px) { .slider__in { margin-top: -23px; -webkit-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); transform: translate(-50%, 0); } }
.slider__title { font-size: 46px; line-height: 1.2; text-transform: uppercase; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -webkit-transform: translate(0, 100%) scale(0.5); -ms-transform: translate(0, 100%) scale(0.5); transform: translate(0, 100%) scale(0.5); transition: -webkit-transform 3.5s; transition: transform 3.5s; transition-delay: 0.1s; font-family: "Lato", sans-serif; font-weight: 100; }
@media only screen and (max-width: 1200px) { .slider__title { font-size: 36px; } }
@media only screen and (max-width: 1024px) { .slider__title { font-size: 28px; } }
@media only screen and (max-width: 900px) { .slider__title { font-size: 20px; } }
@media only screen and (max-width: 768px) { .slider__title { font-size: 14px; } }
.slider__text { font-size: 80px; line-height: 1.3; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -webkit-transform: translate(-100%, 0) scale(0.5); -ms-transform: translate(-100%, 0) scale(0.5); transform: translate(-100%, 0) scale(0.5); transition: -webkit-transform 2.5s; transition: transform 2.5s; transition-delay: 0.1s; font-family: "Montserrat", sans-serif; font-weight: 700; }
@media only screen and (max-width: 1200px) { .slider__text { font-size: 65px; } }
@media only screen and (max-width: 1024px) { .slider__text { font-size: 50px; } }
@media only screen and (max-width: 900px) { .slider__text { font-size: 35px; } }
@media only screen and (max-width: 768px) { .slider__text { font-size: 24px; } }
@media only screen and (max-width: 480px) { .slider__text { font-size: 22px; } }
.slider .slick-next, .slider .slick-prev { margin-top: -70px; height: auto; z-index: 2; font-family: "svgfont"; display: inline-block; vertical-align: middle; font-style: normal; font-weight: normal; text-rendering: auto; speak: none; min-width: 1em; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.slider .slick-next:before, .slider .slick-prev:before { height: auto; line-height: 1; font-size: 40px; }
@media only screen and (max-width: 768px) { .slider .slick-next:before, .slider .slick-prev:before { font-size: 30px; } }
@media only screen and (max-width: 768px) { .slider .slick-next, .slider .slick-prev { margin-top: -20px; } }
.slider .slick-next { right: 80px; }
@media only screen and (max-width: 1200px) { .slider .slick-next { right: 40px; } }
@media only screen and (max-width: 1200px) { .slider .slick-next { right: 20px; } }
@media only screen and (max-width: 768px) { .slider .slick-next { right: 10px; } }
.slider .slick-next:before { content: ""; }
.slider .slick-prev { left: 80px; }
@media only screen and (max-width: 1200px) { .slider .slick-prev { left: 40px; } }
@media only screen and (max-width: 1200px) { .slider .slick-prev { left: 20px; } }
@media only screen and (max-width: 768px) { .slider .slick-prev { left: 10px; } }
.slider .slick-prev:before { content: ""; }
.slider .slick-dots { top: 50%; margin-top: 70px; bottom: auto; }
@media only screen and (max-width: 768px) { .slider .slick-dots { top: auto; bottom: 50px; } }
.slider .slick-dots li { padding: 0 1px; }
.slider .slick-dots li.slick-active button { opacity: 1; }
.slider .slick-dots button { height: 3px; width: 30px; opacity: 0.4; border-radius: 0; transition: opacity 0.2s; }
.slider .slick-dots button:active { opacity: 0.7; }
@media only screen and (min-width: 1024px) { .slider .slick-dots button:hover { opacity: 1; } }

.gallery { margin-top: -5px; font-family: "Montserrat", sans-serif; font-weight: 700; color: #fff; line-height: 24px; }
.gallery__slide { margin-top: 5px; width: 25%; text-align: center; }
.gallery__slide:before { position: absolute; content: ""; top: 100%; left: 0; right: 0; height: 100%; opacity: 0; z-index: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); transition: top cubic-bezier(0, 0, 0.7, 1) 0.4s, opacity cubic-bezier(0, 0, 0.7, 1) 0.3s; background: rgba(88, 53, 123, 0.8); }
.gallery__slide:active:before { top: 5px; opacity: 1; }
.gallery__slide:active .gallery__inf { top: 50%; opacity: 1; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); }
.gallery__slide:active .gallery__in { -webkit-transform: translate(0, -100%); -ms-transform: translate(0, -100%); transform: translate(0, -100%); opacity: 0; }
@media only screen and (min-width: 1024px) { .gallery__slide:hover:before { top: 5px; opacity: 1; }
  .gallery__slide:hover .gallery__inf { top: 50%; opacity: 1; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); }
  .gallery__slide:hover .gallery__in { -webkit-transform: translate(0, -100%); -ms-transform: translate(0, -100%); transform: translate(0, -100%); opacity: 0; }
  .gallery__slide:hover .gallery__bg { -webkit-transform: scale(1.05); -ms-transform: scale(1.05); transform: scale(1.05); } }
.gallery__wrap { padding-bottom: 63.2%; overflow: hidden; }
.gallery__img, .gallery__bg { position: absolute; top: 5px; left: 0; right: 0; bottom: 0; overflow: hidden; }
.gallery__bg { top: 0; -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); transition: -webkit-transform 5s; transition: transform 5s; background-repeat: no-repeat; background-position: 0 0; background-size: cover; }
.gallery__in { position: relative; padding: 15px 28px; vertical-align: top; z-index: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); transition: -webkit-transform cubic-bezier(0, 0, 0.7, 1) 0.4s, opacity cubic-bezier(0, 0, 0.7, 1) 0.3s; transition: transform cubic-bezier(0, 0, 0.7, 1) 0.4s, opacity cubic-bezier(0, 0, 0.7, 1) 0.3s; background: #58357b; background: rgba(88, 53, 123, 0.8); display: inline-block; }
@media only screen and (max-width: 900px) { .gallery__in { padding: 10px 14px; line-height: 1.2; } }
.gallery__inf { position: absolute; top: 100%; left: 0; right: 0; -webkit-transform: translate(0, -100%); -ms-transform: translate(0, -100%); transform: translate(0, -100%); padding: 0 44px; opacity: 0; z-index: 2; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); transition: top cubic-bezier(0, 0, 0.7, 1) 0.4s, opacity cubic-bezier(0, 0, 0.7, 1) 0.3s; }
.gallery__title { position: relative; font-size: 26px; z-index: 1; text-transform: uppercase; }
@media only screen and (max-width: 1200px) { .gallery__title { font-size: 24px; } }
@media only screen and (max-width: 1024px) { .gallery__title { font-size: 22px; } }
@media only screen and (max-width: 900px) { .gallery__title { font-size: 18px; } }
@media only screen and (max-width: 576px) { .gallery__title { font-size: 16px; } }
@media only screen and (max-width: 480px) { .gallery__title { font-size: 18px; } }
.gallery__text { position: relative; margin: 5% 0 4%; font-size: 16px; z-index: 1; font-family: "Lato", sans-serif; font-weight: 700; }
.gallery__from { position: relative; margin-top: 2px; font-size: 22px; z-index: 1; }
@media only screen and (max-width: 1200px) { .gallery__from { font-size: 20px; } }
@media only screen and (max-width: 1024px) { .gallery__from { font-size: 18px; } }
@media only screen and (max-width: 900px) { .gallery__from { font-size: 14px; } }
@media only screen and (max-width: 576px) { .gallery__from { font-size: 12px; } }
@media only screen and (max-width: 480px) { .gallery__from { font-size: 14px; } }
.gallery .slick-next, .gallery .slick-prev { margin-top: -41px; width: 84px; height: 82px; z-index: 2; background: #333; transition: background 0.3s, opacity 0.3s; font-family: "svgfont"; font-style: normal; font-weight: normal; text-rendering: auto; speak: none; min-width: 1em; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
@media only screen and (max-width: 1200px) { .gallery .slick-next, .gallery .slick-prev { margin-top: -36px; width: 74px; height: 72px; } }
@media only screen and (max-width: 1024px) { .gallery .slick-next, .gallery .slick-prev { margin-top: -26px; height: 54px; width: 52px; } }
@media only screen and (max-width: 576px) { .gallery .slick-next, .gallery .slick-prev { margin-top: -21px; height: 42px; width: 44px; } }
.gallery .slick-next:before, .gallery .slick-prev:before { height: auto; line-height: 1; font-size: 40px; }
@media only screen and (max-width: 1200px) { .gallery .slick-next:before, .gallery .slick-prev:before { font-size: 38px; } }
@media only screen and (max-width: 1024px) { .gallery .slick-next:before, .gallery .slick-prev:before { font-size: 30px; } }
@media only screen and (max-width: 576px) { .gallery .slick-next:before, .gallery .slick-prev:before { font-size: 24px; } }
.gallery .slick-next:active, .gallery .slick-prev:active { background: black; }
.gallery .slick-next.slick-disabled, .gallery .slick-prev.slick-disabled { opacity: 0; }
@media only screen and (min-width: 1024px) { .gallery .slick-next:hover, .gallery .slick-prev:hover { background: #1a1a1a; } }
.gallery .slick-next:before { content: ""; }
.gallery .slick-prev:before { content: ""; }

.packages { margin-bottom: 60px; *zoom: 1; }
.packages:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 1024px) { .packages { margin-bottom: 40px; } }
.packages__row { position: relative; *zoom: 1; }
.packages__row:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 620px) { .packages__row:first-child .package__in { padding-top: 0; } }
@media only screen and (max-width: 768px) { .packages__row:nth-child(odd) .package:last-child { right: 0; } }
.packages__row.is-right .package { float: right; }

.package { position: relative; float: left; padding-bottom: 31.2%; width: 50%; color: #666; font-size: 15px; line-height: 24px; font-family: "Lato", sans-serif; font-weight: 300; background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; }
@media only screen and (max-width: 1024px) { .package { font-size: 12px; } }
@media only screen and (max-width: 768px) { .package { position: absolute; padding-bottom: 0; top: 0; bottom: 0; } }
@media only screen and (max-width: 620px) { .package { position: relative; padding-bottom: 35%; width: 100%; } }
@media only screen and (max-width: 768px) { .package.is-text { position: relative; padding-bottom: 0; } }
.package__in { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 420px; }
@media only screen and (max-width: 1024px) { .package__in { width: 380px; } }
@media only screen and (max-width: 900px) { .package__in { width: 325px; line-height: 20px; } }
@media only screen and (max-width: 768px) { .package__in { position: relative; top: auto; left: auto; padding: 20px; width: auto; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); } }
@media only screen and (max-width: 620px) { .package__in { padding-bottom: 12px; } }
.package__title { color: #58357b; font-size: 30px; text-transform: uppercase; font-family: "Montserrat", sans-serif; font-weight: 400; }
@media only screen and (max-width: 1024px) { .package__title { font-size: 24px; } }
@media only screen and (max-width: 480px) { .package__title { font-size: 18px; } }
.package__inf { margin-bottom: 14px; color: #9e9e9e; font-size: 15px; text-transform: uppercase; }
@media only screen and (max-width: 1024px) { .package__inf { margin-bottom: 10px; font-size: 12px; } }
@media only screen and (max-width: 900px) { .package__inf { margin-bottom: 5px; } }
@media only screen and (max-width: 480px) { .package__inf { font-size: 10px; } }
.package__start { margin-top: 37px; color: #333; font-family: "Montserrat", sans-serif; font-weight: 700; font-size: 22px; }
@media only screen and (max-width: 1024px) { .package__start { margin-top: 10px; font-size: 16px; } }
@media only screen and (max-width: 900px) { .package__start { margin-top: 5px; } }
@media only screen and (max-width: 480px) { .package__start { font-size: 12px; } }
.package__price { color: #ea591b; }
.package__more { margin-top: 8px; text-transform: uppercase; color: #ea591b; vertical-align: top; border-bottom: 1px solid transparent; transition: border-color 0.3s; display: inline-block; }
@media only screen and (min-width: 1024px) { .package__more:hover { border-color: #ea591b; } }
@media only screen and (max-width: 900px) { .package__more { margin-top: 4px; } }
@media only screen and (max-width: 480px) { .package__more { margin-top: 0; font-size: 10px; } }
.package .fa { color: #ea591b; }

.countries { margin-bottom: 30px; }
.countries__in { *zoom: 1; }
.countries__in:after { content: " "; display: table; clear: both; }

.country { position: relative; float: left; margin: 0 0 2.5% 2.5%; width: 23.077%; color: #fff; font-family: "Montserrat", sans-serif; font-weight: 400; font-size: 21px; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; overflow: hidden; }
@media only screen and (max-width: 980px) { .country { font-size: 16px; } }
@media only screen and (max-width: 768px) { .country { width: 48.5%; vertical-align: top; display: inline-block; } }
@media only screen and (max-width: 460px) { .country { margin-left: 0; width: 100%; } }
.country:first-child { margin-left: 0; }
@media only screen and (max-width: 768px) { .country:nth-child(odd) { margin-left: 0; } }
.country.is-wide { width: 48.719%; }
@media only screen and (max-width: 768px) { .country.is-wide { padding-bottom: 48.39%; }
  .country.is-wide img { position: absolute; top: 0; left: 50%; height: 100%; width: auto; -webkit-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); transform: translate(-50%, 0); } }
@media only screen and (max-width: 460px) { .country.is-wide { padding-bottom: 100%; width: 100%; } }
@media only screen and (max-width: 768px) { .country.is-height { padding-bottom: 48.39%; }
  .country.is-height img { position: absolute; top: 50%; left: 0; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); } }
@media only screen and (max-width: 460px) { .country.is-height { padding-bottom: 100%; } }
.country.is-active .country__drop { top: 0; }
.country.is-active .country__in { bottom: 100%; }
.country img { width: 100%; display: block; }
.country__in { position: absolute; left: 0; right: 0; bottom: 0; transition: bottom 0.3s; }
.country__topic { position: relative; padding: 8px 8px 8px 38px; vertical-align: top; cursor: pointer; background: #58357b; display: inline-block; }
.country__arr { position: absolute; top: 0; left: 0; padding: 12px 10px; font-size: 0; line-height: 1; cursor: pointer; vertical-align: top; display: inline-block; }
.country__arr .fa { font-size: 19px; line-height: 1; }
.country__name { line-height: 24px; vertical-align: top; display: inline-block; }
.country__drop { position: absolute; left: 0; top: 100%; right: 0; padding: 16px; height: 100%; transition: top 0.3s; background: #58357b; background: rgba(88, 53, 123, 0.8); }
@media only screen and (max-width: 980px) { .country__drop { padding: 6px 14px; } }
@media only screen and (max-width: 460px) { .country__drop { padding: 16px 25px; } }
.country__title { margin: 5px 0 10px; }
@media only screen and (max-width: 1200px) { .country__title { margin-bottom: 5px; } }
@media only screen and (max-width: 980px) { .country__title { margin-bottom: 2px; font-size: 14px; line-height: 1.2; } }
@media only screen and (max-width: 768px) { .country__title { margin-bottom: 5px; font-size: 18px; } }
@media only screen and (max-width: 460px) { .country__title { font-size: 22px; } }
.country__list { margin-bottom: 10px; font-family: "Lato", sans-serif; font-weight: 300; font-size: 16px; line-height: 1.5; }
@media only screen and (max-width: 1200px) { .country__list { margin-bottom: 5px; font-size: 14px; } }
@media only screen and (max-width: 1023px) { .country__list { line-height: 1.4; } }
@media only screen and (max-width: 980px) { .country__list { margin-bottom: 0; font-size: 12px; } }
@media only screen and (max-width: 768px) { .country__list { margin-bottom: 5px; font-size: 14px; } }
@media only screen and (max-width: 460px) { .country__list { font-size: 16px; } }
.country__list li a { color: #fff; border-bottom: 1px solid transparent; transition: border-color 0.3s; }
.country__list li a:active { border-color: #fff; }
@media only screen and (min-width: 1024px) { .country__list li a:hover { border-color: #fff; } }
.country__more { position: relative; padding-right: 22px; font-family: "Lato", sans-serif; font-weight: 400; font-size: 15px; line-height: 24px; text-transform: uppercase; display: inline-block; }
.country__more:active .ico { -webkit-transform: translate(3px, 0); -ms-transform: translate(3px, 0); transform: translate(3px, 0); }
@media only screen and (min-width: 1024px) { .country__more:hover .ico { -webkit-transform: translate(3px, 0); -ms-transform: translate(3px, 0); transform: translate(3px, 0); } }
@media only screen and (max-width: 980px) { .country__more { font-size: 12px; } }
@media only screen and (max-width: 768px) { .country__more { font-size: 14px; } }
.country__more .ico { position: absolute; top: 50%; right: 0; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); margin-top: -7px; transition: -webkit-transform 0.3s; transition: transform 0.3s; display: inline-block; }

.bonus { padding: 140px 15px 160px; color: #fff; background-repeat: no-repeat; background-position: 0 0; background-size: cover; }
@media only screen and (max-width: 1200px) { .bonus { padding: 100px 15px 120px; } }
@media only screen and (max-width: 1024px) { .bonus { padding: 50px 15px 50px; } }
@media only screen and (max-width: 480px) { .bonus { padding: 30px 15px 30px; } }
.bonus__title { font-size: 36px; line-height: 1.2; text-transform: uppercase; }
@media only screen and (max-width: 768px) { .bonus__title { font-size: 30px; } }
@media only screen and (max-width: 480px) { .bonus__title { font-size: 20px; } }
.bonus__title strong { font-family: "Lato", sans-serif; font-weight: 700; }
.bonus__inf { font-size: 15px; line-height: 24px; }
.bonus__text { max-width: 500px; }
.bonus__form { position: relative; margin-top: 35px; max-width: 470px; }
@media only screen and (max-width: 1024px) { .bonus__form { margin-top: 20px; } }
.bonus__form input { padding: 0 55px 0 18px; height: 60px; width: 100%; color: #666; font-family: "Lato", sans-serif; font-weight: 300; font-size: 16px; line-height: 24px; box-sizing: border-box; background-color: #fff; display: block; }
.bonus__form input::-webkit-input-placeholder { color: #666; }
.bonus__form input::-moz-placeholder { color: #666; }
.bonus__form input:-ms-input-placeholder { color: #666; }
.bonus__form input::placeholder { color: #666; }
@media only screen and (max-width: 768px) { .bonus__form input { height: 45px; } }
@media only screen and (max-width: 480px) { .bonus__form input { height: 40px; } }
.bonus__subm { position: absolute; right: 18px; top: 50%; padding: 3px; font-size: 0; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); background-color: transparent; display: inline-block; }
.bonus .fa { line-height: 0.9; font-size: 22px; color: #ea591b; }

.header { position: relative; height: 90px; font-family: "Lato", sans-serif; font-weight: 300; color: #333; z-index: 10; }
@media only screen and (max-width: 1200px) { .header { height: 70px; } }
.header:before { position: absolute; content: ""; top: 0; left: 0; width: 100%; height: 90px; background: transparent; z-index: -1; transition: background 0.2s; }
@media only screen and (max-width: 1200px) { .header:before { height: 70px; } }
@media only screen and (max-width: 768px) { .header:before { height: 0; } }
.header.is-open-menu:before { z-index: 1; background: #fff; }
.header.is-open-menu .logo, .header.is-open-menu .search, .header.is-open-menu .user { visibility: hidden; opacity: 0; z-index: -1; }
@media only screen and (max-width: 768px) { .header.is-open-menu .menu { -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); } }
.header.is-open-menu .menu .menu__item { position: static; z-index: 3; }
.header.is-open-menu .menu .menu__item > a { visibility: visible; opacity: 1; z-index: 2; }
.header.is-open-menu .menu-open__btn { z-index: 3; }
.header.is-open-menu .menu-open__btn:before { top: 9px; -ms-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg); border-radius: 6px; background: #adadad; }
.header.is-open-menu .menu-open__btn:after { bottom: 9px; -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); border-radius: 6px; background: #adadad; }
.header.is-open-menu .menu-open__btn span { -webkit-transform: scale(0); -ms-transform: scale(0); transform: scale(0); border-radius: 6px; }
.header.is-open-menu .menu-open__inf { -webkit-transform: translate(100%, 0) scale(0); -ms-transform: translate(100%, 0) scale(0); transform: translate(100%, 0) scale(0); }
.header__in { padding: 0 10px 0 15px; margin: 0 auto; max-width: 1502px; box-sizing: border-box; *zoom: 1; }
.header__in:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 1024px) { .header__in { padding: 0 10px; } }
.header__right { float: right; margin-top: 38px; font-size: 0; }
@media only screen and (max-width: 1200px) { .header__right { position: relative; margin-top: 23px; z-index: 1; } }
.header .user { margin-left: 16px; }

.logo { float: left; margin-top: 26px; transition: visibility 0.2s, opacity 0.2s; display: inline-block; }
.logo.logo_home { background: url("../img/svg/logo.svg") no-repeat 0 0; background-size: 201px 58px; width: 201px; height: 58px; display: inline-block; }
@media only screen and (max-width: 768px) { .logo.logo_home { margin-top: 15px; background: url("../img/svg/logo.svg") no-repeat 0 0; background-size: 134px 38px; width: 134px; height: 38px; display: inline-block; } }
@media only screen and (max-width: 1200px) { .logo { position: relative; margin-top: 12px; z-index: 1; } }

.menu-open { margin-left: 20px; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; vertical-align: top; display: inline-block; }
@media only screen and (max-width: 1024px) { .menu-open.is-resp { display: inline-block; } }
.menu-open__inf { position: relative; margin: -11px 18px 0 0; height: 46px; width: 46px; color: #fff; font-size: 13px; font-family: "Montserrat", sans-serif; font-weight: 700; line-height: 45px; text-align: center; border-radius: 50%; background: #e10b18; vertical-align: top; display: inline-block; transition: -webkit-transform 0.2s; transition: transform 0.2s; }
@media only screen and (max-width: 480px) { .menu-open__inf { display: none; } }
.menu-open__inf:before { position: absolute; content: ""; top: 50%; right: -6px; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); width: 0px; height: 0px; border-style: solid; border-width: 7.5px 0 7.5px 9px; border-color: transparent transparent transparent #e10b18; }
.menu-open__btn { position: relative; width: 31px; height: 24px; overflow: hidden; vertical-align: top; display: inline-block; background: none; }
.menu-open__btn:active:before, .menu-open__btn:active:after, .menu-open__btn:active span { background: #e10b18; }
@media only screen and (min-width: 1024px) { .menu-open__btn:hover:before, .menu-open__btn:hover:after, .menu-open__btn:hover span { background: #e10b18; } }
.menu-open__btn:before, .menu-open__btn:after { position: absolute; content: ""; left: 0; height: 6px; width: 31px; background: #adadad; transition: background 0.2s, -webkit-transform 0.2s, border-radius 0.2s; transition: background 0.2s, transform 0.2s, border-radius 0.2s; }
.menu-open__btn:before { top: 0; }
.menu-open__btn:after { bottom: 0; }
.menu-open__btn span { position: absolute; top: 9px; left: 0; height: 6px; width: 31px; background: #adadad; transition: background 0.2s, border-radius 0.2s, -webkit-transform 0.2s; transition: background 0.2s, border-radius 0.2s, transform 0.2s; }

.menu { float: left; width: calc(100% - 294px); text-align: center; margin-top: 36px; font-size: 0; box-sizing: border-box; }
@media only screen and (max-width: 1200px) { .menu { position: absolute; top: 0; left: 0; margin-top: 22px; padding-left: 90px; width: 100%; } }
@media only screen and (max-width: 1024px) { .menu { padding-left: 0; } }
@media only screen and (max-width: 768px) { .menu { margin: 0; padding: 20px 40px; transition: -webkit-transform 0.2s; transition: transform 0.2s; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -webkit-transform: translate(0, -100%); -ms-transform: translate(0, -100%); transform: translate(0, -100%); background: #fff; } }
.menu__item { margin-left: 35px; font-size: 14px; vertical-align: top; display: inline-block; }
@media only screen and (max-width: 1200px) { .menu__item { margin-left: 15px; } }
@media only screen and (max-width: 1024px) { .menu__item { position: relative; }
  .menu__item > a { visibility: hidden; opacity: 0; transition: opacity 0.2s, visibility 0.2s; } }
@media only screen and (max-width: 768px) { .menu__item { margin: 8px 0 0 0; z-index: -1; display: block; font-size: 18px; display: block; } }
.menu__item:first-child { margin-left: 0; }
@media only screen and (max-width: 768px) { .menu__item:first-child { margin-top: 0; } }
.menu__item.is-active > a, .menu__item:active > a { color: #ea591b; }
.menu__item.is-active [class^="icon"], .menu__item:active [class^="icon"] { display: none; }
.menu__item.is-active [class*=" icon-hover-"], .menu__item:active [class*=" icon-hover-"] { display: block; }
@media only screen and (max-width: 768px) { .menu__item.is-active [class*=" icon-hover-"], .menu__item:active [class*=" icon-hover-"] { display: none; } }
@media only screen and (min-width: 1024px) { .menu__item:hover > a { color: #ea591b; }
  .menu__item:hover > a:before { opacity: 1; }
  .menu__item:hover [class^="icon"] { display: none; }
  .menu__item:hover [class*=" icon-hover-"] { display: block; }
  .menu__item:hover .drop { visibility: visible; opacity: 1; z-index: 100; } }
.menu__item > a { padding-left: 35px; height: 24px; line-height: 24px; display: block; }
@media only screen and (max-width: 768px) { .menu__item > a { padding-left: 0; } }
.menu__item > a:before { position: absolute; content: ""; left: 4px; bottom: -30px; width: 0px; height: 0px; border-style: solid; border-width: 0 7.5px 8px 7.5px; border-color: transparent transparent #58357b transparent; opacity: 0; transition: opacity 0.3s; }
@media only screen and (max-width: 1200px) { .menu__item > a:before { bottom: -24px; } }
.menu__item > a span { line-height: 1.2; vertical-align: baseline; display: inline-block; }
.menu a { position: relative; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.menu [class*=" icon-hover-"] { display: none; }
.menu .icon { position: absolute; top: 50%; left: 0; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); }
@media only screen and (max-width: 768px) { .menu .icon { display: none; } }

.drop { position: absolute; top: 100%; left: 0; right: 0; padding: 24px 0 36px; color: #fff; text-align: left; opacity: 0; visibility: hidden; z-index: -1; transition: opacity 0.3s, visibility 0.3s; background: #58357b url(../img/bg-drop.png) no-repeat 50% 50%; }
@media only screen and (max-width: 1200px) { .drop { margin-top: 24px; } }
.drop a { color: #fff; line-height: 24px; transition: color 0.2s, border-color 0.2s; }
.drop a.is-active, .drop a:active { color: #ffdb00; }
@media only screen and (min-width: 1024px) { .drop a:hover { color: #ffdb00; } }
.drop__in { *zoom: 1; }
.drop__in:after { content: " "; display: table; clear: both; }
.drop__tab { float: left; width: 16.6%; font-family: "Montserrat", sans-serif; font-weight: 400; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; font-size: 21px; }
.drop__tab li.is-active a { color: #ffdb00; border-color: #ffdb00; }
.drop__tab a { line-height: 35px; border-bottom: 1px dashed transparent; }
.drop__tab a:active { border-color: #ffdb00; }
@media only screen and (min-width: 1024px) { .drop__tab a:hover { border-color: #ffdb00; } }
.drop__cont { float: right; padding-top: 8px; width: 83%; display: none; }
.drop__list { *zoom: 1; }
.drop__list:after { content: " "; display: table; clear: both; }
.drop__list ul { float: left; width: 20%; display: block; }
.drop__list a { padding-left: 12px; }
.drop__list a:before { position: absolute; content: ""; top: 1px; left: 0; color: transparent; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; }
.drop__list a:active:before, .drop__list a.is-active:before { color: #ffdb00; }
@media only screen and (min-width: 1024px) { .drop__list a:hover:before { color: #ffdb00; } }

.search { position: relative; vertical-align: top; transition: visibility 0.2s, opacity 0.2s; display: inline-block; }
.search__btn { vertical-align: top; background: none; display: inline-block; }

.user { position: relative; vertical-align: top; transition: visibility 0.2s, opacity 0.2s; display: inline-block; }
.user__btn { vertical-align: top; background: none; display: inline-block; }

.footer { margin-top: -423px; letter-spacing: 0.4px; color: #888; background: url(../img/bg-foot.png) repeat 0 0; }
@media only screen and (max-width: 768px) { .footer { text-align: center; } }
.footer__in { padding: 47px 15px 40px; *zoom: 1; }
.footer__in:after { content: " "; display: table; clear: both; }
.footer__left, .footer__col, .footer__right { float: left; box-sizing: border-box; }
.footer__left { padding-right: 36px; width: 25.7%; }
@media only screen and (max-width: 1024px) { .footer__left { width: 100%; } }
@media only screen and (max-width: 768px) { .footer__left { padding-right: 0; } }
@media only screen and (max-width: 1024px) { .footer__text { display: none; } }
.footer__col { padding-right: 15px; width: 17%; box-sizing: border-box; }
@media only screen and (max-width: 1024px) { .footer__col { width: 25%; } }
@media only screen and (max-width: 900px) { .footer__col { width: 33%; } }
@media only screen and (max-width: 768px) { .footer__col { margin-top: 5px; width: 100%; } }
.footer__right { width: 23.3%; }
@media only screen and (max-width: 1024px) { .footer__right { width: 25%; } }
@media only screen and (max-width: 900px) { .footer__right { margin-top: 20px; width: 100%; } }
.footer__logo { margin: -13px 0 10px; vertical-align: top; display: inline-block; background-image: url("../img/icons.png"); width: 201px; height: 58px; background-position: -205px -504px; }
.footer__title { margin-bottom: 16px; color: #444; font-family: "Lato", sans-serif; font-weight: 400; letter-spacing: 0.85px; font-size: 16px; line-height: 34px; text-transform: uppercase; }
@media only screen and (max-width: 1024px) { .footer__title { margin-bottom: 5px; } }
.footer__list { font-size: 14px; line-height: 28px; }
@media only screen and (max-width: 768px) { .footer__list { line-height: 1.4; } }
.footer__list a { letter-spacing: 0; border-bottom: 1px solid transparent; transition: border-color 0.2s; }
.footer__list a:active { border-color: #888; }
@media only screen and (min-width: 1024px) { .footer__list a:hover { border-color: #888; } }
.footer a { color: #888; }

.copy { background: #58357b; padding: 22px 0 20px; color: #fff; line-height: 20px; letter-spacing: 0; font-size: 13px; }

.soc { margin-top: 16px; font-size: 0; }
@media only screen and (max-width: 1024px) { .soc { margin-top: 10px; } }
.soc__item { margin-left: 5px; font-size: 27px; vertical-align: top; display: inline-block; }
.soc__item:first-child { margin-left: 0; }
.soc__f { background: #3b5998; }
.soc__f:active { background: #1e2e4f; }
@media only screen and (min-width: 1024px) { .soc__f:hover { background: #1e2e4f; } }
.soc__tw { background: #00aced; }
.soc__tw:active { background: #006287; }
@media only screen and (min-width: 1024px) { .soc__tw:hover { background: #006287; } }
.soc__g { background: #dd4b39; }
.soc__g:active { background: #96271a; }
@media only screen and (min-width: 1024px) { .soc__g:hover { background: #96271a; } }
.soc__y { background: #bb0000; }
.soc__y:active { background: #550000; }
@media only screen and (min-width: 1024px) { .soc__y:hover { background: #550000; } }
.soc a { height: 45px; width: 45px; color: #fff; line-height: 45px; text-align: center; border-radius: 50%; transition: background 0.2s; display: block; }

.out { padding-bottom: 423px; height: 100%; height: auto; min-height: 100%; box-sizing: border-box; }

.is-resp { display: none; }
@media only screen and (max-width: 1024px) { .is-resp { display: block; } }

.topic { position: relative; background-size: cover; background-repeat: no-repeat; background-position: 50% 50%; font-family: "Montserrat", sans-serif; font-weight: 700; }
.topic:before { position: absolute; content: ""; top: 0; left: 0; right: 0; bottom: 0; opacity: 0.2; z-index: 1; background-color: #000; }
.topic__in { position: relative; height: 230px; text-align: center; font-size: 0; }
.topic__in:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.topic__text { position: relative; color: #fff; font-size: 80px; vertical-align: middle; z-index: 2; display: inline-block; }
.topic .like { position: absolute; right: 35px; bottom: 5px; z-index: 1; }

.like { padding: 9px 20px; font-size: 14px; font-family: "Montserrat", sans-serif; font-weight: 700; color: #fff; background: rgba(0, 0, 0, 0.5); display: inline-block; }
.like__short { margin-right: 8px; color: #ffdb00; }
.like__short, .like__text { vertical-align: baseline; display: inline-block; }

.tab { position: relative; margin-top: -5px; border-top: 5px solid #ea591b; z-index: 3; background: #fff; }
.tab__list { margin-top: -42px; font-size: 0; }
@media only screen and (max-width: 767px) { .tab__list { margin-top: -36px; } }
@media only screen and (max-width: 480px) { .tab__list { display: none; } }
.tab__item { position: relative; margin-left: 5px; font-family: "Montserrat", sans-serif; font-weight: 700; font-size: 14px; vertical-align: top; text-transform: uppercase; display: inline-block; background: #ea591b; transition: background 0.2s; }
.tab__item:first-child { margin-left: 0; }
.tab__item.is-active, .tab__item:active { background: #fff; }
.tab__item.is-active .tab__link, .tab__item:active .tab__link { color: #ea591b; }
@media only screen and (min-width: 1024px) { .tab__item:hover { background: #fff; }
  .tab__item:hover .tab__link { color: #ea591b; } }
@media only screen and (max-width: 768px) { .tab__item { font-size: 12px; } }
.tab__link { padding: 11px 28px; color: #fff; transition: color 0.2s; display: block; }
@media only screen and (max-width: 768px) { .tab__link { padding: 8px 18px; } }
.tab__in { border-bottom: 5px solid #ededed; }
.tab__accord { font-size: 16px; text-transform: uppercase; border-bottom: 1px solid #ededed; display: none; }
.tab__accord.is-active a:after { -webkit-transform: translate(0, calc(-50% + 1px)) rotate(180deg); -ms-transform: translate(0, calc(-50% + 1px)) rotate(180deg); transform: translate(0, calc(-50% + 1px)) rotate(180deg); }
@media only screen and (max-width: 480px) { .tab__accord { display: block; } }
.tab__accord a { position: relative; padding: 10px 40px 10px 10px; color: #ea591b; display: block; }
.tab__accord a:after { content: ""; position: absolute; right: 30px; top: 50%; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; transition: -webkit-transform 0.3s; transition: transform 0.3s; }
.tab__cont { padding: 30px 15px; font-size: 0; display: none; }
@media only screen and (max-width: 1200px) { .tab__cont { text-align: center; } }
@media only screen and (max-width: 980px) { .tab__cont { padding: 20px 10px; } }
@media only screen and (max-width: 480px) { .tab__cont { padding: 10px; border-bottom: 1px solid #ededed; } }
.tab__text { font-size: 14px; }
.tab .select, .tab .input, .tab .btn { margin-left: 1.7%; }
.tab .select:first-child, .tab .input:first-child, .tab .btn:first-child { margin-left: 0; }
@media only screen and (max-width: 900px) { .tab .select, .tab .input, .tab .btn { margin-left: 1.2%; } }
@media only screen and (max-width: 768px) { .tab .select, .tab .input, .tab .btn { margin: 10px 0 0; width: 100%; }
  .tab .select:first-child, .tab .input:first-child, .tab .btn:first-child { margin-top: 0; } }
.tab .select, .tab .input { width: 18%; }
@media only screen and (max-width: 1199px) { .tab .select, .tab .input { width: 17%; min-width: 120px; } }
@media only screen and (max-width: 768px) { .tab .select, .tab .input { width: 100%; } }
.tab .input input { padding-left: 44px; }
@media only screen and (max-width: 980px) { .tab .input input { padding-left: 40px; } }
@media only screen and (max-width: 900px) { .tab .input input { padding-left: 35px; } }

.select { position: relative; min-width: 220px; color: #666; font-family: "Lato", sans-serif; font-weight: 300; font-size: 16px; text-align: left; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; cursor: pointer; vertical-align: top; display: inline-block; }
@media only screen and (max-width: 900px) { .select { font-size: 14px; } }
.select select { position: absolute; top: 0; left: 0; right: 0; bottom: 0; opacity: 0; }
.select__text { position: relative; display: block; padding: 17px 15px; border: 3px solid #f2f2f2; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.select__text:after { content: ""; position: absolute; right: 17px; top: 50%; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; }
@media only screen and (max-width: 980px) { .select__text { padding: 12px 10px; } }
@media only screen and (max-width: 900px) { .select__text { padding: 8px 10px; } }
.select__list { position: absolute; display: none; left: 0; right: 0; top: 100%; z-index: 100; border: 3px solid #f2f2f2; border-top: 0; max-height: 200px; overflow-x: hidden; overflow-y: auto; background: #fff; }
.select__list li { padding: 15px; cursor: pointer; line-height: 1; transition: background 0.2s; }
.select__list li:active { background: #f2f2f2; }
@media only screen and (min-width: 1024px) { .select__list li:hover { background: #f2f2f2; } }

.input { position: relative; vertical-align: top; display: inline-block; }
.input input { padding: 0 15px; height: 60px; width: 100%; color: #666; font-family: "Lato", sans-serif; font-weight: 300; font-size: 16px; border: 3px solid #f2f2f2; box-sizing: border-box; display: block; }
.input input::-webkit-input-placeholder { color: #666; }
.input input::-moz-placeholder { color: #666; }
.input input:-ms-input-placeholder { color: #666; }
.input input::placeholder { color: #666; }
@media only screen and (max-width: 980px) { .input input { padding: 0 10px; height: 50px; } }
@media only screen and (max-width: 900px) { .input input { height: 42px; font-size: 14px; } }
.input .fa { position: absolute; left: 19px; top: 50%; margin-top: -9px; font-size: 19px; color: #666; transition: color 0.2s; }
@media only screen and (max-width: 980px) { .input .fa { left: 14px; } }
@media only screen and (max-width: 900px) { .input .fa { font-size: 16px; } }
.input .ui-datepicker-trigger { position: absolute; left: 19px; top: 50%; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); cursor: pointer; opacity: 0; z-index: 2; }
.input .ui-datepicker-trigger:active + .fa { color: rgba(102, 102, 102, 0.7); }
@media only screen and (min-width: 1024px) { .input .ui-datepicker-trigger:hover + .fa { color: rgba(102, 102, 102, 0.7); } }

.btn { padding: 20px 35px; color: #fff; font-family: "Lato", sans-serif; font-weight: 300; text-transform: uppercase; vertical-align: top; font-size: 16px; line-height: 20px; transition: color 0.3s, background-color 0.3s; background: #ea591b; display: inline-block; }
.btn:active { background: #92350d; }
@media only screen and (min-width: 1024px) { .btn:hover { background: #c04612; } }
@media only screen and (max-width: 980px) { .btn { padding: 15px 20px; } }
@media only screen and (max-width: 900px) { .btn { padding: 11px 25px; font-size: 14px; } }
.btn.btn_purple { background: #58357b; }
.btn.btn_purple:active { background: #251634; }
@media only screen and (min-width: 1024px) { .btn.btn_purple:hover { background: #3f2657; } }

.inf { text-align: center; color: #58357b; text-transform: uppercase; background: #ffdb00; }
.inf__in { position: relative; padding: 15px 25px; margin: 0 auto; max-width: 1482px; box-sizing: border-box; }
.inf__close { position: absolute; top: 50%; right: 0; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); background-color: transparent; transition: opacity 0.2s; background-image: url("../img/icons.png"); width: 20px; height: 20px; background-position: -924px -504px; }
.inf__close:active { opacity: 0.6; }
@media only screen and (min-width: 1024px) { .inf__close:hover { opacity: 0.8; } }
.inf strong { font-family: "Lato", sans-serif; font-weight: 700; }

.quote { margin: 50px 0 40px; font-size: 24px; line-height: 1.3; text-align: center; font-family: "Montserrat", sans-serif; font-weight: 700; }
@media only screen and (max-width: 1200px) { .quote { margin: 40px 0 30px; } }
@media only screen and (max-width: 980px) { .quote { margin: 30px 0; font-size: 20px; } }
@media only screen and (max-width: 768px) { .quote { margin: 25px 0 30px; font-size: 20px; } }
@media only screen and (max-width: 480px) { .quote { font-size: 16px; } }
.quote__top { padding: 6px 0 14px; color: #ffdb00; font-size: 46px; line-height: 1; }
@media only screen and (max-width: 768px) { .quote__top { padding-bottom: 10px; font-size: 40px; } }
.quote__text { position: relative; padding: 0 100px 32px; }
@media only screen and (max-width: 1200px) { .quote__text { padding: 0 50px 20px; } }
@media only screen and (max-width: 768px) { .quote__text { padding: 0 30px 20px; } }
@media only screen and (max-width: 480px) { .quote__text { padding: 0 0 20px; } }
.quote__text:before { position: absolute; content: ""; left: 50%; bottom: 0; margin-left: -35px; height: 1px; width: 70px; background: #dcdcdc; }

.stat { margin: 40px 0; padding: 55px 0; color: #58357b; line-height: 39px; font-size: 30px; text-align: center; text-transform: uppercase; font-family: "Montserrat", sans-serif; font-weight: 400; background: url(../img/stat-bg.png) 0 0 repeat; }
@media only screen and (max-width: 1200px) { .stat { padding: 46px 0; font-size: 26px; } }
@media only screen and (max-width: 1024px) { .stat { padding: 25px 0; font-size: 20px; line-height: 1.2; } }
@media only screen and (max-width: 768px) { .stat { margin: 20px 0; font-size: 18px; } }
@media only screen and (max-width: 480px) { .stat { padding: 15px 0; font-size: 14px; } }
@media only screen and (max-width: 480px) { .stat__in { padding: 0 10px; } }
.stat strong { color: #fff; font-size: 48px; font-family: "Montserrat", sans-serif; font-weight: 700; display: inline-block; vertical-align: text-bottom; }
@media only screen and (max-width: 1200px) { .stat strong { font-size: 40px; } }
@media only screen and (max-width: 1024px) { .stat strong { font-size: 30px; vertical-align: inherit; } }
@media only screen and (max-width: 480px) { .stat strong { font-size: 20px; } }

.hr { margin: 0; height: 1px; background: #f1f1f1; border: none; }

.reviews { margin: 55px 0 60px; }
@media only screen and (max-width: 768px) { .reviews { margin: 35px 0; } }
@media only screen and (max-width: 480px) { .reviews { margin: 20px 0 30px; } }
.reviews__title { color: #333; font-family: "Montserrat", sans-serif; font-weight: 700; font-size: 24px; line-height: 24px; text-align: center; }
.reviews__row { margin: 50px 0; *zoom: 1; }
.reviews__row:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 1024px) { .reviews__row { margin: 30px 0; } }
@media only screen and (max-width: 480px) { .reviews__row { margin: 15px 0; } }
.reviews__bot { margin-top: 60px; text-align: center; }
@media only screen and (max-width: 1024px) { .reviews__bot { margin-top: 30px; } }
@media only screen and (max-width: 480px) { .reviews__bot { margin-top: 15px; } }
.reviews .review { float: left; width: 50%; }
@media only screen and (max-width: 1024px) { .reviews .review { margin-top: 30px; width: 100%; }
  .reviews .review:first-child { margin-top: 0; } }
@media only screen and (max-width: 768px) { .reviews .review { margin-top: 15px; } }

.review { padding-right: 30px; font-size: 15px; box-sizing: border-box; *zoom: 1; }
.review:after { content: " "; display: table; clear: both; }
.review__left { float: left; margin-right: 15px; }
.review__img { position: relative; height: 126px; width: 126px; overflow: hidden; border-radius: 50%; z-index: 1; }
.review__img img { display: block; }
@media only screen and (max-width: 768px) { .review__img { display: none; } }
.review__right { float: right; width: calc(100% - 146px); }
@media only screen and (max-width: 768px) { .review__right { width: 100%; } }
.review__top { margin-bottom: 5px; }
.review__title { color: #ea591b; font-family: "Montserrat", sans-serif; font-weight: 400; font-size: 15px; text-transform: uppercase; vertical-align: top; display: inline-block; }
.review__text { position: relative; color: #666; font-size: 15px; line-height: 24px; }
.review__text:before { position: absolute; top: -14px; left: -37px; content: "“"; color: #ddd; font-family: "Montserrat", sans-serif; font-weight: 400; font-size: 93px; line-height: 1; text-transform: uppercase; }
@media only screen and (max-width: 480px) { .review__text { font-size: 14px; line-height: 1.2; } }
.review__more { color: #ea591b; }
.review .comment { margin-top: 12px; }

.rating { font-size: 0; vertical-align: top; display: inline-block; }

.star { margin-left: 2px; font-size: 0; color: #fff; vertical-align: top; display: inline-block; }
.star:first-child { margin-left: 0; }
.star.is-check { color: #ffdb00; }
.star .fa { font-size: 15px; }

.comment__user, .comment__name, .comment__text { margin-right: 2px; vertical-align: top; display: inline-block; }
.comment__user img { display: block; }
.comment__name { font-family: "Montserrat", sans-serif; font-weight: 700; }

.ui-datepicker { width: 13.4em; }
.ui-datepicker .ui-datepicker-next, .ui-datepicker .ui-datepicker-prev { cursor: pointer; }
.ui-datepicker .ui-datepicker-next:active span, .ui-datepicker .ui-datepicker-prev:active span { color: #000; }
@media only screen and (min-width: 1024px) { .ui-datepicker .ui-datepicker-next:hover span, .ui-datepicker .ui-datepicker-prev:hover span { color: #000; } }
.ui-datepicker .ui-datepicker-next span, .ui-datepicker .ui-datepicker-prev span { position: relative; font: normal normal normal 14px/1 FontAwesome; text-rendering: auto; -webkit-font-smoothing: antialiased; background: none; color: #fff; font-size: 0 !important; text-indent: 0; }
.ui-datepicker .ui-datepicker-next span:before, .ui-datepicker .ui-datepicker-prev span:before { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); font-size: 16px; content: ""; }
.ui-datepicker .ui-datepicker-next span:before { content: ""; }

.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white slick-image-url("ajax-loader.gif") center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; max-width: 100%; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-prev, .slick-next { position: absolute; top: 50%; margin-top: -14px; font: 0/0 a; text-shadow: none; color: transparent; height: 50px; background: none; }
.slick-prev:focus, .slick-next:focus { outline: none; }
.slick-prev.slick-disabled, .slick-next.slick-disabled { opacity: 0.2; }
.slick-prev:before, .slick-next:before { height: 50px; line-height: 50px; }

.slick-prev { left: 0; }
.slick-prev:before { content: "←"; display: inline-block; vertical-align: middle; font-size: 61px; color: #fff; }

.slick-next { right: 0; }
.slick-next:before { content: "→"; display: inline-block; vertical-align: middle; font-size: 61px; color: #fff; }

.slick-dots { text-align: center; position: absolute; margin: 0; bottom: 0; left: 0; right: 0; }
.slick-dots li { position: relative; display: inline-block; padding: 0 3px; }
.slick-dots li.slick-active button { opacity: 0.3; box-shadow: none; }
.slick-dots li:before { display: none; }
.slick-dots button { display: block; width: 6px; height: 6px; background: #fff; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); cursor: pointer; font: 0/0 a; text-shadow: none; color: transparent; border-radius: 50%; }
.slick-dots button:hover { box-shadow: none; }

.ico { display: inline-block; }
.ico-more { background-image: url("../img/icons.png"); width: 14px; height: 15px; background-position: -644px -532px; }



/*# sourceMappingURL=screen.css.map */
