<!-- filter -->
<div class="filter">
	<div class="filter__in">
		<!-- adults -->
		<div class="adults js-check-group">
			<div class="adults__text">
				<span>Adults:</span>
				<input class="adults__quantity js-check-quantity" type="text" readonly>
			</div>
			<div class="adults__group">
				<label class="check js-check-parents">
					<input type="checkbox" class="js-check" checked>
					<i class="icon icon-adult"></i>
				</label>
				<label class="check js-check-parents">
					<input type="checkbox" class="js-check" checked>
					<i class="icon icon-adult"></i>
				</label>
				<label class="check js-check-parents">
					<input type="checkbox" class="js-check">
					<i class="icon icon-adult"></i>
				</label>
				<label class="check js-check-parents">
					<input type="checkbox" class="js-check">
					<i class="icon icon-adult"></i>
				</label>
			</div>
		</div>
		<!-- children -->
		<div class="children js-check-group">
			<div class="children__text">
				<span>Children (0-17):</span>
				<input class="children__quantity js-check-quantity" type="text" readonly>
			</div>
			<div class="children__group">
				<label class="check js-check-parents">
					<input type="checkbox" class="js-check">
					<i class="icon icon-children"></i>
				</label>
				<label class="check js-check-parents">
					<input type="checkbox" class="js-check">
					<i class="icon icon-children"></i>
				</label>
				<label class="check js-check-parents">
					<input type="checkbox" class="js-check">
					<i class="icon icon-children"></i>
				</label>
				<label class="check js-check-parents">
					<input type="checkbox" class="js-check">
					<i class="icon icon-children"></i>
				</label>
			</div>
		</div>
		<!-- duration -->
		<div class="duration">
			<div class="duration__text">
				<span>Duration:</span>
				<input class="duration__quantity" type="text" id="amount" readonly>
			</div>
			<div class="duration__inf">
				<div class="duration__from">from</div>
				<div class="duration__to">to</div>
			</div>
			<div class="duration__range" id="slider-range"></div>
		</div>
		<!-- dates -->
		<div class="dates">
			<div class="dates__label">Departure dates:</div>
			<div class="dates__in">
				<label class="tally">
					<input type="radio" name="day">
					<div class="tally__bg"></div>
					<div class="tally__name">Th</div>
					<div class="tally__numb">10 Sep</div>
				</label>
				<label class="tally">
					<input type="radio" name="day">
					<div class="tally__bg"></div>
					<div class="tally__name">Fr</div>
					<div class="tally__numb">11 Sep</div>
				</label>
				<label class="tally">
					<input type="radio" name="day">
					<div class="tally__bg"></div>
					<div class="tally__name">Sat</div>
					<div class="tally__numb">12 Sep</div>
				</label>
				<label class="tally">
					<input type="radio" name="day" checked>
					<div class="tally__bg"></div>
					<div class="tally__name">Sun</div>
					<div class="tally__numb">13 Sep</div>
				</label>
				<label class="tally">
					<input type="radio" name="day">
					<div class="tally__bg"></div>
					<div class="tally__name">Sun</div>
					<div class="tally__numb">14 Sep</div>
				</label>
				<label class="tally">
					<input type="radio" name="day">
					<div class="tally__bg"></div>
					<div class="tally__name">Mon</div>
					<div class="tally__numb">15 Sep</div>
				</label>
				<label class="tally">
					<input type="radio" name="day">
					<div class="tally__bg"></div>
					<div class="tally__name">Tue</div>
					<div class="tally__numb">16 Sep</div>
				</label>
			</div>
		</div>
	</div>
</div>