<!-- footer -->
<footer class="footer">
	<div class="footer__in">
		<div class="footer__left">
			<a href="#" class="footer__logo"></a>
			<div class="footer__text">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Lorem ipsum dolor sit aadipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div>
		</div>
		<div class="footer__col">
			<div class="footer__title">About Us</div>
			<ul class="footer__list">
				<li><a href="#">About Us</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Contact Us</a></li>
				<li><a href="#">FAQs</a></li>
				<li><a href="#">Terms of Business</a></li>
				<li><a href="#">Sitemap</a></li>
				<li><a href="#">Jobs</a></li>
				<li><a href="#">Holiday Extras</a></li>
			</ul>
		</div>
		<div class="footer__col">
			<div class="footer__title">Holidays</div>
			<ul class="footer__list">
				<li><a href="#">All Inclusive Holidays</a></li>
				<li><a href="#">Cheap Holidays</a></li>
				<li><a href="#">Family Holidays</a></li>
				<li><a href="#">Last Minute Holidays</a></li>
				<li><a href="#">Luxury Holidays</a></li>
				<li><a href="#">Summer Holidays</a></li>
				<li><a href="#">Winter Sun Holidays</a></li>
				<li><a href="#">Self Catering Holidays</a></li>
			</ul>
		</div>
		<div class="footer__col">
			<div class="footer__title">Top Destinations</div>
			<ul class="footer__list">
				<li><a href="#">Costa Dorada</a></li>
				<li><a href="#">Dalaman</a></li>
				<li><a href="#">Fuerteventura</a></li>
				<li><a href="#">Gran Canaria</a></li>
				<li><a href="#">Ibiza</a></li>
				<li><a href="#">Lanzarote</a></li>
				<li><a href="#">Majorca</a></li>
				<li><a href="#">Malta</a></li>
			</ul>
		</div>
		<div class="footer__right">
			<div class="footer__title">Follow us</div>
			<div class="footer__text">Connect with us for exclusive content, competitions and holiday inspiration</div>
			<ul class="soc">
				<li class="soc__item">
					<a class="soc__f" href="#"><i class="fa fa-facebook"></i></a>
				</li>
				<li class="soc__item">
					<a class="soc__tw" href="#"><i class="fa fa-twitter"></i></a>
				</li>
				<li class="soc__item">
					<a class="soc__g" href="#"><i class="fa fa-google-plus"></i></a>
				</li>
				<li class="soc__item">
					<a class="soc__y" href="#"><i class="fa fa-youtube"></i></a>
				</li>
			</ul>
		</div>
	</div>
	<!-- copy -->
	<div class="copy">
		<div class="copy__in">&copy; 2015 Tours4you. All Rights Reserved.</div>
	</div>
</footer>