<!-- header -->
<header class="header">
	<div class="header__in">
		<!-- logo -->
		<a href="#" class="logo"><i class="icon-logo_home"></i></a>
		<!-- menu -->
		<ul class="menu">
			<li class="menu__item is-active">
				<a href="#">
					<i class="icon icon-hover-holidays"></i>
					<i class="icon icon-holidays"></i>
					<span>Holidays</span>
				</a>
			</li>
			<li class="menu__item">
				<a href="#">
					<i class="icon icon-cruises"></i>
					<span>Cruises</span>
				</a>
			</li>
			<li class="menu__item">
				<a href="#">
					<i class="icon icon-flights"></i>
					<span>Flights</span>
				</a>
			</li>
			<li class="menu__item">
				<a href="#">
					<i class="icon icon-deals"></i>
					<span>Deals</span>
				</a>
			</li>
			<li class="menu__item">
				<a href="#">
					<i class="icon icon-destinations"></i>
					<span>Destinations</span>
				</a>
			</li>
			<li class="menu__item">
				<a href="#">
					<i class="icon icon-estras"></i>
					<span>Estras</span>
				</a>
			</li>
		</ul>
		<div class="header__right">
			<!-- search -->
			<div class="search">
				<button class="search__btn" type="button">
					<i class="icon icon-search-white"></i>
				</button>
			</div>
			<!-- user -->
			<div class="user">
				<button class="user__btn">
					<i class="icon icon-user-white"></i>
				</button>
			</div>
		</div>
	</div>
</header>