<!-- header -->
<header class="header js-header">
	<div class="header__in">
		<!-- logo -->
		<a href="#" class="logo"></a>
		<!-- menu -->
		<ul class="menu">
			<li class="menu__item">
				<a href="#">
					<i class="icon icon-holiday"></i>
					<span>Holidays</span>
				</a>
				<div class="drop">
					<div class="drop__in js-tab-group">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod odio sequi harum nisi ad eius quas velit, rerum molestiae doloremque libero pariatur commodi aspernatur iure necessitatibus, ipsa esse ab repellendus!
					</div>
				</div>
			</li>
			<li class="menu__item">
				<a href="#">
					<i class="icon icon-cruises"></i>
					<span>Cruises</span>
				</a>
				<div class="drop">
					<div class="drop__in js-tab-group">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod odio sequi harum nisi ad eius quas velit, rerum molestiae doloremque libero pariatur commodi aspernatur iure necessitatibus, ipsa esse ab repellendus!
					</div>
				</div>
			</li>
			<li class="menu__item">
				<a href="#">
					<i class="icon icon-flight"></i>
					<span>Flights</span>
				</a>
				<div class="drop">
					<div class="drop__in js-tab-group">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod odio sequi harum nisi ad eius quas velit, rerum molestiae doloremque libero pariatur commodi aspernatur iure necessitatibus, ipsa esse ab repellendus!
					</div>
				</div>
			</li>
			<li class="menu__item">
				<a href="#">
					<i class="icon icon-deals"></i>
					<span>Deals</span>
				</a>
				<div class="drop">
					<div class="drop__in js-tab-group">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod odio sequi harum nisi ad eius quas velit, rerum molestiae doloremque libero pariatur commodi aspernatur iure necessitatibus, ipsa esse ab repellendus!
					</div>
				</div>
			</li>
			<li class="menu__item is-active">
				<a href="#">
					<i class="icon icon-destination"></i>
					<span>Destinations</span>
				</a>
				<div class="drop">
					<div class="drop__in js-tab-group">
						<ul class="drop__tab js-tab">
							<li class="js-tab-item"><a href="js-tab1">Africa</a></li>
							<li class="js-tab-item"><a href="js-tab2">Asia</a></li>
							<li class="js-tab-item"><a href="js-tab3">Europe</a></li>
							<li class="js-tab-item"><a href="js-tab4">South America</a></li>
							<li class="js-tab-item"><a href="js-tab5">North America</a></li>
							<li class="js-tab-item"><a href="js-tab6">Oceania</a></li>
						</ul>
						<div class="drop__cont js-tab-cont js-tab1">
							<div class="drop__list">
								<ul>
									<li><a href="#">Algeria</a></li>
									<li><a href="#">Angola</a></li>
									<li><a href="#">Botswana</a></li>
									<li><a href="#">Burundi</a></li>
									<li><a href="#">Cameroon</a></li>
									<li><a href="#">Cape Verde</a></li>
									<li><a href="#">Chad</a></li>
									<li><a href="#">Comoros</a></li>
								</ul>
								<ul>
									<li><a href="#">Djibouti</a></li>
									<li><a class="is-active" href="#">Egypt</a></li>
									<li><a href="#">Equatorial Guinea</a></li>
									<li><a href="#">Eritrea</a></li>
									<li><a href="#">Ethiopia</a></li>
									<li><a href="#">Gambia</a></li>
									<li><a href="#">Guinea-Bissau</a></li>
									<li><a href="#">Kenya</a></li>
								</ul>
								<ul>
									<li><a href="#">Lesotho</a></li>
									<li><a href="#">Liberia</a></li>
									<li><a href="#">Libya</a></li>
									<li><a href="#">Madagascar</a></li>
									<li><a href="#">Malawi</a></li>
									<li><a href="#">Mali</a></li>
									<li><a href="#">Mauritania</a></li>
									<li><a href="#">Mauritius</a></li>
								</ul>
								<ul>
									<li><a href="#">Morocco</a></li>
									<li><a href="#">Mozambique</a></li>
									<li><a href="#">Namibia</a></li>
									<li><a href="#">Niger</a></li>
									<li><a href="#">Nigeria</a></li>
									<li><a href="#">Rwanda</a></li>
									<li><a href="#">Senegal</a></li>
									<li><a href="#">Seychelles</a></li>
								</ul>
								<ul>
									<li><a href="#">South Africa</a></li>
									<li><a href="#">South Sudan</a></li>
									<li><a href="#">Sudan</a></li>
									<li><a href="#">Swaziland</a></li>
									<li><a href="#">Tanzania</a></li>
									<li><a href="#">Togo</a></li>
									<li><a href="#">Tunisia</a></li>
									<li><a href="#">Uganda</a></li>
								</ul>
							</div>
						</div>
						<div class="drop__cont js-tab-cont js-tab2">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam itaque magnam mollitia perspiciatis esse vel blanditiis consequuntur, sed consectetur, dolorem voluptates dolor beatae eum. Perferendis nihil voluptatem unde, et aperiam.
						</div>
						<div class="drop__cont js-tab-cont js-tab3">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem reprehenderit, modi! Quasi molestiae fuga dolorem, asperiores, amet, expedita et voluptate, explicabo impedit debitis dolor odio? Ea deleniti facere quasi optio.
						</div>
						<div class="drop__cont js-tab-cont js-tab4">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae veniam itaque porro deleniti, laborum hic nesciunt vero saepe repellendus dolorum, quis expedita ex. Laudantium velit sed, dolor fuga nesciunt quam!
						</div>
						<div class="drop__cont js-tab-cont js-tab5">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum voluptatibus, beatae nisi dicta culpa assumenda quia officiis minima, cupiditate quo nostrum expedita exercitationem maxime tempora, ad illo tenetur rem reiciendis.
						</div>
						<div class="drop__cont js-tab-cont js-tab6">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis accusantium illum iure ab, perspiciatis numquam similique architecto obcaecati animi repellat, suscipit maiores! Laborum enim labore in beatae veniam nobis totam.
						</div>
					</div>
				</div>
			</li>
			<li class="menu__item">
				<a href="#">
					<i class="icon icon-estras"></i>
					<span>Estras</span>
				</a>
				<div class="drop">
					<div class="drop__in js-tab-group">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod odio sequi harum nisi ad eius quas velit, rerum molestiae doloremque libero pariatur commodi aspernatur iure necessitatibus, ipsa esse ab repellendus!
					</div>
				</div>
			</li>
		</ul>
		<div class="header__right">
			<!-- search -->
			<div class="search">
				<button class="search__btn" type="button">
					<i class="icon icon-search"></i>
				</button>
			</div>
			<!-- user -->
			<div class="user">
				<button class="user__btn">
					<i class="icon icon-user"></i>
				</button>
			</div>
			<div class="menu-open is-resp">
				<div class="menu-open__inf">menu</div>
				<button class="menu-open__btn js-open-menu" type="button"><span></span></button>
			</div>
		</div>
	</div>
</header>