<!-- tab -->
<div class="tab js-tab-group"> 
	<ul class="tab__list js-tab">
		<li class="tab__item js-tab-item">
			<a href="js-tab1" class="tab__link">Tours</a>
		</li>
		<li class="tab__item js-tab-item">
			<a href="js-tab2" class="tab__link">hotels</a>
		</li>
		<li class="tab__item js-tab-item">
			<a href="js-tab3" class="tab__link">Flights</a>
		</li>
		<li class="tab__item js-tab-item">
			<a href="js-tab4" class="tab__link">Cars</a>
		</li>
		<li class="tab__item js-tab-item">
			<a href="js-tab5" class="tab__link">Cruise</a>
		</li>
	</ul>
	<div class="tab__in">
		<div class="tab__cont js-tab-cont js-tab1">
			<div class="select js-select">
				<span class="select__text js-select-text">Flying from?</span>
				<ul class="select__list js-select-list">
					<li data-val="var0">var0</li>
					<li data-val="var1">var1</li>
					<li data-val="var2">var2</li>
					<li data-val="var3">var3</li>
				</ul>
				<select>
					<option value="var0">var0</option>
					<option value="var1">var1</option>
					<option value="var2">var2</option>
					<option value="var3">var3</option>
				</select>
			</div>
			<div class="select js-select">
				<span class="select__text js-select-text">Where to?</span>
				<ul class="select__list js-select-list">
					<li data-val="var0">var0</li>
					<li data-val="var1">var1</li>
					<li data-val="var2">var2</li>
					<li data-val="var3">var3</li>
				</ul>
				<select>
					<option value="var0">var0</option>
					<option value="var1">var1</option>
					<option value="var2">var2</option>
					<option value="var3">var3</option>
				</select>
			</div>
			<div class="input">
				<input type="text" class="js-datepicker" placeholder="When?">
				<i class="fa fa-calendar"></i>
			</div>
			<div class="select js-select">
				<span class="select__text js-select-text">How long?</span>
				<ul class="select__list js-select-list">
					<li data-val="var0">var0</li>
					<li data-val="var1">var1</li>
					<li data-val="var2">var2</li>
					<li data-val="var3">var3</li>
				</ul>
				<select>
					<option value="var0">var0</option>
					<option value="var1">var1</option>
					<option value="var2">var2</option>
					<option value="var3">var3</option>
				</select>
			</div>
			<button class="btn" type="button">edit Search</button>
		</div>
		<div class="tab__cont js-tab-cont js-tab2">
			<div class="tab__text">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita iste natus aut, cum veritatis sapiente minus omnis rem nisi.</div>
		</div>
		<div class="tab__cont js-tab-cont js-tab3">
			<div class="tab__text">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores odio delectus id itaque explicabo quisquam!</div>
		</div>
		<div class="tab__cont js-tab-cont js-tab4">
			<div class="tab__text">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam maxime animi, sed magni iusto tenetur facilis laboriosam velit quis excepturi quaerat, eius quidem modi, minus porro laudantium exercitationem distinctio. Numquam.</div>
		</div>
		<div class="tab__cont js-tab-cont js-tab5">
			<div class="tab__text">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, fugit!</div>
		</div>
	</div>
</div>